{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Guess log for {{ hunt.name }}
{% endblock title %}
{% block main-class %}
  col-12
{% endblock main-class %}
{% block side-class %}
  col-6 col-md-4
{% endblock side-class %}
{% block layout-content %}
  <p>
    <a class="btn btn-dark" href="{% url "opal-recent-activity" %}">All recent activity</a>
    <a class="btn btn-info" href="{% url "opal-leaderboard" hunt.slug %}">Leaderboard</a>
    <a class="btn btn-primary" href="{{ hunt.get_absolute_url }}">Show puzzles</a>
  </p>
  <p>
    There have been <b>{{ num_total }} guesses</b> on this hunt.
    {% if hunt.has_started %}
      <span class="fst-italic" data-testid="opal-stats-hunt-only">Guesses made before the hunt started are not counted.</span>
    {% endif %}
  </p>
  {% include "opal/components/attempt_table.html" %}
  {% if page_obj.has_other_pages %}
    {% bootstrap_pagination page_obj justify_content="center" %}
  {% endif %}
{% endblock layout-content %}
{% comment %}
vim: ft=htmldjango
{% endcomment %}
