{% extends "layout.html" %}
{% load humanize %}
{% block title %}
  OTIS Puzzle Assembly Line
{% endblock title %}
{% block layout-content %}
  <h2>List of hunts</h2>
  <p>Coming soon!</p>
  <h2>About</h2>
  <p>
    The <b>OTIS Puzzle Assembly Line</b>, or <b>OPAL</b>,
    is a puzzle-potluck type event designed to help OTIS students
    get experience with writing and solving puzzlehunt-style puzzles.
    It's meant for beginners with little to no previous hunt experience.
  </p>
  <h2>So what is a puzzle hunt anyways?</h2>
  <p>
    Read
    <a href="https://blog.vero.site/post/puzzlehunts">Brian Chen's introduction</a>!
    Evan also has some stuff written on
    <a href="https://web.evanchen.cc/puzzlehunt.html">https://web.evanchen.cc/puzzlehunt.html</a>.
  </p>
  <p>
    In short, a puzzle gives you some data,
    and you need to get an <i>answer</i> out of this data.
    Instructions are usually not provided,
    and figuring out how to interpret the data is part of the puzzle.
  </p>
  <h2>How does OPAL work?</h2>
  <p>In OPAL, any OTIS student can participate as a solver in the event.</p>
  <p>
    In addition, each student (potentially with co-authors)
    can optionally <i>submit</i> up to one puzzle, hence the "potluck" description.
    (So you essentially get one free answer.)
    The deadlines to sign up to contribute a puzzle are shown above.
  </p>
  <p>
    Each OPAL event consists of several feeder puzzles written by students,
    plus one <i>meta-puzzle</i> set by the game master
    that uses the answers to each of the feeders.
    The answer to the meta-puzzle will be a 24-26 digit hex code.
  </p>
  <ul>
    <li>Detailed instructions for authors.</li>
    <li>Detailed instructions for solvers.</li>
  </ul>
{% endblock layout-content %}
