{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block title %}
  OPAL: Author Instructions
{% endblock title %}
{% block layout-content %}
  <p>
    <a href="{% url "opal-index" %}">↩️  Back to OPAL index</a>
  </p>
  <h2>Required reading</h2>
  <p>Advice for how to create puzzles.</p>
  <ul>
    <li>
      <a href="http://www.mit.edu/~dwilson/puzzles/puzzlewriting.html">David Wilson's puzzle-writing advice</a>
      (2014)
    </li>
    <li>
      <a href="https://blog.evanchen.cc/2021/02/18/some-puzzle-writing-thoughts-from-an-amateur/">
        Evan's puzzle-writing advice
      </a>
      (2021)
    </li>
  </ul>
  <h2>Instructions</h2>
  <ol>
    <li>
      To join as an author, sign up using the provided link
      before the signup deadline.
      You may specify there whether you wish to be a solo author
      or if you want to work with co-authors.
    </li>
    <li>
      Within a few days of the deadline (hopefully),
      Evan will assign you an answer.
      You (and co-authors) need to write a puzzle
      that gives that specific answer.
      A deadline for a "first draft" of the puzzle is given,
      and of course you need to have a final draft before the hunt begins.
    </li>
    <li>
      Puzzles should be submitted in PDF format using the
      <a href="{% static "opal-template.tex" %}">OPAL LaTeX template</a>.
    </li>
    <li>
      <p>
        Please <strong>talk to Evan</strong> as much as possible
        during the writing process.
        For example, it's probably a good idea to tell Evan
        what mechanic you come up with before actually implementing it.
        The whole point of this event is so that you can get feedback
        on the puzzle-writing process and learn from these comments.
      </p>
      <p>
        This is doubly true for beginners:
        puzzle-writing is notoriously hard to break into,
        and you'll be better off getting as much advice as you can
        on your specific drafts and ideas.
      </p>
    </li>
    <li>
      Solutions can be submitted in any format that's convenient to you.
      In practice, "link to Google doc" seems to be the easiest.
    </li>
    <li>
      Aim for easier puzzles, especially if you're writing for the first time.
      OPAL is meant to be a beginner hunt.
      Mystery-Hunt level puzzles are probably not going to be solved well.
    </li>
  </ol>
  <h2>Additional notes for beginners</h2>
  <ul>
    <li>
      If you're new to puzzle hunts, you should solve (or try to solve)
      some past puzzle hunt puzzles to learn what you're signing up for.
      I recommend the following:
      <ul>
        <li>
          <a href="https://deusovi.github.io/puzzlefiles/zelda-minihunt.pdf">Zelda minihunt</a>
        </li>
        <li>
          <a href="https://puzzles.mit.edu/aquarium/">Aquarium Puzzle
          Hunt</a>
        </li>
      </ul>
      There are <a href="https://web.evanchen.cc/puzzlehunt.html#new">more</a>
      listed on Evan's webpage.
    </li>
    <li>
      Once you get assigned an answer,
      try to think up of some <i>mechanism</i> that's related to that answer,
      and build off from there.
      Having a list of standard puzzle encodings can help with this step.
    </li>
    <li>
      Again, talk to Evan as much as you possible.
      You're even welcome to schedule Zoom calls with me to help
      work out ideas for the puzzle.
    </li>
  </ul>
{% endblock layout-content %}
