{% extends "layout.html" %}
{% load humanize %}
{% block title %}
  OPAL: Solver instructions
{% endblock title %}
{% block layout-content %}
  <p>
    <a href="{% url "opal-index" %}">↩️  Back to OPAL index</a>
  </p>
  <h2>Rules and format</h2>
  <ol>
    <li>
      The hunt is open to any OTIS students and alums
      through the OTIS-WEB account.
    </li>
    <li>
      Each hunt will consist of several feeder puzzles,
      plus one "meta-puzzle" that uses the answers to all the feeder puzzles.
      Successfully solving the meta-puzzle awards a special diamond
      (that cannot normally be obtained by other means).
    </li>
    <li>
      The answer to each puzzle will be an alphanumeric string.
      The answers are case-insensitive,
      and ignores non-alphanumeric characters.
      <ul>
        <li>
          So, for example, if the answer to a puzzle is <code>ANSWER</code>
          then <code>an$wer</code> and <code>answer123</code> will be incorrect
          but <code>An😎Swer!!</code> would be graded as correct.
        </li>
      </ul>
    </li>
    <li>
      There is no time limit to the hunt.
      You can work on it whenever you want.
      <ul>
        <li>
          Consequently, because there is no "end date" for the OPAL hunt,
          you should avoid publicly posting spoilers about the hunt,
          for future generations of OTIS.
        </li>
      </ul>
    </li>
    <li>
      By default, you get up to 20 guesses per puzzle (may be different for some puzzles).
      After 20 incorrect answers, <a href="https://w.wiki/AnYb">permadeath</a>
      occurs and you will be unable to submit.
      (If you legitimately run out of guesses, you can try to ask Evan really nicely,
      but he may or may not actually grant your request depending on how egregious your guesses were.)
    </li>
    <li>
      There are no constraints on team sizes,
      but the OPAL hunt is meant to be reasonably solvable by individuals.
      We think you will have the most fun working in teams of 1-4 people,
      but that's just a suggestion.
      <ul>
        <li>
          You're welcome to hunt with friends outside of OTIS,
          although only people with OTIS-WEB accounts will be able to
          submit answers and progress through the hunt,
          so you'll have to send them the puzzle PDF's separately.
        </li>
      </ul>
    </li>
    <li>
      This is a beginner event, so it is not meant to be competitive.
      We do not plan to rank individuals or teams by completion time.
    </li>
  </ol>
{% endblock layout-content %}
