{% extends "layout.html" %}
{% load humanize %}
{% block title %}
  OPAL: Author instructions
{% endblock title %}
{% block layout-content %}
  <p>
    <a href="{% url "opal-index" %}">↩️  Back to OPAL index</a>
  </p>
  <h2>Rules and format</h2>
  <ol>
    <li>
      The hunt is open to any OTIS students and alums
      through the OTIS-WEB account.
    </li>
    <li>
      Each hunt will consist of several feeder puzzles,
      plus one "meta-puzzle" that uses the answers to all the feeder puzzles.
    </li>
    <li>
      The answer to each puzzle will be an alphanumeric string.
      The answers are case-insensitive and whitespace-insensitive.
    </li>
    <li>
      The answer to the final meta-puzzle also corresponds to
      a valid diamond code in some way
      and serves as the prize for completing the OPAL hunt.
    </li>
    <li>
      There is no time limit to the hunt.
      You can work on them whenever you want.
    </li>
    <li>
      By default, you get up to 20 guesses per puzzle.
      After 20 incorrect answers, <a href="https://w.wiki/AnYb">permadeath</a>
      occurs and you will be unable to submit new answers.
      (If you legitimately run out of guesses, you can try to ask Evan really nicely,
      but he may or may not actually grant your request depending on how egregious your guesses were.)
    </li>
    <li>
      There are no constraints on team sizes,
      but the OPAL hunt is meant to be reasonably solvable by individuals.
      We think you will have the most fun working in teams of 1-4 people,
      but that's just a suggestion.
    </li>
    <li>
      This is a beginner event, so it is not meant to be competitive.
      We do not plan to rank individuals or teams by completion time.
    </li>
  </ol>
{% endblock layout-content %}
