{% extends "layout.html" %}
{% block title %}
  Answer log for {{ puzzle.title }}
{% endblock title %}
{% block main-class %}
  col-12
{% endblock main-class %}
{% block side-class %}
  col-6 col-md-4
{% endblock side-class %}
{% block layout-content %}
  {% if puzzle.credits %}<p class="fst-italic">{{ puzzle.credits }}</p>{% endif %}
  <p>
    {% if puzzle.content %}<a class="btn btn-primary" href="{{ puzzle.content.url }}">Download PDF</a>{% endif %}
    <a class="btn btn-info"
       href="{% url "opal-leaderboard" puzzle.hunt.slug %}">Hunt leaderboard</a>
    <a class="btn btn-secondary" href="{{ puzzle.get_absolute_url }}">Puzzle page</a>
  </p>
  <p>
    There were <b>{{ num_correct }} solves</b> and <b>{{ num_total }} guesses</b>.
    {% if puzzle.hunt.has_started %}
      <span class="fst-italic" data-testid="opal-stats-hunt-only">Guesses made before the hunt started are not counted.</span>
    {% endif %}
  </p>
  <table class="table table-striped">
    <tr class="table-dark">
      <th>#</th>
      <th>User</th>
      <th>Guess</th>
      <th>Timestamp</th>
    </tr>
    {% for attempt in attempts %}
      <tr class="{{ attempt.row_class }}" data-testid="opal-attempt-row">
        <td>
          <a href="{% url "admin:opal_opalattempt_change" attempt.pk %}">{{ forloop.counter }}</a>
        </td>
        <td>
          <a href="{% url "opal-person-log" puzzle.hunt.slug attempt.user.pk %}">{{ attempt.user.get_full_name|truncatechars:"24" }}</a>
        </td>
        {% include "opal/components/guess_cell.html" %}
        {% include "opal/components/verdict_cell.html" %}
      </tr>
    {% endfor %}
  </table>
{% endblock layout-content %}
