{% extends "layout.html" %}
{% block title %}
  Answer log for {{ puzzle.title }}
{% endblock title %}
{% block main-class %}
  col-12
{% endblock main-class %}
{% block side-class %}
  col-6 col-md-4
{% endblock side-class %}
{% block layout-content %}
  {% if puzzle.credits %}<p class="fst-italic">{{ puzzle.credits }}</p>{% endif %}
  <p>
    {% if puzzle.content %}<a class="btn btn-primary" href="{{ puzzle.content.url }}">Download PDF</a>{% endif %}
    <a class="btn btn-info"
       href="{% url "opal-leaderboard" puzzle.hunt.slug %}">Hunt leaderboard</a>
    <a class="btn btn-secondary" href="{{ puzzle.get_absolute_url }}">Puzzle page</a>
  </p>
  <p>
    There were <b>{{ num_correct }} solves</b> and <b>{{ num_total }} guesses</b>.
  </p>
  <table class="table table-striped">
    <tr class="table-dark">
      <th>#</th>
      <th>Timestamp</th>
      <th>User</th>
      <th>Guess</th>
    </tr>
    {% for attempt in attempts %}
      <tr>
        <td>
          <a href="{% url "admin:opal_opalattempt_change" attempt.pk %}">{{ forloop.counter }}</a>
        </td>
        <td>
          {% if attempt.is_correct %}
            ✅
          {% elif attempt.is_close %}
            ▶️
          {% else %}
            ✖️
          {% endif %}
          {{ attempt.created_at|date:"Y-m-d H:i" }}
        </td>
        <td>
          <a href="{% url "opal-person-log" puzzle.hunt.slug attempt.user.pk %}">{{ attempt.user.get_full_name|truncatechars:"24" }}</a>
        </td>
        <td class="{% if attempt.is_correct %}text-success{% elif attempt.is_close %}text-dark{% else %}text-danger{% endif %}">
          <tt>{{ attempt.guess|truncatechars:24 }}</tt>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock layout-content %}
