{% extends "layout.html" %}
{% load humanize %}
{% block title %}
  {{ hunt.name }}
{% endblock title %}
{% block layout-content %}
  <p>
    Good luck!
    And read the <a href="{% url "opal-rules" %}">rules</a>
    if you haven't already.
  </p>
  {% if request.user.is_superuser %}
    <p>
      <a href="{% url "admin:opal_opalhunt_change" hunt.pk %}">(Edit hunt)</a>
    </p>
  {% endif %}
  <hr />
  {% if hunt.story_text %}
    {{ hunt.story_text_rendered|safe }}
    <hr />
  {% endif %}
  <h2>List of puzzles</h2>
  <table class="table">
    <tr class="table-dark">
      <th>Title</th>
      <th>Answer</th>
    </tr>
    {% for puzzle in puzzles %}
      <tr>
        <td>
          {% if puzzle.unlocked %}
            {% if puzzle.is_metapuzzle %}
              <b>
                <a href="{{ puzzle.get_absolute_url }}">{{ puzzle.title }}</a> (meta)
              </b>
            {% else %}
              <a href="{{ puzzle.get_absolute_url }}">{{ puzzle.title }}</a>
            {% endif %}
          {% else %}
            <span class="text-secondary">???</span>
          {% endif %}
        </td>
        {% if puzzle.solved %}
          <td class="fw-bold">
            Solved: <span class="text-success">{{ puzzle.answer }}</span>
          </td>
        {% elif puzzle.unlocked %}
          <td class="fst-italic text-dark">Unlocked</td>
        {% else %}
          <td class="fst-italic text-secondary">Locked</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endblock layout-content %}
