{% extends "layout.html" %}
{% load humanize %}
{% block title %}
  {{ puzzle.title }}
{% endblock title %}
{% block layout-content %}
  {% if puzzle.credits %}<p class="fst-italic">{{ puzzle.credits }}</p>{% endif %}
  {% if puzzle.content %}
    <ul>
      <li>
        <b><a href="{{ puzzle.content.url }}">Download puzzle as PDF</a></b>
      </li>
      <li>
        Go back to <a href="{{ hunt.get_absolute_url }}">{{ hunt }}</a>.
      </li>
    </ul>
  {% else %}
    <div class="alert alert-danger">
      <h3 class="alert-heading">PDF file for this puzzle not found</h3>
      <p>If you think that's a mistake, contact Evan.</p>
      <p>
        Otherwise, go back to <a class="alert-link" href="{{ hunt.get_absolute_url }}">{{ hunt }}</a>.
      </p>
    </div>
  {% endif %}
  {% if request.user.is_superuser %}
    <div>
      <a href="{% url "admin:opal_opalpuzzle_change" puzzle.pk %}"
         title="Edit in admin"
         class="btn btn-outline-dark">Edit in admin</a>
    </div>
    <br />
  {% endif %}
  {% if can_attempt %}
    <hr />
    {% include "generic_form.html" %}
  {% elif solved %}
    <div class="alert alert-success">
      <h2 class="alert-heading">
        Answer: <tt>{{ puzzle.answer }}</tt>
      </h2>
      Congrats, you have solved this puzzle!
    </div>
  {% elif not solved %}
    <div class="alert alert-danger">You have run out of guesses for this puzzle.</div>
  {% endif %}
  <hr />
  <h3>Previous guesses</h3>
  <p>You have used {{ attempts|length }} of your {{ puzzle.guess_limit }} guesses.</p>
  <table class="table">
    <tr class="table-dark">
      <th>Guess</th>
      <th>Verdict</th>
      <th>Timestamp</th>
    </tr>
    {% for attempt in attempts %}
      <tr>
        <td>
          <tt>{{ attempt.guess }}</tt>
        </td>
        {% if attempt.is_correct %}
          <td class="text-success">Solved!</td>
        {% else %}
          <td class="text-danger">Incorrect</td>
        {% endif %}
        <td>{{ attempt.created_at }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock layout-content %}
