{% extends "layout.html" %}
{% block title %}
  Forging a diamond
{% endblock title %}
{% block layout-content %}
  <p>
    <a href="{% url 'palace-list' student.pk %}">Back to Ruby Palace</a>
  </p>
  <hr />
  {% include "otisweb/components/generic_form.html" %}
  <hr />
  <div class="alert alert-warning">
    <h3 class="alert-heading">Warning about trading</h3>
    <p>
      Some students actively share achievement codes with their friends,
      and there's currently no anti-cheating mechanism to prevent this.
      You may not want to create a diamond if you would be offended by
      people bypassing your puzzle solely to earn points.
    </p>
    <p>
      It's possible to hide the solution page using the form above,
      and/or retroactively change the code of your diamond.
      If you do both, users who previously obtained the diamond
      will not be able to see the new code.
    </p>
  </div>
{% endblock layout-content %}
