{% extends "layout.html" %}
{% block title %}
  Achievements Listing
{% endblock title %}
{% block layout-content %}
  <p class="fst-italic">
    To cash in an achievement, go to your
    {% if student_pk != None %}
      <a href="{% url "stats" student_pk=student_pk %}#headingCharisma">dashboard</a>
    {% else %}
      dashboard
    {% endif %}
    and open the Charisma meter.
  </p>
  <ul>
    <li>
      <span style="background-color: #cceecc;"><b>GREEN</b></span> diamonds
      are those that you have.
    </li>
    <li>
      <span style="background-color: #eeccee;"><b>RED</b></span> diamonds
      are those that you don't have made by Evan.
    </li>
    <li>
      <span style="background-color: #ccccee;"><b>PURPLE</b></span> diamonds
      are those that you don't have. Additionally, they are created by other
      students and can involve unorthodox steps.
    </li>
  </ul>
  <div class="list-group">
    {% for achievement in achievement_list %}
      <div class="list-group-item container"
           style="background-color: {% if achievement.obtained %}#ddffdd{% elif achievement.creator %}#ddddff{% else %}#ffddff{% endif %}">
        <div class="d-flex justify-content-between">
          <span style="color: #9c1421;">
            {% if achievement.num_found > 0 %}
              {{ achievement.diamonds }}♦️
            {% else %}
              ???
            {% endif %}
            {% if request.user.is_staff or achievement.obtained %}{{ achievement.name }}{% endif %}
          </span>
        </div>
        {% if achievement.num_found > 0 or achievement.always_show_image %}
          <span {% if not achievement.obtained and not request.user.is_staff %} style="filter: grayscale(100%) opacity(40%);" {% endif %}>
            <a href="{% url "diamond-solution" achievement.pk %}">
              {% if achievement.image %}
                <img width="64px" class="float-end" src="{{ achievement.image.url }}" />
              {% else %}
                <div width="64px" class="float-end">View solution</div>
              {% endif %}
            </a>
          </span>
          <p>
            Found by
            {% if request.user.is_staff %}
              <a href="{% url "found-listing" achievement.pk %}">
                <b>{{ achievement.num_found }} user{{ achievement.num_found|pluralize }}</b>.
              </a>
            {% else %}
              <b>{{ achievement.num_found }} user{{ achievement.num_found|pluralize }}</b>.
            {% endif %}
          </p>
        {% else %}
          <span class="float-end">❓</span>
          <p>Nobody has found this one yet!</p>
        {% endif %}
        {% if request.user.is_staff or achievement.obtained %}
          <p class="fst-italic">{{ achievement.description }}</p>
        {% else %}
          <p class="text-muted">You have not found this achievement yet.</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock layout-content %}
