{% extends "layout.html" %}
{% block title %}
  {% if viewing %}
    {{ other_user.username }}'s Achievements
  {% else %}
    Achievements Listing
  {% endif %}
{% endblock title %}
{% block layout-content %}
  <p class="fst-italic">To cash in an achievement, go to your dashboard and open the Charisma meter.</p>
  {% if viewing %}
    <div class="alert alert-info">
      You are viewing the diamonds of <b><tt>{{ other_user.username }}</tt></b> in comparison to your own.
    </div>
  {% else %}
    <p>
      To share your diamond information, share this <a href="{% url "achievements-certify" pk=pk checksum=checksum %}">URL</a>. This link expires when you gain more diamonds.
    </p>
  {% endif %}
  <ul>
    {% if viewing %}
      <li>
        <span style="background-color: #cceecc;"><b>GREEN</b></span> diamonds
        are those that both you and <b><tt>{{ other_user.username }}</tt></b> have unlocked.
      </li>
      <li>
        <span style="background-color: #cdeeeb;"><b>BLUE</b></span> diamonds
        are those that they have not unlocked while you have.
      </li>
      <li>
        <span style="background-color: #eedccc;"><b>ORANGE</b></span> diamonds
        are conversely those they have unlocked that you don't.
      </li>
      <li>
        <span style="background-color: #eeccee;"><b>RED</b></span> diamonds
        are those that neither have.
      </li>
    {% else %}
      <li>
        <span style="background-color: #cceecc;"><b>GREEN</b></span> diamonds
        are those that you have.
      </li>
      <li>
        <span style="background-color: #eeccee;"><b>RED</b></span> diamonds
        are those that you don't have.
      </li>
      <li>
        <span style="background-color: #ccccee;"><b>PURPLE</b></span> diamonds
        are those that you don't have, but are created by a student
        and might require steps not located in affiliated places.
      </li>
    {% endif %}
  </ul>
  <div class="list-group">
    {% for achievement in achievement_list %}
      <div class="list-group-item container"
           {% if viewing and not achievement.obtained and achievement.viewed_obtained %} style="background-color: #ffeddd;" {% elif viewing and achievement.obtained and not achievement.viewed_obtained %} style="background-color: #defffc;" {% elif achievement.obtained %} style="background-color: #ddffdd;" {% elif not viewing and achievement.creator %} style="background-color: #ddddff;" {% else %} style="background-color: #ffddff;" {% endif %}>
        <div class="d-flex justify-content-between">
          <span style="color: #9c1421;">
            {% if achievement.num_found > 0 %}
              {{ achievement.diamonds }}♦️
            {% else %}
              ???
            {% endif %}
            {% if request.user.is_staff or achievement.obtained %}{{ achievement.name }}{% endif %}
          </span>
        </div>
        {% if achievement.num_found > 0 or achievement.always_show_image %}
          <span {% if viewing and achievement.viewed_obtained %} {% elif not achievement.obtained and not request.user.is_staff %} style="filter: grayscale(100%) opacity(40%);" {% endif %}>
            {% if achievement.image %}
              <img width="64px" style="float: right;" src="{{ achievement.image.url }}" />
            {% else %}
              <div width="64px" style="float: right;">No image</div>
            {% endif %}
          </span>
          {% if achievement.num_found > 0 %}
            <p>
              Found by
              {% if request.user.is_staff %}
                <a href="{% url "found-listing" achievement.pk %}">
                  <b>{{ achievement.num_found }} user{{ achievement.num_found|pluralize }}</b>.
                </a>
              {% else %}
                <b>{{ achievement.num_found }} user{{ achievement.num_found|pluralize }}</b>.
              {% endif %}
            </p>
          {% else %}
            <p>Nobody has found this one yet!</p>
          {% endif %}
        {% else %}
          <span style="float: right; font-size:64px;">❓</span>
          <p>Nobody has found this one yet!</p>
        {% endif %}
        {% if request.user.is_staff or achievement.obtained %}
          <p class="fst-italic">{{ achievement.description }}</p>
        {% else %}
          <p class="text-muted">You have not found this achievement yet.</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock layout-content %}
