{% extends "layout.html" %}
{% block title %}
  Solution to {{ achievement.name }}
{% endblock title %}
{% block layout-content %}
  <div class="overflow-auto">
    <h2>{{ achievement.name }} ({{ achievement.diamonds }}♦️)</h2>
    <p class="fst-italic">{{ achievement.description }}</p>
  </div>
  {% if achievement.creator %}
    <div class="alert alert-info my-2">
      This is a user-created achievement code,
      so <b>avoid sharing it</b>.
    </div>
  {% endif %}
  {% if achievement.image %}
    <div class="text-center">
      <a href="{{ achievement.image.url }}">
        <img width="256px" src="{{ achievement.image.url }}" />
      </a>
    </div>
  {% endif %}
  <div class="my-3 alert alert-success">
    <h4 class="alert-heading">
      Answer: <strong>{{ achievement.code }}</strong>
    </h4>
    {{ achievement.solution|linebreaks }}
  </div>
  <ul>
    {% if request.user.is_superuser %}
      <li>
        <a href="{% url "found-listing" achievement.pk %}">Show found list for this diamond</a>
      </li>
    {% endif %}
    <li>
      <a href="{% url "achievements-listing" %}">List all diamonds</a>
    </li>
  </ul>
{% endblock layout-content %}
