{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block title %}
  Your Stats
{% endblock title %}
{% block layout-content %}
  <h1>{{ student.name }} — {{ level_name }}</h1>
  <p>
    You have reached <b>Level {{ level_number }}</b>,
    granting you the title of <b>{{ level_name }}</b>.
  </p>
  <p>
    Your level is defined as the sum of the four statistics below.
    Each statistic has value $\lfloor \sqrt{n} \rfloor$
    where $n$ is the number of points amassed towards that statistic.
  </p>
  <div class="accordion" id="accordion">
    {% include "rpg/meters/clubs.html" with meter=meters.clubs %}
    {% include "rpg/meters/hearts.html" with meter=meters.hearts %}
    {% include "rpg/meters/spades.html" with meter=meters.spades %}
    {% include "rpg/meters/diamonds.html" with meter=meters.diamonds %}
  </div>
  <h3>Previous levels</h3>
  <ul class="list-group">
    {% for level in obtained_levels %}
      <li class="list-group-item">
        <strong>Level {{ level.threshold }}</strong> {{ level.name }}
        {% if level.alttext %}
          <p class="fst-italic" style="white-space:pre">{{ level.alttext }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <script>
    $(function() {
        var hash = location.hash;
        if (hash == "#headingDexterity" ||
            hash == "#headingWisdom" ||
            hash == "#headingStrength" ||
            hash == "#headingCharisma") {
            var stat = hash.slice(8);
            $("#collapse" + stat).addClass("show");
        }
    });
  </script>
{% endblock layout-content %}
