{% extends "dashboard/meters/large.html" %}
{% load humanize %}
{% block meter-content %}
<p>You gain {{ meters.hearts.unit }} by spending hours on units.</p>
{% if psets %}
<table class="table table-sm">
	<thead class="table-dark">
		<tr>
			<th width="16%">{{ meters.hearts.unit }}</th>
			<th width="42%">Unit</th>
			<th width="42%">Timestamp</th>
		</tr>
	</thead>
	<tbody>
		{% for pset in psets %}
		<tr>
			<td style="color:{{ meter.hearts.color }};">+{{ pset.hours }}{{ meters.hearts.unit }}</td>
			<td><a href="{{ pset.get_absolute_url }}">{{ pset.unit }}</a></td>
			<td>{{ pset.upload.created_at }}</td>
		</tr>
		{% endfor %}
</table>
</table>
{% else %}
<p>You haven't submitted any units yet.</p>
{% endif  %}
{% endblock %}
