{% extends "dashboard/meters/large.html" %}
{% load humanize %}
{% block meter-content %}
<p>You gain
	<span style="color:{{meters.spades.color}};">{{ meters.spades.unit }}</span>
	by scoring points on
	<a href="https://web.evanchen.cc/usemo.html">USEMO</a> and OTIS quizzes.</p>

{% if student.usemo_score is not None %}
<p>On the USEMO, you scored {{ student.usemo_score }}.</p>
{% endif %}

{% if quiz_data or quest_data %}
<table class="table table-sm">
	<thead class="table-dark">
		<tr>
			<th width="16%">{{ meters.spades.unit }}</th>
			<th width="42%">Description</th>
			<th width="42%">Timestamp</th>
		</tr>
	</thead>
	<tbody>
		{% for quest in quest_data %}
		<tr style="background-color: #ffff99;">
			<td style="color:{{ meters.spades.color }};">
				<b>
					+{{ quest.spades }}{{ meters.spades.unit }}
				</b>
			</td>
			<td>
				{{ quest.title }}
			</td>
			<td>
				{{ quest.timestamp|naturaltime }}
			</td>
		</tr>
		{% endfor %}
		{% for attempt in quiz_data %}
		<tr>
			<td style="color:{{ meters.spades.color }};">
				+{{ attempt.score }}{{ meters.spades.unit }}
			</td>
			<td>
				<a href="{% url "quiz" student.id attempt.quiz.pk %}">
					{{ attempt.quiz }}
				</a>
			</td>
			<td>{{ attempt.submit_time|naturaltime }}</td>
		</tr>
		{% endfor %}
</table>
</table>
{% endif %}
{% endblock %}
