{% extends "dashboard/meters/large.html" %}
{% load humanize %}
{% block meter-content %}
<p>You gain
	<span style="color:{{meters.spades.color}};">{{ meters.spades.unit }}</span>
	through a variety of ways.
	Here are some of them:
</p>
<table class="table">
	<tr>
		<td><a href="{% url 'portal' student.id %}#quizzes">Short-answer quizzes</a></td>
		<td>2♠ &times; score</td>
	</tr>
	<tr>
		<td>Competing in <a href="https://web.evanchen.cc/usemo.html">USEMO</a> (USA only)</td>
		<td>1♠ &times; score</td>
	</tr>
	<tr>
		<td>Grading <a href="https://web.evanchen.cc/usemo.html">USEMO</a> (non-USA only)</td>
		<td>15♠</td>
	</tr>
	<tr>
		<td><a href="https://github.com/vEnhance/otis-web/blob/main/CONTRIBUTING.mkd">GitHub contributions</a></td>
		<td>Varies</td>
	</tr>
	<tr>
		<td><a href="{% url 'market-list' %}">Estimation markets</a></td>
		<td>0♠ - 4♠</td>
	</tr>
	<tr>
		<td>Submitting <a href="{% url 'mocks' student.id %}">mock olympiads</a> on time</td>
		<td>3♠ each (regardless of score)</td>
	</tr>
	<tr>
		<td><a href="{% url 'suggest-new' %}">Problem suggestions</a></td>
		<td>1♠ for each distinct unit</td>
	</tr>
</table>
<p>The above list is not exhaustive; spades can be awarded for other things too.</p>

<table class="table table-sm">
	<thead class="table-dark">
		<tr>
			<th width="16%">{{ meters.spades.unit }}</th>
			<th width="42%">Description</th>
			<th width="42%">Timestamp</th>
		</tr>
	</thead>
	<tbody>
		{% for attempt in quiz_attempts %}
		<tr>
			<td style="color:{{ meters.spades.color }};">
				+{% widthratio attempt.score 1 2 %}{{ meters.spades.unit }}
			</td>
			<td>
				<a href="{% url "quiz" student.id attempt.quiz.pk %}">
					{{ attempt.quiz }}
				</a>
			</td>
			<td>{{ attempt.submit_time }}</td>
		</tr>
		{% endfor %}

		{% for quest in quest_completes %}
		<tr>
			<td style="color:{{ meters.spades.color }};">
				<b>
					+{{ quest.spades }}{{ meters.spades.unit }}
				</b>
			</td>
			<td>
				{{ quest.title }}
			</td>
			<td>
				{{ quest.timestamp }}
			</td>
		</tr>
		{% endfor %}

		{% for guess in market_guesses %}
		<tr>
			<td style="color:{{ meters.spades.color }};">
				<b>
					+{{ guess.score|floatformat:2 }}{{ meters.spades.unit }}
				</b>
			</td>
			<td>
				<a href="{{ guess.market.get_absolute_url }}">{{ guess.market.slug }}</a>
			</td>
			<td>
				{{ guess.market.end_date }}
			</td>
		</tr>
		{% endfor %}


		{% for mc in mock_completes %}
		<tr>
			<td style="color:{{ meters.spades.color }};">
				<b>
					+3{{ meters.spades.unit }}
				</b>
			</td>
			<td>
				{{ mc.exam.family }} {{ mc.exam.number }}
			</td>
			<td>
				{{ mc.exam.due_date|default_if_none:"&mdash;" }}
			</td>
		</tr>
		{% endfor %}
		{% for u in suggest_unit_set %}
		<tr>
			<td style="color:{{ meters.spades.color }};">
				<b>
					+1{{ meters.spades.unit }}
				</b>
			</td>
			<td>
				{{ u.1 }} {{ u.2 }}
			</td>
			<td>
			</td>
		</tr>
		{% endfor %}

		{# TODO hints #}
</table>
</table>
{% endblock %}
