{% extends "dashboard/meters/large.html" %}
{% load humanize %}
{% block meter-content %}
<p>You gain
	<span style="color:{{meters.spades.color}};">{{ meters.spades.unit }}</span>
	by scoring points on quizzes and completing special quests.
	Special quests include competing in or grading for the
	<a href="https://web.evanchen.cc/usemo.html">USEMO</a>,
	and contributing on
	<a href="https://github.com/vEnhance/otis-web/blob/main/CONTRIBUTING.mkd">GitHub</a>.
</p>

{% if quiz_attempts or quest_completes %}
<table class="table table-sm">
	<thead class="table-dark">
		<tr>
			<th width="16%">{{ meters.spades.unit }}</th>
			<th width="42%">Description</th>
			<th width="42%">Timestamp</th>
		</tr>
	</thead>
	<tbody>
		{% for quest in quest_completes %}
		<tr style="background-color: #ffff99;">
			<td style="color:{{ meters.spades.color }};">
				<b>
					+{{ quest.spades }}{{ meters.spades.unit }}
				</b>
			</td>
			<td>
				{{ quest.title }}
			</td>
			<td>
				{{ quest.timestamp|naturaltime }}
			</td>
		</tr>
		{% endfor %}
		{% for attempt in quiz_attempts %}
		<tr>
			<td style="color:{{ meters.spades.color }};">
				+{{ attempt.score }}{{ meters.spades.unit }}
			</td>
			<td>
				<a href="{% url "quiz" student.id attempt.quiz.pk %}">
					{{ attempt.quiz }}
				</a>
			</td>
			<td>{{ attempt.submit_time|naturaltime }}</td>
		</tr>
		{% endfor %}
</table>
</table>
{% endif %}
{% endblock %}
