{% load humanize %}
<div class="alert alert-primary alert-dismissible mt-3">
  <h2 class="alert-heading">
    News!
    <span class="badge bg-danger">{{ num_news }}</span>
  </h2>
  {% for announcement in news.announcements %}
    <p class="mt-3">
      <span class="emoji-text">📢</span>
      <b><a class="alert-link" href="{{ announcement.get_absolute_url }}">{{ announcement.subject }}</a></b>
      | {{ announcement.created_at|naturaltime }}
    </p>
  {% endfor %}
  {% for dl in news.downloads %}
    <p class="mt-3">
      <span class="emoji-text">💾</span>
      <b><a class="alert-link" href="{{ dl.content.url }}">{{ dl }}</a></b>
      | {{ dl.created_at|naturaltime }}
      <br />
      <em class="text-muted">New file: {{ dl.description }}</em>
    </p>
  {% endfor %}
  {% for market in news.markets %}
    <p class="mt-3">
      <span class="emoji-text">📈</span>
      <b><a class="alert-link" href="{{ market.get_absolute_url }}">{{ market.title }}</a></b>
      | {{ market.start_date|naturaltime }}
      <br />
      <em class="text-muted">New market opened:
      ends {{ market.end_date|naturaltime }}</em>
    </p>
  {% endfor %}
  {% for hc in news.hanabis %}
    <p class="mt-3">
      <span class="emoji-text">🎇</span>
      <b><a class="alert-link" href="{% url "hanabi-contests" %}">{{ hc }}</a></b>
      | {{ hc.start_date|naturaltime }}
      <br />
      <em class="text-muted">New Hanabi seed active:
      ends {{ hc.end_date|naturaltime }}</em>
    </p>
  {% endfor %}
  {% for hunt in news.opals %}
    <p class="mt-3">
      <span class="emoji-text">🧩</span>
      <b><a class="alert-link" href="{% url "opal-hunt-list" %}">{{ hunt.name }}</a></b>
      | {{ hunt.start_date|naturaltime }}
      <br />
      <em class="text-muted">OPAL hunt active!</em>
    </p>
  {% endfor %}
  <form action="{% url "dismiss-news" student.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn-close" aria-label="Dismiss news"></button>
  </form>
</div>
