<div class="alert alert-warning" data-testid="us-state-alert">
  <h1 class="alert-heading">US state needed</h1>
  hi so apparently for tax reasons i'm supposed to report
  what income is coming from what US state.
  if you could take a moment to tell me what state you're from below,
  my <a href="https://w.wiki/URan" class="alert-link">CPA</a> will be real happy.
  ty for the assist.
  <form class="row row-cols-lg-auto g-2 justify-content-center mt-2"
        method="post"
        action="{% url "backfill-us-state" %}">
    {% csrf_token %}
    <div class="col-12">{{ us_state_form.us_state }}</div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Record US state</button>
    </div>
  </form>
</div>
