db.sqlite3
**.pyc
static/*
media/*
app.yaml
otisweb/static/answersheets/*.aux
otisweb/static/answersheets/*.fls
otisweb/static/answersheets/*.fdb_latexmk
otisweb/static/answersheets/*.log
otisweb/static/answersheets/*.pdf
lib/
venv
venv/
.env
.venv
evanchen-cc-*.json
env
poetry.lock
