default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
        name: ruff format
        types: [python]
      - id: ruff
        name: ruff check
        args: [--fix]
        types: [python]

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
        name: djlint reformat
        types: [html]
      - id: djlint-django
        name: djlint check
        types: [html]

  - repo: https://github.com/ecugol/pre-commit-hooks-django
    rev: v0.4.0 # Use the ref you want to point at
    hooks:
      - id: check-absent-migrations

  - repo: https://github.com/JoC0de/pre-commit-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [css, javascript]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            build,
            ci,
            chore,
            docs,
            drop,
            edit,
            perf,
            polish,
            root,
            refactor,
            revert,
            style,
            test,
          ]

  - repo: local
    hooks:
      - id: make-check
        name: Run Django checks and type checking
        entry: make check
        language: system
        pass_filenames: false
        stages: [pre-push]

      - id: make-test
        name: Run tests
        entry: make test
        language: system
        pass_filenames: false
        stages: [pre-push]

      - id: make-fmt
        name: Check code formatting
        entry: make fmt
        language: system
        pass_filenames: false
        stages: [pre-push]
