[tool.poetry]
name = "otisweb"
version = "1.9.0"
description = "OTIS-WEB Course Management System"
authors = ["Evan Chen <evan@evanchen.cc>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/vEnhance/otis-web"

[tool.poetry.dependencies]
python = ">=3.10, <4.0"
Django = "^5.1.8"
PyMySQL = "^1.1.1"
Unidecode = "^1.3.7"
crispy-bootstrap5 = "^2024.2"
django-allauth = {extras = ["socialaccount"], version = "^65.6.0"}
django-bootstrap5 = "^24.2"
django-braces = "^1.17.0"
django-crispy-forms = "^2.3"
django-debug-toolbar = "^4.4.6"
django-extensions = "^3.2.1"
django-hijack = "^3.7.1"
django-import-export = "^4.3.7"
django-markdownfield = "^0.11.0"
django-markdownify = "^0.9.3"
django-positions = "^0.6.0"
django-qr-code = "^4.1.0"
django-registration = "^3.4"
django-reversion = "^5.0.10"
django-sql-utils = "^0.7.0"
django-storages = {extras = ["google"], version = "^1.14.5"}
django-stubs = "^5.1.3"
django-stubs-ext = "^5.1.3"
mailchimp3 = "^3.0.18"
mysqlclient = "^2.2.7"
prettytable = "^3.15.1"
pyparsing = "^3.2.1"
python-dotenv = "^1.1.0"
setuptools = "^75.8.2"
stripe = "=5.5.0"
wheel = "^0.45.1"
wiki = "^0.11.1"

[tool.poetry.group.dev.dependencies]
Faker = "^33.3.1"
codespell = "^2.4.1"
coverage = {extras = ["toml"], version = "^7.8.0"}
djlint = "^1.36.4"
factory-boy = "^3.3.3"
freezegun = "^1.5.1"
ipython = "^8.33.0"
jedi = "^0.19.2"
pdbpp = "^0.10.3"
pyright = "^1.1.398"
ruff = "^0.11.2"
tblib = "^3.1.0"
toml = "^0.10.2"
types-Markdown = "^3.7.0.20250322"
types-freezegun = "^1.1.2"
types-requests = "^2.32.0.20250328"
werkzeug = "^3.1.3"

[tool.coverage.report]
show_missing = true
skip_covered = true
skip_empty = true

[tool.coverage.run]
branch = true
command_line = "manage.py test"
omit = [
  "**/site-packages/**",
  "*/migrations/*",
  "evans_django_tools/**",
  "manage.py",
  "*/admin.py",
  "fixtures/gen-dummy-data.sh",
]

[tool.pyright]
enableTypeIgnoreComments = true
exclude = ["**/node_modules", "**/typings", "**/__pycache__", ".git", "venv", ".venv", "**/migrations", "**/tests.py"]
pythonPlatform = "Linux"
pythonVersion = "3.10"
typeCheckingMode = "basic"
useLibraryCodeForTypes = true

reportAssertAlwaysTrue = "error"
reportCallInDefaultInitializer = "warning"
reportConstantRedefinition = "none"
reportDuplicateImport = "error"
reportFunctionMemberAccess = "none"
reportGeneralTypeIssues = "error"
reportImplicitStringConcatenation = "none"
reportImportCycles = "none"
reportIncompatibleMethodOverride = "none"
reportIncompatibleVariableOverride = "none"
reportIncompleteStub = "none"
reportInvalidStringEscapeSequence = "error"
reportInvalidTypeVarUse = "warning"
reportMissingImports = "error"
reportMissingModuleSource = "warning"
reportMissingTypeArgument = false
reportMissingTypeStubs = false
reportOptionalCall = "error"
reportOptionalContextManager = "error"
reportOptionalIterable = "error"
reportOptionalMemberAccess = "error"
reportOptionalOperand = "error"
reportOptionalSubscript = "error"
reportOverlappingOverload = "error"
reportPrivateUsage = "error"
reportPropertyTypeMismatch = "error"
reportSelfClsParameterName = "warning"
reportTypedDictNotRequiredAccess = "warning"
reportUnboundVariable = "error"
reportUndefinedVariable = "error"
reportUnitializedInstanceVariable = "warning"
reportUnknownArgumentType = "none"
reportUnknownMemberType = "none"
reportUnknownParameterType = "error"
reportUnknownVariableType = "none"
reportUnnecessaryCast = "error"
reportUnnecessaryComparison = "error"
reportUnnecessaryIsInstance = "error"
reportUnsupportDunderAll = "warning"
reportUntypedBaseClass = "none"
reportUntypedClassDecorator = "none"
reportUntypedFunctionDecorator = "none"
reportUntypedNamedTuple = "error"
reportUnusedCallResult = "none"
reportUnusedClass = "error"
reportUnusedCoroutine = "error"
reportUnusedFunction = "error"
reportUnusedImport = "warning"
reportUnusedNamedTuple = "error"
reportUnusedVariable = "error"
reportWildcardImportFromLibrary = "warning"
strictDictionaryInference = false
strictListInference = false
strictParameterNoneValue = false
strictSetInference = false

[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"

[tool.codereviewdoctor]
disable = ["tall-model", "missing-related-name", "checking-settings-debug", "nullable-string-field"]

[tool.codespell]
skip = "roster/country_abbrevs.py,*/migrations/*.py,poetry.lock"
count = ""
quiet-level = 3
ignore-words-list = "assertIn"

[tool.djlint]
profile = "django"
indent = 2
ignore = "D018,H006,H013,H021"
format_css = true
format_js = true

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F", "I", "DJ"]
