Django==3.0.7
django-bootstrap4>=1.0.1
django-crispy-forms>=1.9.0
django-positions>=0.6.0
django-import-export>=2.0.1
django-hijack>=2.1.10
django-hijack-admin>=2.1.10
django-registration>=3.1
django-storages[google]>=1.9.1
mysqlclient>=1.4.6
wheel>=0.33.1
boto>=2.49.0
