Django>=1.11.4
django-positions>=0.5.5
django-import-export>=0.4.5
django-hijack>=2.1.4
django-hijack-admin>=2.1.4
django-registration>=2.2
django-storages>=1.6.5
gunicorn>=19.7.1
mysqlclient>=1.3.10
wheel>=0.29.0
boto>=2.48.0
psycopg2>=2.7.3
