{% extends "layout.html" %}
{% load static %}
{% block title %}
  Authorized instructor listing
{% endblock title %}
{% block layout-content %}
  <p>
    This page lists authorized instructors
    who have additionally agreed to be contacted with additional requests.
  </p>
  {% if current_assistant %}
    {% if current_assistant.ad_enabled %}
      <p>
        You can <a href="{% url "ad-update" %}">update your listing below</a> if you want.
      </p>
    {% else %}
      <div class="alert alert-primary">
        You are currently <strong>not</strong> on the listing below.
        To add yourself, <a href="{% url "ad-update" %}">enable your entry</a>.
      </div>
    {% endif %}
  {% elif request.user.is_staff %}
    <p>
      Although you are a staff member, you are not registered as an authorized instructor.
      Contact Evan if you think that's a mistake.
    </p>
  {% endif %}
  {% for assistant in assistants %}
    <hr />
    <h2>
      {{ assistant.name }}
      {% if assistant.user == request.user %}
        <a href="{% url "ad-update" %}">(edit)</a>
      {% endif %}
    </h2>
    {% if assistant.ad_blurb %}<div>{{ assistant.ad_blurb|linebreaks }}</div>{% endif %}
    <div class="font-monospace">
      {% if assistant.ad_url %}
        <p>
          ⛺ <a href="{{ assistant.ad_url }}">{{ assistant.ad_url }}</a>
        </p>
      {% endif %}
      {% if assistant.ad_url %}
        <p>
          📧 <a class="font-mono" href="mailto:{{ assistant.ad_email }}">{{ assistant.ad_email }}</a>
        </p>
      {% endif %}
    </div>
  {% endfor %}
{% endblock layout-content %}
