{% extends 'layout.html' %}
{% load static %}

{% block css %}
<link href="{% static 'chosen/chosen.css' %}" rel="stylesheet" />
<style type="text/css">
ul.chosen-choices {
	border: 2px solid #aaa;
}
</style>
{% endblock %}

{% block scripts %}
<script src="{% static 'chosen/chosen.jquery.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("select.chosen-select").chosen({
		placeholder_text : "...",
	});
});
</script>
{% endblock %}

{% block layout-content %}
<p>Use this form to adjust the unlocked unit for this student.
This student has submitted <b>{{ num_psets }} problem sets</b>.
</p>
{% include "generic-form.html" with submit_name="Advance" %}

<p>For your reference, here is the existing curriculum.</p>
{% include 'dashboard/list_curriculum.html' %}

{% include 'dashboard/back_link.html' %}
{% endblock %}
