{% extends 'layout.html' %}
{% block layout-content %}
<div class="alert {% if replace %}alert-info{% else %}alert-success{% endif %}">
<p>The auto-advancer made the following changes:</p>
<ul>
	{% if replace %}
	<li><strong class="text-info">{{ student }}</strong> remains at
		<strong class="text-info">{{ student.num_units_done }} units</strong>
		completed.</li>
	<li>The unit {{ finished }} was deleted.</li>
	{% else %}
	<li><strong class="text-info">{{ student }}</strong> has increased to
		<strong class="text-info">{{ student.num_units_done }} units</strong>
		done now.</li>
	<li>The unit {{ finished }} is completed.</li>
	{% endif %}
	{% if target %}
	<li>The unit <strong class="text-success">{{ target }}</strong> was unlocked.</li>
	{% else %}
	<li><strong class="text-warning">No new unit was unlocked.</strong>
		There wasn't one to unlock.</li>
	{% endif %}
</ul>
</div>
<p>You can close this window if you are done.</p>
{% if target and alternatives %}
<p>If you want to unlock a different unit instead,
	choose from the list below:</p>
<table class="table curriculum">
{% for unit in alternatives %}
<tr class="subject{{unit.group.subject}}">
	<td style="text-align: right; font-size: 70%; width:7em;">
		<tt>{{ unit.position }} {{ unit.code }}</tt></td>
	<td>
	<a href="{% url "auto-advance" student.id target.id unit.id %}">
		{{ unit.group.name }}
	</a>
	</td>
</tr>
{% endfor %}
</table>
</ul>
{% endif %}
{% endblock %}
