{% extends 'layout.html' %}
{% block layout-content %}
<p>The auto-advancer made the following changes:</p>
<ul>
	{% if replace %}
	<li><strong class="text-info">{{ student }}</strong> remains at
		<strong class="text-info">{{ student.num_units_done }} units</strong>
		completed.</li>
	<li>The unit {{ finished }} was deleted.</li>
	{% else %}
	<li><strong class="text-info">{{ student }}</strong> has increased to
		<strong class="text-info">{{ student.num_units_done }} units</strong>
		done now.</li>
	<li>The unit {{ finished }} is completed.</li>
	{% endif %}
	{% if added %}
	<li>The unit <strong class="text-success">{{ added }}</strong> was unlocked.</li>
	{% else %}
	<li><strong class="text-warning">No new unit was unlocked.</strong>
		There wasn't one to unlock.</li>
	{% endif %}
</ul>
<p>You can close this window if you are done.</p>
{% if added %}
<p>If you want to unlock a different unit instead,
	choose from the list below:</p>
<ul>
{% for unit in alternatives %}
	<li>
		<a href="{% url "auto-advance" student.id added.id unit.id %}">
			Unlock <strong>{{ unit }}</strong> instead.
		</a>
	</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
