{% extends 'layout.html' %}
{% block layout-content %}
<p>The auto-advancer made the following changes:</p>
<ul>
	<li><b style="color:red;">{{ student }}</b> has
		<b style="color:red;">{{ student.num_units_done }} units</b> done now.</li>
	<li>The unit {{ finished }} is completed.</li>
	{% if added %}
	<li>The unit <b style="color:red;">{{ added }}</b> was unlocked.</li>
	{% else %}
	<li><b style="color:red;">No new unit was unlocked.</b> There wasn't one to unlock.</li>
	{% endif %}
</ul>
<p>You can close this window.</p>
{% endblock %}
