{% extends "layout.html" %}
{% block layout-content %}
  <p>
    Hi, so apparently for tax reasons Evan is supposed to report
    what income is coming from what US state.
    If you could pick the state you live in below,
    his <a href="https://w.wiki/URan">CPA</a> will be real happy.
    Thanks for the assist!
  </p>
  <p>
    This is also recorded on your registrations from previous years,
    so you should only ever need to do this once.
  </p>
  {% include "otisweb/components/generic_form.html" with submit_name="Submit" %}
{% endblock layout-content %}
