{% extends 'layout.html' %}
{% load static %}

{% block css %}
{% if enabled %}
<link href="{% static 'chosen/chosen.css' %}" rel="stylesheet" />
{% endif %}
{% endblock %}

{% block scripts %}
{% if enabled %}
	<script src="{% static 'chosen/chosen.jquery.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("td.unit-select > select").chosen({
			placeholder_text : "(none)",
		});
	});
	</script>
{% endif %}
{% endblock %}

{% block layout-content %}
<p><a href="{% url "dashboard" student.id %}">Back to Dashboard</a></p>

For a description of what these units are,
see the <a href="{% url "synopsis" %}">catalog synopsis</a>.

<form action="{{ request.path }}" method="post">
{% csrf_token %}

{% if form.non_field_errors %}
<ul class="form_error_messages">
	{% for err in form.non_field_errors %}
	<li class="form_error_message">{{ err }}</li>
	{% endfor %}
</ul>
{% endif %}

<table class="table form-table">
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}

{% if enabled %}
<tr>
	<td><input type="submit" name="submit" value="Update"></td>
</tr>
{% endif %}

{% for field in form.visible_fields %}
<tr class="subject{{ field.subject }}">
	<td class="unit-select">
		{{ field }}
		{% if field.errors %}
			<ul class="errorlist">
			{% for err in field.errors %}
				{{ err }}
			{% endfor %}
			</ul>
		{% endif %}
	</td>
	<th>{{ field.label }}</th>
	<td>{{ field.help_text }}</td>
</tr>
{% endfor %}

{% if request.user.is_staff %}
<tr>
	<td><input type="submit" name="submit" value="Update"></td>
</tr>
{% endif %}

</table>

</form>

{% endblock %}
