{% extends "layout.html" %}
{% load static %}
{% load otis_extras %}
{% block scripts %}
  {% if enabled %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("td.unit-select > select").chosen({
                placeholder_text: "...",
            });
        });
    </script>
  {% endif %}
{% endblock scripts %}
{% block layout-content %}
  {% include "dashboard/components/back_link.html" %}
  For a description of what these units are,
  see the <a href="{% url "catalog" %}">unit catalog</a>.
  {% if form.errors %}
    <div class="alert alert-danger">
      <ul>
        {% for field in form %}
          {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <table class="table form-table">
      {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
      {% if enabled %}
        <tr>
          <td>
            <button type="submit" class="btn btn-sm btn-success">{{ submit_name|default:"Submit" }}</button>
          </td>
        </tr>
      {% endif %}
      {% for field in form.visible_fields %}
        <tr class="subject{{ field.subject }}">
          <td class="unit-select">
            {% if enabled %}
              {{ field }}
            {% else %}
              {{ field|display_initial_choice }}
            {% endif %}
          </td>
          <td>
            <b>{{ field.label }}</b>
          </td>
          <td>{{ field.help_text }}</td>
        </tr>
      {% endfor %}
      {% if enabled %}
        <tr>
          <td>
            <button type="submit" class="btn btn-small btn-success">{{ submit_name|default:"Submit" }}</button>
          </td>
        </tr>
      {% endif %}
    </table>
  </form>
{% endblock layout-content %}
