{% extends "layout.html" %}
{% load static %}
{% block layout-content %}
  {% if form %}
    <h1>Decision form</h1>
    <p>
      You should submit this form in order to register for a year of OTIS.
      The current year is <b>{{ container.semester }}</b>.
    </p>
    <p>
      As part of this, you need to sign and upload the following form
      with your parent or guardian:
    </p>
    <div class="alert alert-primary text-center">
      <a href="{% static "info/decision-form.pdf" %}" class="alert-link">⬇️Download decision form (PDF)</a>
    </div>
    <p>
      If you have any additional special considerations,
      please send those in an email to Evan.
      The purpose of this form is just to automate the setup process
      on the website.
    </p>
    <p>
      <strong>Please use an actual name</strong>.
      Nicknames or other names you go by are OK too, as long as you're consistent
      (e.g. if you send me a payment via Paypal/Zelle/Venmo,
      it should be under the same name, otherwise it may get mismatched).
      But please avoid changing this to a username or other unrecognizable string,
      because it's confusing for Evan.
    </p>
    <h1>Please fill the following in...</h1>
    {% include "otisweb/components/generic_form.html" with submit_name="Register" %}
  {% else %}
    <p>
      <strong>You have submitted a decision form for this year.</strong>
      No action is needed from you.
    </p>
    <p>
      If it has been more than 48 hours and you still do not have access
      to the portal for this year from the
      <a href="{% url "top" %}">index page</a>,
      please contact Evan to see what's going on.
    </p>
  {% endif %}
{% endblock layout-content %}
{% block scripts %}
  <script type="text/javascript">
      $(() => {
          $("select").chosen();
      });
  </script>
{% endblock scripts %}
