<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="OTIS-WEB Internal Django Website" />
    <meta name="keywords" content="otis" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Giga-Chart • OTIS-WEB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.3/cr-1.6.1/fc-4.2.1/fh-3.3.1/datatables.min.css"
          rel="stylesheet" />
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.3/cr-1.6.1/fc-4.2.1/fh-3.3.1/datatables.min.js"
            type="text/javascript"></script>
  </head>
  <body>
    <p style="text-align: center">{{ title }}</p>
    {{ table|safe }}
  </body>
  <script>
    // hack: we pretend there's only one table
    table = $('table');

    table.addClass("display", "cell-border", "compact");

    table.DataTable({
        paging: false,
        colReorder: true,
        fixedColumns: true,
        fixedHeader: true,
    });
  </script>
</html>
