{% extends "layout.html" %}
{% block layout-content %}
<h1>My Student IDs</h1>
<table class="table">
  <thead>
    <tr>
      <th>Semester</th>
      <th>Student ID</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <td>{{ student.semester }}</td>
      <td><span class="student-id">{{ student.pk }}</span></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">No student records found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock layout-content %}
