{% extends "layout.html" %}
{% block layout-content %}
  <p>Below are the student ID numbers for all your participations in OTIS.</p>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Semester</th>
        <th>Student ID</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td>
            <a href="{{ student.get_absolute_url }}">{{ student.semester }}</a>
          </td>
          <td>
            <a href="{{ student.get_absolute_url }}"><span class="student-id">{{ student.pk }}</span></a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">No student records found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock layout-content %}
