{% extends 'layout.html' %}

{% block layout-content %}
<p>A <b>unit inquiry</b> lets you make requests
for changes to your set of units.
Here you can open new inquiries
and see the status of previous ones.</p>
<p>I try to respond to inquiries somewhat regularly,
but if I don't get to yours for a few days,
please send me a reminder.</p>

<h2>New inquiry</h2>
{% include "generic-form.html" with submit_name="Inquire" %}

<h2>Current inquiries</h2>
<table>
	<tr>
		<th>Created</th>
		<th>Status</th>
		<th>Action</th>
		<th>Unit</th>
		<th>Last change</th>
	</tr>
	{% for inquiry in inquiries %}
	<tr>
		<td>{{ inquiry.created_at|date:"Y-m-d" }}</td>
		<td>
			{% if inquiry.status == "NEW" %}
			Pending
			{% elif inquiry.status == "ACC" %}
			<b style="color:green;">Approved</b>
			{% elif inquiry.status == "REJ" %}
			<b style="color:red;">Rejected</b>
			{% elif inquiry.status == "HOLD" %}
			<b style="color:orange;">On hold</b>
			{% endif %}
		</td>
		<td>{{ inquiry.get_action_type_display }}</td>
		<td>{{ inquiry.unit }}</td>
		<td>
			{% if inquiry.status == "NEW" %}
			{% if request.user.is_staff %}
			<a href="{% url "approve-inquiry" inquiry.id %}">(approve)</a>
			{% else %}
			(none)
			{% endif %}
			{% else %}
			{{ inquiry.updated_at|date:"Y-m-d" }}
			{% endif %}

			{% if request.user.is_staff %}
			<a href="{% url "edit-inquiry" inquiry.id %}">(edit)</a>
			{% endif %}
		</td>
	</tr>
	{% if inquiry.explanation %}
	<tr>
	<td></td>
	<td></td>
	<td colspan="3"><i>{{ inquiry.explanation }}</i></td>
	</tr>
	{% endif %}
	{% endfor %}
</table>

<h2>Current units</h2>
<p>For your reference, here is the existing curriculum.</p>
{% include 'dashboard/list_curriculum.html' %}

<h2>Instructions</h2>
<p>There are a currently just two options.</p>
<ul>
	<li><b>Drop</b>:
		This removes a unit entirely from your list.</li>
	<li><b>Add</b>:
		The unit is added if it wasn't
		there already, and moreover is automatically unlocked.
		</li>
</ul>
<p>Requests to DROP a unit are approved automatically.
Also, your first few inquiries will probably be approved
automatically as well (be careful what you wish for!).
Other unit inquiries are processed manually.</p>

{% include 'dashboard/back_link.html' %}
{% endblock %}
