{% extends "layout.html" %}
{% load static %}
{% load otis_extras %}
{% block css %}
  <style type="text/css">
      a.chosen-single {
          border: 2px solid #aaa;
          background-color: #fff;
          border-radius: 5px;
      }
      .btn-xs {
        padding: 0.1rem 0.25rem;
        font-size: 0.75rem;
      }
  </style>
{% endblock css %}
{% block scripts %}
  <script type="text/javascript">
      $(document).ready(function() {
          $("#id_unit").chosen({
              placeholder_text: "...",
          });
      });
  </script>
{% endblock scripts %}
{% block title %}
  Unit petition
{% endblock title %}
{% block layout-content %}
  <p>
    A <b>unit petition</b> lets you make requests for changes to your set of units.
    Here you can open new petitions and see the status of previous ones.
  </p>
  <p>
    I try to respond to petitions somewhat regularly,
    but if I don't get to yours for a few days, please send me a reminder.
  </p>
  <h2>New petition</h2>
  {% include "generic_form.html" with submit_name="Send" %}
  {% if request.user|getconfig:"show_unit_petitions" %}
    <h2>Current petitions</h2>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Created</th>
          <th>Unit</th>
          <th>Action</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for inquiry in inquiries %}
          <tr>
            <td title="{{ inquiry.created_at|date:"r" }}">{{ inquiry.created_at|date:"M d" }}</td>
            <td>
              <strong>{{ inquiry.unit }}</strong>
            </td>
            <td>{{ inquiry.get_action_type_display }}</td>
            <td>
              {% if inquiry.status == "INQ_NEW" %}
                Pending
              {% elif inquiry.status == "INQ_ACC" %}
                <strong class="text-success">Accepted</strong>
              {% elif inquiry.status == "INQ_REJ" %}
                <strong class="text-danger">Rejected</strong>
              {% elif inquiry.status == "INQ_CANC" %}
                <strong class="text-danger">Canceled</strong>
              {% elif inquiry.status == "INQ_HOLD" %}
                <strong class="text-warning">On hold</strong>
              {% endif %}
            </td>
            <td>
              {% if inquiry.status == "INQ_NEW" %}
                <form action="{% url 'inquiry-cancel' inquiry.pk %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-danger btn-xs"
                    type="submit"
                    onclick="return confirm('Are you sure you want to cancel this petition?')">Cancel</button>
                </form>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4" class="fst-italic">{{ inquiry.explanation }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <h2>Current units</h2>
  <p>For your reference, here is the existing curriculum.</p>
  {% include "dashboard/curriculum_list.html" %}
  <h2>Instructions</h2>
  <p>There are currently three permitted actions.</p>
  <ul>
    <li>
      <b>Unlock</b>:
      The unit is added if it wasn't there already,
      and moreover the unit is automatically unlocked.
      The first few petitions of this type are automatically processed;
      the rest require manual review from Evan.
    </li>
    <li>
      <b>Add for later</b>:
      The unit is added to the list, but not unlocked.
      Petitions of this form are processed automatically.
    </li>
    <li>
      <b>Drop</b>:
      This removes a unit entirely from your list.
      (Be careful what you wish for!)
      Note that this does not automatically "replace" the dropped unit.
    </li>
  </ul>
  {% include "dashboard/back_link.html" %}
{% endblock layout-content %}
