{% extends 'layout.html' %}
{% load static %}

{% block css %}
<style type="text/css">
	body {
		background-color: white !important;
	}

	table.table {
		border-collapse: collapse;
	}
</style>

{% endblock %}
{% block base-content %}
<div class="container">
	<h1>Invoice for {{ student.name }}</h1>
	<p>
		<small>
			<a href="{% url "invoice-standalone" student.id checksum %}">
				https://otis.evanchen.cc{% url "invoice-standalone" student.id checksum %}
			</a>
		</small>
	</p>
	<hr />
	{% include "roster/invoice-table.html" %}
</div>

{% endblock %}
