{% load static %}
{% load otis_extras %}

<div class="container">
	<div class="row">
		<div class="col-4">
			<img width="150px" src="{% static 'img/otis-logo-v2018.svg' %}" /> <br />
			<tt>web.evanchen.cc</tt>
		</div>
		<div class="col-8">
			<table class="table w-100">
				<tr>
					<th>Bill to</th>
					<td>{{ invoice.student.name }}</td>
				</tr>
				<tr>
					<th>Course</th>
					<td>{{ invoice.student.semester }}</td>
				</tr>
				<tr>
					<th>Date</th>
					<td>{{ invoice.updated_at|date:"Y-m-d" }}</td>
				</tr>
				<tr>
					<th>Invoice #</th>
					<td>{{ invoice.student.id|stringformat:"07d" }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table w-100">
				<tbody>
					<thead class="table-dark">
						<tr>
							<th class="text-center" colspan="2">Item</th>
							<th class="text-center">Amount</th>
						</tr>
					</thead>

				<tbody>
					<tr>
						<td>Semesters</td>
						<td>${{ invoice.prep_rate }} &times; {{ invoice.preps_taught }}</td>
						<td class="text-end">{{ invoice.prep_total|floatformat:2 }}</td>
					</tr>
					{% if invoice.hours_taught > 0 %}
					<tr>
						<td>Hourly</td>
						<td>${{ invoice.hour_rate }} &times; {{ invoice.hours_taught }}</td>
						<td class="text-end">{{ invoice.hours_total|floatformat:2 }}</td>
					</tr>
					{% endif %}
					<tr>
						<td colspan="2">Extras</td>
						<td class="text-end">{{ invoice.extras|stringformat:"+.2f" }}</td>
					</tr>
					<tr>
						<td colspan="2">Adjustment</td>
						<td class="text-end">{{ invoice.adjustment|stringformat:"+.2f" }}</td>
					</tr>
					<tr>
						<td colspan="2">Total cost</td>
						<td class="text-end">{{ invoice.total_cost }}</td>
					</tr>
					<tr>
						<td colspan="2">Total paid</td>
						<td class="text-end">{{ invoice.total_paid }}</td>
					</tr>
				</tbody>

				<tfoot>
					<tr class="{% if invoice.total_owed > 0 %}table-warning{% else %}table-info{% endif %}">
						<th colspan="2">Total owed to Evan</th>
						{% if invoice.total_owed <= 0 %}
						<th class="text-success text-end">{{ invoice.total_owed }}</th>
						{% else %}
						<th class="text-danger text-end">{{ invoice.total_owed }}</th>
						{% endif %}
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="row">
		<a href="{{ "PARENT_INFO_URL"|getenv }}" class="btn btn-primary col-xs-12 col-sm-6">
			Payment methods
		</a>
		<a href="//web.evanchen.cc/upload/otis-syllabus.pdf" class="btn btn-secondary col-xs-12 col-sm-6">
			Course syllabus
		</a>
	</div>
</div>
