{% extends 'layout.html' %}

{% block layout-content %}
<p>Payment information linked can be found in the OTIS
<a href="http://web.evanchen.cc/upload/otis-syllabus.pdf">syllabus</a>
and in more detail in the
<a href="http://web.evanchen.cc/private/parent-info.pdf">parent info</a>.</p>

{% if invoice %}
<center>
<table>
<tbody>
	<tr>
		<th>Item</th>
		<th>Amount</th>
	</tr>
	<tr>
		<td>Preparation cost</td>
		<td>{{ invoice.PREP_RATE }} &times; {{ invoice.preps_taught }}</td>
	</tr>
	<tr>
		<td>Hourly cost</td>
		<td>{{ invoice.HOUR_RATE }} &times; {{ invoice.hours_taught }}</td>
	</tr>
	<tr>
		<td>Total cost</td>
		<td>{{ invoice.total_cost }}</td>
	</tr>
	<tr>
		<td>Total paid</td>
		<td>{{ invoice.total_paid }}</td>
	</tr>
	<tr>
		<td>Total owed</td>
		<th>{{ invoice.total_owed }}</th>
	</tr>
</tbody>
</table>
</center>

<p>This invoice was last updated on {{ invoice.updated_at }} server time.</p>

<p>Please contact me if you think there are any errors
(I make mistakes every year!).
Detailed invoices with full dates, lecture names, et cetera
are available on request.</p>
<p>If you have an assistant instructor,
that payment should be done separately.</p>

	{% if request.user.is_staff %}
	<ul>
	<li>(Staff) <a href="{% url "edit-invoice" invoice.id %}">Edit invoice</a></li>
	</ul>
	{% endif %}

{% else %}
<p><b>No invoice is currently available.</b></p>
{% endif %}

<p><a href="{% url "dashboard" student.id %}">Back to Dashboard</a></p>
{% endblock %}
