{% extends "layout.html" %}
{% block layout-content %}
  <p>
    Showing the current enrollments for <b>{{ semester }}</b>.
  </p>
  <table class="table">
    {% for row in chart %}
      <tr class="subject{{ row.group__subject }}">
        <th class="text-end">{{ row.student_dicts|length }}</th>
        <td>
          {{ row.group__name }}<sup class="text-superscript">{{ row.code }}</sup>
        </td>
        <td>
          <span style="font-size:60%">
            {% for s in row.student_dicts %}
              <a class="tooltip-link"
                 title="{{ s.full_name }}"
                 href="{% url "portal" s.pk %}"
                 style="color:black">
                {{ s.short_name }}</a>,
              {% endfor %}
            </span>
          </td>
        </tr>
      </tr>
    {% endfor %}
  </table>
{% endblock layout-content %}
