{% extends "layout.html" %}
{% load static %}
{% load otis_extras %}
{% block css %}
  <style type="text/css">
      .ts-control {
          border: 2px solid #aaa;
          background-color: #fff;
          border-radius: 5px;
      }

      .btn-xs {
          padding: 0.1rem 0.25rem;
          font-size: 0.75rem;
      }
  </style>
{% endblock css %}
{% block scripts %}
  <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
          otisSelect("#id_unit");
      });
  </script>
{% endblock scripts %}
{% block title %}
  Unit petition
{% endblock title %}
{% block layout-content %}
  <p>
    A <b>unit petition</b> lets you request changes to your units.
    Here you can open new petitions and see the status of previous ones.
  </p>
  <ul>
    <li>Your first few petitions are auto-approved by OTIS-WEB.</li>
    <li>
      After that, petitions will be manually reviewed by Evan.
      This may take 1-2 days, but usually not longer than that.
    </li>
    <li>
      If you submit an egregious amount of petitions
      relative to the number of completed units
      (i.e., you are requesting units with no intention of actually working on them),
      then OTIS-WEB may rate-limit you and prevent further petition usage.
      In that case, you'll need to contact Evan manually and beg for forgiveness.
    </li>
  </ul>
  <h2>New petition</h2>
  {% include "otisweb/components/generic_form.html" with submit_name="Send" %}
  {% if request.user|getconfig:"show_unit_petitions" %}
    <h2>Current petitions</h2>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Created</th>
          <th>Unit</th>
          <th>Action</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for petition in petitions %}
          <tr>
            <td title="{{ petition.created_at|date:"r" }}">{{ petition.created_at|date:"M d" }}</td>
            <td>
              <strong>{{ petition.unit }}</strong>
            </td>
            <td>{{ petition.get_action_type_display }}</td>
            <td>
              {% if petition.status == "PET_NEW" %}
                Pending
              {% elif petition.status == "PET_ACC" %}
                <strong class="text-success">Accepted</strong>
              {% elif petition.status == "PET_REJ" %}
                <strong class="text-danger">Rejected</strong>
              {% elif petition.status == "PET_CANC" %}
                <strong class="text-danger">Canceled</strong>
              {% elif petition.status == "PET_HOLD" %}
                <strong class="text-warning">On hold</strong>
              {% endif %}
            </td>
            <td>
              {% if petition.status == "PET_NEW" %}
                <form action="{% url 'petition-cancel' petition.pk %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-danger btn-xs"
                          type="submit"
                          onclick="return confirm('Are you sure you want to cancel this petition?')">Cancel</button>
                </form>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4" class="fst-italic">{{ petition.explanation }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <h2>Current units</h2>
  <p>For your reference, here is the existing curriculum.</p>
  {% include "dashboard/components/curriculum.html" %}
  <h2>Instructions</h2>
  <p>There are currently four permitted actions.</p>
  <ul>
    <li>
      <b>Unlock</b>:
      The unit is added if it wasn't there already,
      and moreover the unit is automatically unlocked.
      The first few petitions of this type are automatically processed;
      the rest require manual review from Evan.
    </li>
    <li>
      <b>Add for later</b>:
      The unit is added to the list, but not unlocked.
      Petitions of this form are processed automatically.
    </li>
    <li>
      <b>Lock</b>:
      The unit is removed from the unlocked list,
      but not deleted from your list.
      Note this does not automatically "replace" the dropped unit.
    </li>
    <li>
      <b>Drop</b>:
      This removes a unit entirely from your list.
      (Be careful what you wish for!)
      Note this does not automatically "replace" the dropped unit.
    </li>
  </ul>
  {% include "dashboard/components/back_link.html" %}
{% endblock layout-content %}
