{% extends 'layout.html' %}
{% block title %}Instructor list{% endblock %}

{% block layout-content %}
{% regroup students by assistant as instructor_list %}

<h2>List of instructors</h2>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Students</th>
	</tr>
	{% for igroup in instructor_list %}
	{% with instructor=igroup.grouper %}
	<tr>
		<td>
			<a href="{% url "admin:roster_assistant_change" instructor.pk %}">
				{{ instructor.name }}
			</a>
			<br>
			{{ instructor.shortname }}
		</td>
		<td>
			<code>{{ instructor.user.email|urlize }}</code>
		</td>
		<td>
			<ul>
				{% for student in igroup.list %}
				<li><a href="{{ student.get_absolute_url }}">{{ student }}</a></li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	{% endwith %}
	{% endfor %}
</table>

<h2>Instructor emails (for copy-pasting)</h2>
<code>
	{% for igroup in instructor_list %}
	{% with instructor=igroup.grouper %}
	"{{ instructor.name }}"
	&lt;{{ instructor.user.email }}&gt;{% if not forloop.last %},{% endif %}
	{% endwith %}
	{% endfor %}
</code>

{% endblock %}
