{% extends 'layout.html' %}

{% block title %}Approve Inquiries{% endblock %}
{% block layout-content %}
<p>This is a list of the most recent inquiries.
You can <a href="{% url "approve-inquiry-all" %}">
	approve all open inquiries</a>
if you want.</p>

<table class="table">
<tr>
	<th>Time</th>
	<th>#</th>
	<th>Student</th>
	<th>Inquiry</th>
	<th colspan="2">Controls</th>
</tr>
{% for inquiry in unitinquiry_list %}
<tr>
<td style="font-size:80%;">{{ inquiry.created_at|date:"m-d H:i" }}</td>
<td>{{ inquiry.num_unlock }}/{{ inquiry.num_all }} </td>
<td style="font-size:80%;"><a href="{% url "inquiry" inquiry.student.id %}">
		{{ inquiry.student.name }}</a></td>
<td style="font-family: monospace; font-size: 80%;">
	{{ inquiry.action_type }} {{ inquiry.unit }}</td>
<td style="font-family: monospace;">
	{% if inquiry.status == "NEW" %}
	NEW
	{% elif inquiry.status == "ACC" %}
	<span style="color:green;">OK</span>
	{% elif inquiry.status == "REJ" %}
	<span style="color:red;">REJ</span>
	{% elif inquiry.status == "HOLD" %}
	<span style="color:orange;">HOLD</span>
	{% endif %}
</td>
<td>
	<a href="{% url "edit-inquiry" inquiry.id %}">&#x270e;</a>
	{% if inquiry.status == "NEW" %}
	<a href="{% url "approve-inquiry" inquiry.id %}">&check;</a>
	{% endif %}
</td>
</tr>
{% if inquiry.explanation %}
<tr>
<td></td>
<td></td>
<td colspan="5"><i>{{ inquiry.explanation }}</i></td>
</tr>
{% endif %}
{% endfor %}
</table>

{% endblock %}
