{% extends 'layout.html' %}
{% load humanize %}

{% block title %}Approve Inquiries{% endblock %}
{% block layout-content %}
<p>This is a list of the most recent inquiries.
You can <a href="{% url "approve-inquiry-all" %}">
	approve all open inquiries</a>
if you want.</p>

<table class="table">
<tr>
	<th>Time</th>
	<th>#</th>
	<th>Student</th>
	<th>Inquiry</th>
	<th colspan="2">Controls</th>
</tr>
{% for inquiry in unitinquiry_list %}
<tr>
<td style="font-size:80%;">{{ inquiry.created_at|naturaltime }}</td>
<td><a href="{% url "inquiry" inquiry.student.id %}">
		{{ inquiry.num_unlock|default:0 }}/{{ inquiry.num_all|default:0 }}</a></td>
<td style="font-size:80%;"><a href="{% url "portal" inquiry.student.id %}">
		{{ inquiry.student.name }}</a></td>
<td style="font-size: 80%;">
	<tt>{{ inquiry.action_type }} {{ inquiry.unit }}</tt></td>
<td><tt>
	{% if inquiry.status == "NEW" %}
	NEW
	{% elif inquiry.status == "ACC" %}
	<span class="text-success">OK</span>
	{% elif inquiry.status == "REJ" %}
	<span class="text-danger">REJ</span>
	{% elif inquiry.status == "HOLD" %}
	<span class="text-warning">HOLD</span>
	{% endif %}
	</tt>
</td>
<td>
	<a href="{% url "edit-inquiry" inquiry.id %}">&#x270e;</a>
	{% if inquiry.status == "NEW" %}
	<a href="{% url "approve-inquiry" inquiry.id %}">&check;</a>
	{% endif %}
</td>
</tr>
{% if inquiry.explanation %}
<tr>
<td></td>
<td></td>
<td colspan="5"><i>{{ inquiry.explanation }}</i></td>
</tr>
{% endif %}
{% endfor %}
</table>

{% endblock %}
