{% extends 'layout.html' %}

{% block title %}Approve Inquiries{% endblock %}
{% block layout-content %}
<p>This is a list of all open inquiries.</p>

<table>
<tr>
	<th>Time</th>
	<th>Student</th>
	<th>Inquiry</th>
	<th>Controls</th>
</tr>
{% for inquiry in unitinquiry_list %}
<tr>
<td>{{ inquiry.created_at|date:"Y-m-d H:i" }}</td>
<td><a href="{% url "portal" inquiry.student.id %}">
		{{ inquiry.student }}</a></td>
<td>{{ inquiry }}</td>
<td>
	<a href="{% url "approve-inquiry" inquiry.id %}">Approve</a>
	<a href="{% url "edit-inquiry" inquiry.id %}">Edit</a>
</td>
{% endfor %}
</table>

{% endblock %}
