{% extends "layout.html" %}
{% load static %}
{% block title %}
  Change name and email
{% endblock title %}
{% block layout-content %}
  <h2>Change name and email</h2>
  <ul>
    <li>
      <strong>Please use your real name</strong>.
      Otherwise it's confusing for Evan.
    </li>
    <li>
      If you update your email address,
      it will get subscribed to updates from the OTIS mailing list.
    </li>
  </ul>
  {% include "generic_form.html" %}
  <p>
    <a href="{% url "socialaccount_connections" %}">Back to
      <span class="emoji-text">🔐</span>Account Settings</a>
  </p>
{% endblock layout-content %}
