{% extends "layout.html" %}
{% load static %}
{% block title %}
  Change name and email
{% endblock title %}
{% block layout-content %}
  <h2>Change name and email</h2>
  <ul>
    <li>
      <p>
        <strong>Please use an actual name</strong>.
        Nicknames or other names you go by are OK too,
        as long as you're consistent
        (e.g. if you send me a payment via Paypal/Zelle/Venmo,
        it should be under the same name, otherwise it may get mismatched).
      </p>
      <p>
        But please avoid changing this to a username or other unrecognizable
        string, because it's confusing for Evan.
      </p>
    </li>
    <li>
      If you update your email address,
      it will get subscribed to updates from the OTIS mailing list.
    </li>
  </ul>
  {% include "generic_form.html" %}
  <p>
    <a href="{% url "socialaccount_connections" %}">Back to
      <span class="emoji-text">🔐</span>Account Settings</a>
  </p>
{% endblock layout-content %}
