:root[data-theme="light"],
:root {
  --primary: #0f851d;
  --accent: #fff;
  --primary-fg: #fff;
  --header-bg: #0f851d;
  --header-link-color: #fff;
  --breadcrumbs-bg: #3cb99a;
  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: #fff;
  --button-bg: #3cb99a;
  --button-hover-bg: #2a9a80;
  --default-button-bg: #0f851d;
  --default-button-hover-bg: #0a5c14;
  --link-fg: #1a7a2a;
  --link-hover-color: #0f851d;
  --object-tools-hover-bg: #333;
}

:root[data-theme="dark"] {
  --primary: #0f851d;
  --accent: #3cb99a;
  --primary-fg: #fff;
  --header-bg: #0a6615;
  --header-link-color: #d0ffd8;
  --breadcrumbs-bg: #1a5c35;
  --breadcrumbs-fg: #a0d4b8;
  --breadcrumbs-link-fg: #d0ffd8;
  --button-bg: #2a9a80;
  --button-hover-bg: #1a7a60;
  --default-button-bg: #0a6615;
  --default-button-hover-bg: #074010;
  --link-fg: #4cba5c;
  --link-hover-color: #6dd87a;
  --object-tools-hover-bg: #222;
}
