:root {
  --primary: #0f851d;
  --accent: #3cb99a;
  --primary-fg: #fff;
  --header-bg: #0f851d;
  --header-link-color: #fff;
  --breadcrumbs-bg: #3cb99a;
  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: #fff;
  --button-bg: #3cb99a;
  --button-hover-bg: #2a9a80;
  --default-button-bg: #0f851d;
  --default-button-hover-bg: #0a5c14;
  --link-fg: #1a7a2a;
  --link-hover-color: #0f851d;
  --object-tools-hover-bg: #333;
}

#changelist-filter {
  top: -250px;
  right: 15px;
}

#changelist-filter h2 {
  padding-top: 0px;
  padding-bottom: 0px;
}
