body {
	line-height: 1.2;
}

table.table {
	border-collapse: separate;
	border: none;
	width: auto !important;
}

p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

table.table tr {
	height: fit-content;
}

table.table td, table.table th {
	margin: 0px;
	border: 0px;
	border-top: none;
	text-align: left;
	padding: 2px 8px 2px 8px;
}
tr:nth-child(odd) {
    background-color: #e4e4e4;
}
tr:nth-child(even) {
    background-color: #f5f5f5;
}

div.helptext, span.helptext {
	color : #555;
	font-size: 70%;
}

input {
	padding: 4px;
}

button.pseudo-button {
	background: none;
	color: #bb0000;
	border: none; 
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}
