body {
  background-color: #ddeeee;
  font-family: "Noto Sans", sans-serif;
}

#header {
  background-color: #5266c0;
  border: 3px solid #2233b2;
}
#main {
  background-color: #72fee1;
}
#side {
  background-color: #b2fee1;
}

div.entrywrap {
  background-color: #ffffff;
}
#navigation_box {
  background-color: #ccccff;
}

h1 {
  color: #000055;
}
#header h1 {
  color: #ffffff;
  /* font-weight: bold; */
}

h2 {
  color: #8f008f;
}

h3 {
  font-weight: normal;
  margin-top: 16px;
}

/* Reduce opacity effect */
#side {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#side:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Logo in lower right */
#logo {
  text-align: right;
  padding: 14px 14px 14px 14px;
}
#logo img {
  width: 12%;
}

/* Subject colors */
table.table tr.subjectG:nth-child(odd) {
  background-color: #aaffaa;
}
table.table tr.subjectC:nth-child(odd) {
  background-color: #aaddff;
}
table.table tr.subjectA:nth-child(odd),
table.table tr.subjectF:nth-child(odd) {
  background-color: #ffaaaa;
}
table.table tr.subjectN:nth-child(odd) {
  background-color: #eeeeee;
}
table.table tr.subjectM:nth-child(odd) {
  background-color: #ffee77;
}

table.table tr.subjectG:nth-child(even) {
  background-color: #a5f5a5;
}
table.table tr.subjectC:nth-child(even) {
  background-color: #a5d5f5;
}
table.table tr.subjectA:nth-child(even),
table.table tr.subjectF:nth-child(even) {
  background-color: #f5a5a5;
}
table.table tr.subjectN:nth-child(even) {
  background-color: #dddddd;
}
table.table tr.subjectM:nth-child(even) {
  background-color: #f5e575;
}

table.table tr.unit-locked {
  filter: brightness(60%) saturate(60%);
}

/* Unit selection */
td.unit-select select {
  width: 180px;
  font-size: 10px;
}

/* Curriculum */

table.curriculum tr {
  min-height: 28px;
}
table.curriculum th,
table.curriculum td {
  vertical-align: middle;
  font-size: 15px;
  padding: 4px 4px 4px 4px;
}

table.curriculum td.status {
  width: 18px;
}
table.curriculum td.code {
  text-align: right;
  font-family: Inconsolata, Consolas, monaco, monospace;
  width: max-content;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 4px;
}
table.curriculum td.thumbnail {
  width: 56px;
  text-align: center;
  margin: 0 auto;
}

table.curriculum tr.unit-locked td.thumbnail img {
  filter: grayscale(100%);
}
table.curriculum tr.unit-locked {
  color: #444444;
}
table.table tr.subjectK.unit-locked {
  background-color: #125252;
  color: #efefef;
}
table.table tr.subjectK {
  background-color: #125252;
  color: #efefef;
}
table.table tr.subjectK td.unit-name {
  font-family: Acme, sans-serif;
  font-style: normal;
}
table.table tr.subjectK.unit-locked td.unit-name {
  font-style: normal;
}

table.curriculum tr.unit-locked td.unit-name {
  font-style: italic;
}

table.curriculum td.number {
  text-align: right;
  font-size: 12px;
  width: 48px;
}
table.curriculum span.number {
  text-align: right;
  font-size: 12px;
  width: 24px;
}

table.curriculum td.unit-name a {
  color: black;
}
table.table tr.subjectK td.unit-name a {
  color: #efefef;
}
table.curriculum td.active {
  font-weight: 700;
}

table.curriculum td.emojis {
  padding-bottom: 0px;
  text-align: right;
  font-size: 15px;
  min-width: max-content;
}

a.emoji-link {
  text-shadow:
    1px 0 0 black,
    0 -1px 0 black,
    0 1px 0 black,
    -1px 0 0 black;
}

a.emoji-link:hover {
  text-shadow: 0 0 5px #ff0;
}

table.curriculum tr.unit-locked-hidden {
  display: none;
}

table.curriculum tr.unit-completed-hidden {
  display: none;
}

@keyframes glow-yellow {
  from {
    box-shadow: 0px 0px 35px #bbbb33;
  }

  to {
    box-shadow: 0px 0px 45px #eeeecc;
  }
}

div.card img.artwork {
  object-fit: cover;
  box-shadow: 0px 0px 15px #6666dd;
}
img.artwork:hover {
  animation-name: glow-yellow;
  animation-duration: 2s;
  transform: scale(1.1);
}

span.meter-name {
  position: absolute;
  left: 0;
  text-align: left;
  font-family: Acme, sans-serif;
}
span.meter-header,
strong.meter-def {
  font-family: Acme, sans-serif;
}
