body {
  background-color: #ddeeee;
}

#header {
  background-color: #5266c0;
  border: 3px solid #2233b2;
}
#main {
  background-color: #72fee1;
}
#side {
  background-color: #b2fee1;
}

div.entrywrap {
  background-color: #ffffff;
}
#navigation_box {
  background-color: #ccccff;
}

h1 {
  color: #000055;
}
#header h1 {
  color: #ffffff;
  /* font-weight: bold; */
}

h2 {
  color: #8f008f;
}

h3 {
  font-weight: normal;
  margin-top: 16px;
}

/* Reduce opacity effect */
#side {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#side:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Logo in lower right */
#logo {
  text-align: right;
  padding: 14px 14px 14px 14px;
}
#logo img {
  width: 12%;
}

/* Subject colors */
table.table tr.subjectG:nth-child(odd) {
  background-color: #aaffaa;
}
table.table tr.subjectC:nth-child(odd) {
  background-color: #aaddff;
}
table.table tr.subjectA:nth-child(odd),
table.table tr.subjectF:nth-child(odd) {
  background-color: #ffaaaa;
}
table.table tr.subjectN:nth-child(odd) {
  background-color: #eeeeee;
}
table.table tr.subjectM:nth-child(odd) {
  background-color: #ffee77;
}

table.table tr.subjectG:nth-child(even) {
  background-color: #a5f5a5;
}
table.table tr.subjectC:nth-child(even) {
  background-color: #a5d5f5;
}
table.table tr.subjectA:nth-child(even),
table.table tr.subjectF:nth-child(even) {
  background-color: #f5a5a5;
}
table.table tr.subjectN:nth-child(even) {
  background-color: #dddddd;
}
table.table tr.subjectM:nth-child(even) {
  background-color: #f5e575;
}

table.table tr.subjectK {
  background-color: #125252;
  color: #efefef;
}
table.table tr.subjectK td.unit-name {
  font-family: Acme, sans-serif;
}

/* Unit selection */
td.unit-select select {
  width: 180px;
  font-size: 10px;
}

/* Curriculum */
table.curriculum tr {
  height: 28px;
}
table.curriculum th,
table.curriculum td {
  vertical-align: middle;
  font-size: 14px;
}

table.curriculum td.number {
  text-align: right;
  font-size: 12px;
  min-width: max-content;
}
table.curriculum td.code {
  text-align: right;
  font-size: 12px;
  font-family: Inconsolata, Consolas, monaco, monospace;
  min-width: max-content;
}

table.curriculum td.active {
  font-weight: 700;
  font-size: 13px;
}

table.curriculum td.emojis {
  text-align: right;
  font-size: 17px;
  min-width: max-content;
}

a.emoji-link {
  text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
}

a.emoji-link:hover {
  text-shadow: 0 0 5px #ff0;
}

table.curriculum tr.unit-locked-hidden {
  display: none;
}

table.curriculum tr.unit-completed-hidden {
  display: none;
}

span.meter-name {
  position: absolute;
  left: 0;
  text-align: left;
  font-family: Acme, sans-serif;
}
span.meter-header,
strong.meter-def {
  font-family: Acme, sans-serif;
}
