{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}
  {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
  <p>
    You are setting a password on your account (there wasn't one before).
    If this isn't what you meant to do, you can
    <a href="{% url "socialaccount_connections" %}">go back to account settings</a>.
  </p>
  <p>
    Your username is <code>{{ request.user.username }}</code>.
  </p>
  <p>
    <a href="https://github.com/Hanabi-Live/hanabi-live/blob/main/docs/PASSWORDS.md">Do not re-use old passwords!</a>
  </p>
  <hr />
  <h1>{% trans "Set Password" %}</h1>
  <form method="post"
        action="{% url "account_set_password" %}"
        class="password_set">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit"
           class="btn btn-primary"
           name="action"
           value="{% trans "Set Password" %}"/>
  </form>
{% endblock content %}
