{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<p>You are setting a password on your account (there wasn't one before).</p>
<p>Your username is <strong><tt>{{ request.user.username }}</tt></strong>.</p>
<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" class="btn btn-primary" name="action" value="{% trans 'Set Password' %}" />
</form>
{% endblock %}
