{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<p>You are changing the password on your account.
	If this isn't what you meant to do, you can
	<a href="{% url "socialaccount_connections" %}">go back to account settings</a>.
</p>
<p>Your username is <code>{{ request.user.username }}</code>.</p>
<p>
	<a href="https://github.com/Hanabi-Live/hanabi-live/blob/main/docs/PASSWORDS.md">
		Do not re-use old passwords!
	</a>
</p>
<hr />
<h1>{% trans "Change Password" %}</h1>
<form method="POST" action="{% url "account_change_password" %}" class="password_change">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-info" name="action">{% trans "Change Password" %}</button>
</form>
{% endblock %}
