{% extends "wiki/base_site.html" %}
{% load static %}
{% load i18n %}

{% block wiki_site_title %} - OTIS Fandom{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="{% url 'wiki:root' %}">
	<img height="48px" src="{% static 'img/otis-logo-v2018.svg' %}" />
</a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="navbar-nav mr-auto">
	<li class="nav-item">
		<a class="nav-link" href="/wiki/otis">About</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/wiki/units">Units</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/wiki/yearbook">Yearbook</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/">{% trans "Exit" %}</a>
	</li>
</ul>

{% endblock %}

{# TODO this is gross #}
{% block wiki_footer_logo %}
<div class="text-muted">
	<a href="{% url 'wiki:globalhistory' %}"><span class="fa fa-clock"> </span>
		Recent edits
	</a>
</div>
<hr />
<style>
	div.container {
		max-width: 1280px;
	}

	div.wiki-article,
	#article-menu,
	#article-breadcrumbs {
		max-width: 768px;
		margin: 0 auto;
	}

	#id_content {
		height: 30em;
	}
</style>
<script type="text/javascript">
	MathJax = {
		tex: {
			inlineMath: [
				['$', '$'],
				['\\(', '\\)'],
			],
			displayMath: [
				['\\[', '\\]']
			],
		},
		ready: () => {}
	};

	window.MathJaxLoaded = new Promise((resolve) => {
		$.getScript("https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js", () => resolve());
	})
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

{% endblock %}
