{% extends "wiki/base_site.html" %}
{% load static %}
{% load i18n %}

{% block wiki_site_title %} - OTISWiki{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="{% url 'wiki:root' %}">
	<img height="48px" src="{% static 'img/otis-logo-v2018.svg' %}" />
</a>
<script type="text/javascript">
MathJax = {
	tex: {
		inlineMath: [['$','$']],
		displayMath: [['\\\\[', '\\\\]']],
	}
};
</script>
<script type="text/javascript" id="MathJax-script" async
	src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="navbar-nav mr-auto">
<li class="nav-item">
	<a class="nav-link" href="{% url 'wiki:root' %}" target="_blank">Fandom</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="otisweb">RPG</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="units">Units</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="notable-problems">Problems</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="yearbook">Yearbook</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/">{% trans "Exit" %}</a>
</li>
</ul>
{% endblock %}

{# TODO this is gross #}
{% block wiki_footer_logo %}
<a href="https://github.com/vEnhance" class="float-right"><img src="https://web.evanchen.cc/icons/social-github.png" height="48px" /></a>
{% endblock %}
