<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Acme&family=Inconsolata&family=JetBrains+Mono:ital,wght@0,700;1,400&family=Mate&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+TC:wght@500&family=PT+Sans&family=Roboto+Slab:wght@400;500;600&display=swap"
  rel="stylesheet"
/>
<link href="https://web.evanchen.cc/css/simple-53544.css" rel="stylesheet" />
