{% extends "layout.html" %}
{% block title %}
  Problem Suggestion
{% endblock title %}
{% block main-class %}
  col-12
{% endblock main-class %}List all
{% block layout-content %}
  <p>
    <a href="{% url "suggest-list" %}">⬅️ List all suggestions by you.</a> Also check out the <a href="{% url "suggestion-queue-listing" %}">submission queue</a>.
  </p>
  <p>
    Thank you for suggesting problems for OTIS!
    Your contributions are appreciated.
  </p>
  {% if suggestion %}
    <div class="alert {% if suggestion.status == "SUGG_EDIT" %} alert-warning {% elif suggestion.status == "SUGG_NEW" %} alert-primary {% elif suggestion.status == "SUGG_NOK" or suggestion.status == "SUGG_OK" %} alert-success {% elif suggestion.status == "SUGG_REJ" %} alert-secondary {% endif %}">
      {% if suggestion.status == "SUGG_EDIT" %}
        <p>
          ✏️ This suggestion currently has <b>edits requested</b>.
        </p>
        <p>
          You may want to re-read
          <a href="#instructions">the instructions at the bottom</a>.
        </p>
      {% elif suggestion.status == "SUGG_NEW" %}
        <p>
          ⏳ This suggestion has been submitted and is <b>pending
          approval</b>.
        </p>
      {% elif suggestion.status == "SUGG_NOK" or suggestion.status == "SUGG_OK" %}
        <p>
          💜 This suggestion has been <b>accepted</b>! Thank you.
        </p>
      {% elif suggestion.status == "SUGG_REJ" %}
        <p>❌ This suggestion was not accepted. Thanks anyway.</p>
      {% endif %}
    </div>
  {% else %}
    <div class="alert alert-warning">
      <p>
        Read <a href="#instructions">the instructions at the bottom</a>
        if you haven't seen them already!
        There are a lot of specific formatting requirements.
      </p>
      <p>
        Also: if you are suggesting a problem
        from a fairly well-known source (e.g. IMO Shortlist),
        there is a decent chance Evan might have done the problem already;
        double-check first.
      </p>
    </div>
  {% endif %}
  {% load crispy_forms_tags %}
  <h2>Submission form</h2>
  <form action="{{ request.path }}" method="post" class="form">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        <p>The following errors were thrown:</p>
        <ul>
          {% for err in form.non_field_errors %}<li>{{ err }}</li>{% endfor %}
        </ul>
      </div>
    {% endif %}
    <table class="table form-table">
      <tr>
        <td>{{ form.weight|as_crispy_field }}</td>
        <td>{{ form.unit|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.source|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.hyperlink|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.description|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.statement|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="statement_warning" class="alert alert-danger">
            <h1 class="alert-heading">Line length exceeded in statement!</h1>
            As specified in
            <a href="https://web.evanchen.cc/latex-style-guide.html">LaTeX guidelines #1</a>,
            lines MUST be wrapped to be at most 100 characters long,
            and SHOULD be wrapped to at most 80 characters long.
          </div>
          <div id="statement_render"></div>
        </td>
      </tr>
      <tr>
        <td colspan="2">{{ form.solution|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="solution_warning" class="alert alert-danger">
            <h1 class="alert-heading">Line length exceeded in solution!</h1>
            As specified in
            <a href="https://web.evanchen.cc/latex-style-guide.html">LaTeX guidelines #1</a>,
            lines MUST be wrapped to be at most 100 characters long,
            and SHOULD be wrapped to at most 80 characters long.
          </div>
          <div id="solution_render"></div>
        </td>
      </tr>
      <tr>
        <td colspan="2">{{ form.comments|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.acknowledge|as_crispy_field }}</td>
      </tr>
      <tr>
        <td>
          <button type="submit" class="btn btn-success">Submit</button>
        </td>
        <td>
          <button id="render-toggle" class="btn btn-info">Disable instant TeX</button>
        </td>
      </tr>
    </table>
    <h2 id="instructions">Submission requirements</h2>
    <div class="alert alert-secondary">
      <h3 class="alert-heading">Copyright information about solutions</h3>
      <ul>
        <li>
          <strong>You must submit a solution</strong>.
          If you don't, I might get to solving the problem eventually,
          but let's be real, there's at least 200 problems on my
          someone-told-me-to-do-it list.
        </li>
        <li>
          <strong>You MUST NOT copy the wording of someone else's solution</strong>,
          at least not without permission.
          However, it's okay if the ideas in the solution are not your own,
          or someone else found an isomorphic solution to yours.
        </li>
        <li>
          By submitting, you are granting Evan permission to use, edit, or adapt
          your entire submission, either for OTIS or any other
          math-olympiad-related purposes.
          On the other hand, you retain copyright/ownership of your writing,
          so you can also use it for whatever you want elsewhere.
        </li>
      </ul>
    </div>
    <div class="alert alert-secondary">
      <h3 class="alert-heading">
        LaTeX notes
      </h3>
      <ul>
        <li>
          <strong>You must follow the LaTeX style guide</strong>:
          <a href="https://web.evanchen.cc/latex-style-guide.html">https://web.evanchen.cc/latex-style-guide.html</a>.
          Submissions that don't follow the style guide will be returned
          with revisions requested until these requirements are met.
        </li>
        <li>
          <p>
            What you see is just a rough preview for your own convenience.
            Evan will eventually get the underlying source code;
            so what shows up in the preview doesn't matter.
          </p>
          <p>
            <strong>Do NOT do hacks just for the preview.</strong>
            For example, just type <code>\emph{...}</code> for italics,
            do not hack it with <code>$\emph{...}$</code>.
          </p>
        </li>
      </ul>
    </div>
  </form>
{% endblock layout-content %}
{% block css %}
  <style type="text/css">
    #solution_render,
    #statement_render {
        color: blue;
        font-family: sans-serif;
    }

    #id_statement,
    #id_solution {
        font-size: 10pt;
        white-space: pre;
    }
  </style>
{% endblock css %}
{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
        $("#id_unit").chosen();
        let autorender_enabled = true;
        let render_enabled = true;
        let mathjaxLoaded = false;

        $("#render-toggle").click(function(e) {
            e.preventDefault();
            if (render_enabled && autorender_enabled) {
                render_enabled = true;
                autorender_enabled = false;
                $("#render-toggle")
                    .addClass("btn-danger")
                    .removeClass("btn-info")
                    .text("Turn off LaTeX");
            } else if (render_enabled) {
                render_enabled = false;
                $("#render-toggle")
                    .addClass("btn-primary")
                    .removeClass("btn-danger")
                    .text("Enable instant-TeX");
            } else {
                render_enabled = true;
                autorender_enabled = true;
                $("#render-toggle")
                    .addClass("btn-info")
                    .removeClass("btn-primary")
                    .text("Disable instant-TeX");
            }
            render_statement();
            render_solution();
        });

        function checkLineLength(s) {
            lines = s.split("\n");
            for (let i in lines) {
                console.log(lines[i]);
                if (lines[i].length > 100) {
                    return false;
                }
            }
            return true;
        }

        $("#id_statement").on("input", (e) => {
            $("#statement_warning").toggle(!checkLineLength(e.target.value));
            if (!autorender_enabled || !render_enabled) return;
            $("#statement_render").text(e.target.value);
            MathJax.typesetPromise([document.querySelector("#statement_render")]);
        });

        $("#id_solution").on("input", (e) => {
            $("#solution_warning").toggle(!checkLineLength(e.target.value));
            if (!autorender_enabled || !render_enabled) return;
            $("#solution_render").text(e.target.value);
            MathJax.typesetPromise([document.querySelector("#solution_render")]);
        });

        function render_statement() {
            const s = $("#id_statement").val();
            $("#statement_warning").toggle(!checkLineLength(s));
            if (!render_enabled) return;
            if (!mathjaxLoaded) console.warn("MathJax has not finished loading yet.");
            $("#statement_render").text(s);
            MathJax.typeset([document.querySelector("#statement_render")]);
        }

        function render_solution() {
            const s = $("#id_solution").val();
            $("#solution_warning").toggle(!checkLineLength(s));
            if (!render_enabled) return;
            if (!mathjaxLoaded) console.warn("MathJax has not finished loading yet.");
            $("#solution_render").text(s);
            MathJax.typeset([document.querySelector("#solution_render")]);
        }

        $("#id_statement").blur(render_statement);
        $("#id_solution").blur(render_solution);

        window.MathJaxLoaded.then(() => {
            mathjaxLoaded = true;
            render_statement();
            render_solution();
        });
    });
  </script>
{% endblock scripts %}
