{% extends "layout.html" %}
{% load static %}
{% load markdownify %}
{% block title %}
  Problem Suggestion
{% endblock title %}
{% block main-class %}
  col-12
{% endblock main-class %}
{% block layout-content %}
  <p>
    <a href="{% url "suggest-list" %}">⬅️ List all suggestions by you.</a> Also check out the <a href="{% url "suggest-queue-listing" %}">suggestion queue</a>.
  </p>
  <p>
    Thank you for suggesting problems for OTIS!
    Your contributions are appreciated.
  </p>
  {% if suggestion %}
    <div class="alert {% if suggestion.status == "SUGG_EDIT" %} alert-warning {% elif suggestion.status == "SUGG_NEW" %} alert-primary {% elif suggestion.status == "SUGG_NOK" or suggestion.status == "SUGG_OK" %} alert-success {% elif suggestion.status == "SUGG_REJ" %} alert-secondary {% endif %}">
      {% if suggestion.status == "SUGG_EDIT" %}
        <p>
          ✏️ This suggestion currently has <b>edits requested</b>.
        </p>
        <p>
          You may want to re-read
          <a href="#instructions">the instructions at the bottom</a>.
        </p>
      {% elif suggestion.status == "SUGG_NEW" %}
        <p>
          ⏳ This suggestion has been submitted and is <b>pending
          approval</b>.
        </p>
      {% elif suggestion.status == "SUGG_NOK" or suggestion.status == "SUGG_OK" %}
        <p>
          💜 This suggestion has been <b>accepted</b>! Thank you.
        </p>
      {% elif suggestion.status == "SUGG_REJ" %}
        <p>❌ This suggestion was not accepted. Thanks anyway.</p>
      {% endif %}
    </div>
    {% if suggestion.staff_comments %}
      <h2>Evan's feedback</h2>
      {{ suggestion.staff_comments|markdownify }}
    {% endif %}
  {% else %}
    <div class="alert alert-warning">
      <p>
        Read <a href="#instructions">the instructions at the bottom</a>
        if you haven't seen them already!
        There are a lot of specific content and formatting requirements.
      </p>
    </div>
  {% endif %}
  {% load crispy_forms_tags %}
  <h2>Submission form</h2>
  <form action="{{ request.path }}" method="post" class="form">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        <p>The following errors were thrown:</p>
        <ul>
          {% for err in form.non_field_errors %}<li>{{ err }}</li>{% endfor %}
        </ul>
      </div>
    {% endif %}
    <table class="table form-table">
      <tr>
        <td>{{ form.weight|as_crispy_field }}</td>
        <td>{{ form.unit|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.source|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.hyperlink|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.description|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.statement|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="statement_warning" class="alert alert-danger">
            <h1 class="alert-heading">Line length exceeded in statement!</h1>
            As specified in
            <a href="https://web.evanchen.cc/latex-style-guide.html">LaTeX guidelines #1</a>,
            lines MUST be wrapped to be at most 100 characters long,
            and SHOULD be wrapped to at most 80 characters long.
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">{{ form.solution|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="solution_warning" class="alert alert-danger">
            <h1 class="alert-heading">Line length exceeded in solution!</h1>
            As specified in
            <a href="https://web.evanchen.cc/latex-style-guide.html">LaTeX guidelines #1</a>,
            lines MUST be wrapped to be at most 100 characters long,
            and SHOULD be wrapped to at most 80 characters long.
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">{{ form.comments|as_crispy_field }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.acknowledge|as_crispy_field }}</td>
      </tr>
      <tr>
        <td>
          <button type="submit" class="btn btn-success">Submit</button>
        </td>
        <td>
          {% if pk %}
            <a id="delete"
               href="{% url 'suggest-delete' pk %}"
               class="btn btn-link btn-warning"
               style="margin-left: 50px">Delete Suggestion</a>
          {% endif %}
        </td>
      </tr>
    </table>
    <div class="alert alert-secondary">
      <h2 id="instructions" class="alert-heading">Submission requirements</h2>
      <ul>
        <li>
          <p>
            You <strong>MUST follow all the production requirements</strong> included in the
            <a href="{% static 'production-quality-reqs.pdf' %}">production quality requirements (PDF)</a>.
            If you don't, your submission will simply be returned with
            revisions requested.
          </p>
          <p>
            In particular, you must write your own solution (as described in
            section 1 above) and also follow all the
            <a href="https://web.evanchen.cc/latex-style-guide.html">LaTeX style requirements</a>.
          </p>
        </li>
        <li>
          <p>
            If you are suggesting a problem from a fairly well-known source
            (e.g. IMO Shortlist), there is a decent chance Evan might
            have done the problem already; double-check first.
          </p>
        </li>
        <li>
          <p>
            By submitting, you are granting Evan permission to use, edit, or adapt
            your entire submission, either for OTIS or any other
            math-olympiad-related purposes.
          </p>
          <p>
            On the other hand, you retain copyright/ownership of your writing,
            so you can also use it for whatever you want elsewhere.
          </p>
        </li>
      </ul>
    </div>
  </form>
{% endblock layout-content %}
{% block css %}
  <style type="text/css">
      #id_statement,
      #id_solution {
          font-size: 10pt;
          white-space: pre;
      }
  </style>
{% endblock css %}
{% block scripts %}
  <script type="text/javascript">
      $(document).ready(function() {
          $("#id_unit").chosen();

          function checkLineLength(s) {
              return !s.split("\n").some(e => e.length > 100); // amol stronk
          }
          $("#statement_warning").toggle(!checkLineLength($("#id_statement").val()));
          $("#solution_warning").toggle(!checkLineLength($("#id_solution").val()));

          function lencheck_statement() {
              const s = $("#id_statement").val();
              $("#statement_warning").toggle(!checkLineLength(s));
          }

          function lencheck_solution() {
              const s = $("#id_solution").val();
              $("#solution_warning").toggle(!checkLineLength(s));
          }
          $("#id_statement").blur(lencheck_statement);
          $("#id_solution").blur(lencheck_solution);

      });
  </script>
{% endblock scripts %}
