{% extends "layout.html" %}
{% block title %}
  Delete suggestion
{% endblock title %}
{% block layout-content %}
  {% include "otisweb/components/generic_delete.html" %}
  <hr />
  <a href="{{ suggestion.get_absolute_url }}">&lt;&lt; Go back to suggestion</a>
  <ul>
    <li>Source: {{ suggestion.source }}</li>
    <li>
      Unit: {{ suggestion.unit.group.name }}<sup>{{ suggestion.unit.code }}</sup>
    </li>
    <li>Hyperlink: {{ suggestion.hyperlink }}</li>
  </ul>
{% endblock layout-content %}
