{% extends "layout.html" %}
{% block title %}
  Hanabi Contests
{% endblock title %}
{% block layout-content %}
  {% if player %}
    <p>
      On hanab.live, you are registered as
      <a href="https://hanab.live/scores/{{ player.hanab_username }}/">{{ player.hanab_username }}</a>.
    </p>
    <hr />
  {% else %}
    <div class="alert alert-warning">
      You have no hanab.live username attached.
      <a href="{% url "hanabi-register" %}" class="alert-link">Register one</a>
      if you want to earn spades.
    </div>
  {% endif %}
  <h1>Active Contests</h1>
  {% for contest in active_contests %}
    <h2>{{ contest.variant_name }}</h2>
    <ul>
      <li>Players: {{ contest.num_players }}</li>
      <li>Deadline: {{ contest.deadline }} ({{ contest.deadline|timeuntil }})</li>
    </ul>
    <p class="text-center">
      <a class="btn btn-link btn-success"
         target="_blank"
         href="{{ contest.create_table_url }}&password={{ table_password }}">
        Start table
      </a>
      <br />
      <b>Table password</b>: {{ table_password }}
    </p>
  {% empty %}
    <p>No contests are active at this time.</p>
  {% endfor %}
  <hr />
  <h1>All Contests</h1>
  <table class="table striped-table">
    <thead>
      <th>#</th>
      <th>Contest</th>
      <th>Players</th>
      <th>Deadline</th>
    </thead>
    <tbody>
      {% for contest in contests %}
        <tr>
          <td>{{ contest.pk }}</td>
          <td>
            <a href="{{ contest.get_absolute_url }}">{{ contest.variant_name }}</a>
          </td>
          <td>{{ contest.num_players }}</td>
          <td>{{ contest.deadline }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />
  <h1>Rules</h1>
  <p>TO BE WRITTEN.</p>
{% endblock layout-content %}
