{% extends "layout.html" %}
{% block title %}
  Hanabi contest #{{ contest.pk }}: {{ contest.variant_name }}
{% endblock title %}
{% block layout-content %}
  <p>
    <a href="{% url "hanabi-contests" %}">Back to contest list</a>
  </p>
  <p>
    These are the results for
    Hanabi Contest #{{ contest.pk }}: {{ contest.variant_name }}.
    The maximum possible game score is {{ contest.max_score }}.
  </p>
  <p>
    You can also see
    <a href="{{ contest.hanab_stats_page_url }}">{{ contest.hanab_stats_page_url }}</a>
    for all the results of the seed on the hanab.live server.
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Replay</th>
        <th>Score</th>
        <th>Turns</th>
        <th>Spades</th>
      </tr>
    </thead>
    <tbody>
      {% for replay in replays %}
        <tr {% if replay == own_replay %}class="table-success fw-bold"{% endif %}>
          <td>
            <a href="{{ replay.get_absolute_url }}">{{ replay.replay_id }}</a>
          </td>
          <td>{{ replay.game_score }} / {{ contest.max_score }}</td>
          <td>{{ replay.turn_count }}</td>
          <td>+{{ replay.spades_score|floatformat:2 }} ♠</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock layout-content %}
