{% extends "layout.html" %}
{% block title %}
  Hanabi Contests
{% endblock title %}
{% block layout-content %}
  {% if player %}
    <p>
      On hanab.live, you are registered as
      <a href="https://hanab.live/scores/{{ player.hanab_username }}/">{{ player.hanab_username }}</a>.
    </p>
    <hr />
  {% else %}
    <div class="alert alert-warning">
      You have no hanab.live username attached.
      <a href="{% url "hanabi-register" %}" class="alert-link">Register one</a>
      if you want to earn spades.
    </div>
    <p class="text-center">
      <a href="{% url "hanabi-register" %}" class="btn btn-link btn-primary">Register username</a>
      <hr />
    </p>
  {% endif %}
  <h1>Active Contests</h1>
  {% for contest in active_contests %}
    <h2>{{ contest.variant_name }}</h2>
    <ul>
      <li>Players: {{ contest.num_players }}</li>
      <li>Deadline: {{ contest.end_date }} ({{ contest.end_date|timeuntil }})</li>
      {% if request.user.is_superuser %}
        <li>
          <a href="{{ contest.hanab_stats_page_url }}">Seed statistics on hanab.live</a>
        </li>
        <li>
          <a href="{% url "admin:hanabi_hanabicontest_change" contest.pk %}">Admin edit</a>
        </li>
      {% endif %}
    </ul>
    <p class="text-center">
      <a class="btn btn-link btn-success"
         target="_blank"
         href="{{ contest.create_table_url }}&password={{ table_password }}">
        Start table
      </a>
      <br />
      <b>Table password</b>: {{ table_password }}
    </p>
  {% empty %}
    <p>No contests are active at this time.</p>
  {% endfor %}
  <hr />
  <h1>All Contests</h1>
  <table class="table striped-table">
    <thead>
      <th>#</th>
      <th>Contest</th>
      <th>Status</th>
      <th>#P</th>
      <th>Deadline</th>
    </thead>
    <tbody>
      {% for contest in contests %}
        <tr>
          <td>{{ contest.pk }}</td>
          {% if contest.processed %}
            <td>
              <a href="{{ contest.get_absolute_url }}">{{ contest.variant_name }}</a>
            </td>
            <td>Completed</td>
          {% elif not contest.has_ended %}
            <td class="table-warning">{{ contest.variant_name }}</td>
            <td class="table-warning">Ongoing</td>
          {% elif request.user.is_superuser %}
            <td class="table-primary">
              <strong>
                <a href="{% url "hanabi-upload" contest.pk %}">{{ contest.variant_name }}</a>
              </strong>
            </td>
            <td class="table-primary">Pending</td>
          {% else %}
            <td>{{ contest.variant_name }}</td>
            <td>Pending</td>
          {% endif %}
          <td>
            {{ contest.num_players }}p
          </td>
          <td>
            {% if contest.processed or request.user.is_superuser %}
              <a href="{{ contest.hanab_stats_page_url }}">
                {{ contest.end_date }}
              </a>
            {% else %}
              {{ contest.end_date }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h1>
    Rules
  </h1>
  <ol>
    <li>
      Each contest consists of a single game of Hanabi.
      How to participate:
      <ul>
        <li>
          Gather a team with the correct number of players.
        </li>
        <li>
          One player should create a table on hanab.live
          by clicking the "Start table" button above.
        </li>
        <li>
          The other players should join the table by typing
          the table password (a randomly generated 3-digit number).
        </li>
        <li>
          That's all you need to do!
          Results are scraped automatically later by the game master.
        </li>
      </ul>
    </li>
    <li>
      For each contest, the random seed for the contest is fixed,
      i.e. the order the cards appear in the deck will be
      exactly the same for every game.
      Therefore, <strong>you should join at most one team per contest</strong>;
      playing multiple times would break the game because you already
      know what all the cards are.
    </li>
    <li>
      We play with an honor system.
      Please follow the rules of the game and common-sense sportsmanship:
      <ul>
        <li>
          Don't spectate or look at the results of the game seed
          before you have played.
        </li>
        <li>
          Each player must be a distinct human (no bots, etc.).
          They do not necessarily have to be in OTIS.
        </li>
        <li>
          No communication during the game.
          We explicitly forbid reading into the length of time a turn takes.
        </li>
      </ul>
    </li>
    <li>
      Games are timed; the time controls are <strong>3:00+0:30</strong>.
      There are no other special settings
      (in particular, no bottom-deck blind plays).
    </li>
    <li>
      You may use any convention system you like
      (not necessarily the <a href="https://hanabi.github.io">H-group system</a>).
    </li>
    <li>
      You may refer to pre-written documentation during the game,
      such as the H-group website or a dedicated Google Doc
      (as long as the document is not updated mid-game by your team, of course).
    </li>
    <li>
      Scoring for spades:
      <ul>
        <li>
          Your <i>game score</i> is defined as the number of cards
          played successfully, even if you strike out or terminate the game.
        </li>
        <li>
          You earn
          \[ 2 \cdot \left(
          \frac{ \text{your game score} }
          { 5 \cdot \text{number of suits} }
          \right)^{ \text{number of suits} } \]
          spades.
          For example, if you score 23/25,
          you earn $2 \cdot (23/25)^5 \approx 1.318$ spades.
        </li>
        <li>
          In addition, you get +1 bonus spade if you have the
          highest nonzero game score among all participating teams.
        </li>
        <li>
          In addition, you get an additional +1 bonus spade if you have the
          highest nonzero game score among all participating teams,
          <i>and</i> the lowest turn count among such teams.
        </li>
      </ul>
      Thus, the maximum possible spades per contest is $2+1+1=4$.
      Here, a "participating team" is any team that
      has at least one OTIS student.
    </li>
  </ol>
{% endblock layout-content %}
