{% if proposals %}
  <h3 class="mt-4">
    <a class="oime-table-toggle link-dark text-decoration-none"
       data-bs-toggle="collapse"
       href="#oime-table-{{ title|slugify }}"
       role="button"
       aria-expanded="true"
       aria-controls="oime-table-{{ title|slugify }}">{{ title }}</a>
  </h3>
  <div class="collapse show" id="oime-table-{{ title|slugify }}">
    <table class="table table-striped otis-sortable">
      <thead class="table-dark">
        <tr>
          <th style="width: 3rem;">ID</th>
          <th class="d-none d-sm-table-cell">Title</th>
          <th style="width: 5rem;">Diff.</th>
          <th style="width: 5rem;">Votes</th>
          <th style="width: 5rem;">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for proposal in proposals %}
          <tr>
            <td>
              <a href="{{ proposal.get_absolute_url }}" class="fw-bold">{{ proposal.label }}</a>
            </td>
            <td class="d-none d-sm-table-cell">
              <a href="{{ proposal.get_absolute_url }}">{{ proposal.title|truncatechars:"30" }}</a>
            </td>
            <td>{{ proposal.difficulty_display }}</td>
            <td {% if proposal.has_upvoted %}class="fw-bold" data-testid="table-upvoted" title="You upvoted this problem"{% endif %}>🩷 × {{ proposal.upvote_count }}</td>
            <td>
              {% if proposal.user_list_status == "author" %}
                {% if proposal.is_draft %}
                  <a href="{{ proposal.get_absolute_url }}"
                     class="text-danger"
                     data-testid="table-draft">Draft</a>
                {% else %}
                  <a href="{{ proposal.get_absolute_url }}"
                     class="text-success"
                     data-testid="table-published">Published</a>
                {% endif %}
              {% elif proposal.user_list_status == "in_progress" %}
                <span>In Progress</span>
              {% elif proposal.user_list_status == "not_started" %}
                <a href="{% url "oime-start-fight" proposal.pk %}">New!</a>
              {% elif proposal.user_list_status == "revealed" %}
                <span class="text-muted">Spoiled</span>
              {% elif proposal.user_list_status == "casual" %}
                <a href="{{ proposal.get_absolute_url }}">Open</a>
              {% else %}
                {% include "tubes/components/fight_verdict.html" with fight=proposal.user_fight %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
