<h5>Notes for OTIS</h5>
<ul>
	<li>Unit articles should be titled by the short name
		shown on the catalog and on the OTIS-WEB portal.</li>
	<li>Use the header <code>[unit SLUG][/unit]</code>.
		(The slug is the natural part of the unit's filename, e.g. "equality".)
	</li>
	<li>Use the header <code>[diamond HEX][/diamond]</code>
		for pages about diamonds.
	</li>
	<li>There is also a pair <code>[generic][/generic]</code>
		that makes an empty table.</li>
	<li>You can add pairs using the syntax
		<code>Key | Value</code>
		within any of the four blocks above.
	<li>Articles generally follow title case.</li>
</ul>
