{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block head_title %}
  {% trans "Account Connections" %}
{% endblock head_title %}
{% block content %}
  <h2>Name and email</h2>
  <ul>
    <li>
      Your username is <strong><tt>{{ user.username }}</tt></strong>.
      {% if form.accounts %}
        But you don't need this username to sign in because
        you have {{ form.accounts|length }} connections set up.
      {% endif %}
    </li>
    <li>
      Your name is <strong>{{ user.first_name }} {{ user.last_name }}</strong>.
    </li>
    <li>
      You registered with the email <strong><tt>{{ user.email }}</tt></strong>.
    </li>
    <li>
      You can <a href="{% url "update-profile" %}">change your name or email</a>.
    </li>
  </ul>
  <hr />
  <h2>Password</h2>
  {% if user.has_usable_password %}
    <p>
      You have a password set on your account,
      but you can <a href="{% url "account_set_password" %}">change your password</a>
      if you don't like the one you have.
    </p>
    <p>
      <a href="{% url "account_set_password" %}"
         class="btn btn-secondary"
         role="button">Change password</a>
    </p>
    <p>
      It is <a href="https://en.wikipedia.org/wiki/Cryptographic_hash_function#Password_verification">impossible to look up forgotten passwords</a>,
      but an admin can set a new password for you.
    </p>
  {% else %}
    <p>
      There is <strong>no password</strong> set right now.
      You may <a href="{% url "account_set_password" %}">set a password</a> now.
    </p>
    <p>
      <a href="{% url "account_set_password" %}"
         class="btn btn-primary"
         role="button">Set password</a>
    </p>
  {% endif %}
  <hr />
  <h2>{% trans "Add a new connection" %}</h2>
  <p>
    Note you can have multiple connections for a provider,
    e.g. if you have multiple Google accounts, you can link them all.
  </p>
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
  </ul>
  {% include "socialaccount/snippets/login_extra.html" %}
  <hr />
  <h2>Existing connections</h2>
  {% if form.accounts %}
    <form method="post" action="{% url 'socialaccount_connections' %}">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          <p>The following errors were thrown:</p>
          <ul>
            {% for err in form.non_field_errors %}<li>{{ err }}</li>{% endfor %}
          </ul>
        </div>
      {% endif %}
      <table class="table">
        {% for base_account in form.accounts %}
          {% with base_account.get_provider_account as account %}
            <tr>
              <td style="width:20px; text-align:center;">
                <input id="id_account_{{ base_account.pk }}"
                       type="radio"
                       name="account"
                       value="{{ base_account.pk }}" />
              </td>
              <td>
                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.pk }}">{{ account.get_brand.name }}</span>
              </td>
              <td>{{ account }}</td>
            </tr>
          {% endwith %}
        {% endfor %}
      </table>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-header" id="headingDelConn">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseDelConn"
                    aria-expanded="false"
                    aria-controls="collapseDelConn">
              <span class="text-muted">Delete selected connections…</span>
            </button>
          </div>
          <div id="collapseDelConn"
               class="accordion-collapse collapse"
               aria-labelledby="headingDelConn">
            <div class="accordion-body">
              <div class="alert alert-danger">
                <h2 class="alert-heading">Warning!</h2>
                <p>
                  Deleting connections is <b>strongly discouraged</b> because
                  past experience gives examples of students who delete connections,
                  then forget they did so and try to log in again,
                  leading to duplicated accounts, nonsensical bug reports,
                  unintentional lockouts, and a lot of extra work for Evan.
                </p>
              </div>
              <p>
                If you are really, really sure that you never, ever plan
                to use a connection again, you can use the delete button below.
              </p>
              <p class="text-center">
                <button class="btn btn-danger" type="submit">
                  Delete connections.
                  I promise I know what I'm doing.
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    <p>{% trans "You currently have no social network accounts connected to this account." %}</p>
  {% endif %}
{% endblock content %}
