{% extends "layout.html" %}
{% block title %}
  Stale tasks in {{ jobfolder }}
{% endblock title %}
{% block layout-content %}
  <p>
    <a href="{% url "job-list" jobfolder.slug %}">Back to list of tasks.</a>
  </p>
  <h3>Activity table</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last seen</th>
        <th>Claimed</th>
        <th colspan="2">M/N</th>
      </tr>
    </thead>
    <tbody>
      {% for worker in workers %}
        <tr>
          <td>
            <a href="mailto:{{ worker.user.email }}">{{ worker.user.get_full_name }}</a>
          </td>
          <td>{{ worker.latest_update|date }}</td>
          <td>{{ worker.oldest_undone|date }}</td>
          <td class="text-end">{{ worker.num_completed }}</td>
          <td class="text-end">{{ worker.num_total }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Emails for copy-pasting</h3>
  <code>
    {% for worker in workers %}
      "{{ worker.user.get_full_name }}" &lt;{{ worker.user.email }}&gt;,
      <br />
    {% endfor %}
  </code>
{% endblock layout-content %}
