{% extends 'layout.html' %}
{% load static %}

{% block title %}Payment{% endblock %}
{% block layout-content %}
{% if invoice %}
<h1>Credit card payment</h1>
<ul>
	<li>You are about to make a payment for {{ invoice.student.name }}.</li>
	<li>This payment is for {{ invoice.student.semester }}.</li>
	<li>You currently owe ${{ invoice.total_owed }}.</li>
</ul>
<button class="button is-primary" id="testButton">Test</button>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payments.js' %}"></script>
{% endblock %}
