{% extends "layout.html" %}
{% block title %}
  Tasks in {{ jobfolder }}
{% endblock title %}
{% block layout-content %}
  <p>
    <a href="{% url "job-index" %}">Back to full internship list.</a>
  </p>
  <hr />
  <h2>Instructions</h2>
  {% include "payments/show_jobfolder_info.html" %}
  <h2>Tasks</h2>
  <table class="table striped-table">
    <tr>
      <th>Title</th>
      <th>♠️</th>
      <th>💲</th>
      <th>Deadline</th>
      <th>Status</th>
    </tr>
    {% for job in jobs %}
      <tr {% if job.assignee.user == request.user %}class="table-success fw-bold"{% endif %}>
        <td>
          <a href="{{ job.get_absolute_url }}">{{ job.name }}</a>
        </td>
        <td>{{ job.spades_bounty }}</td>
        <td>{{ job.usd_bounty }}</td>
        <td>{{ job.deadline|default:"—" }}</td>
        <td>
          {% if request.user.is_superuser %}
            <a href="{% url "admin:payments_job_change" job.pk %}">{{ job.status }}</a>
          {% else %}
            {{ job.status }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock layout-content %}
