{% extends "layout.html" %}
{% block title %}
  {{ job.folder.name }}: {{ job.name }}
{% endblock title %}
{% block layout-content %}
  {% if job.status == "Completed" %}
    <div class="alert alert-primary">This task was completed.</div>
  {% elif not job.assignee %}
    <form action="{% url "job-claim" job.pk %}" method="post">
      {% csrf_token %}
      <p class="text-center">
        <input type="submit" class="btn btn-primary" value="Claim task"/>
      </p>
    </form>
    <hr />
  {% elif job.assignee.user == request.user %}
    <p class="text-center">
      <a href="{% url "job-update" job.pk %}" class="btn btn-success">Submit task</a>
    </p>
    <hr />
  {% else %}
    <div class="alert alert-waring" role="alert">This task is currently claimed by {{ job.assignee.user }}.</div>
  {% endif %}
  <h2>Description</h2>
  <p>{{ job.description_rendered|safe|default:"No description provided." }}</p>
  {% if request.user.is_superuser %}
    <p>
      <a href="{% url "admin:payments_job_change" job.pk %}">Edit this job</a>
    </p>
  {% endif %}
  <h2>Bounty</h2>
  <ul>
    <li>{{ job.spades_bounty }} ♠️</li>
    <li>{{ job.usd_bounty }} 💲</li>
    <li>Deadline: {{ job.deadline }}</li>
  </ul>
  <h2>Current status: {{ job.status }}</h2>
  <ul>
    {% if job.assignee %}
      <li>Claimed by: {{ job.assignee }}</li>
    {% else %}
      <li>
        <strong>Currently unclaimed</strong>
      </li>
    {% endif %}
    <li>Created at: {{ job.created_at }}</li>
    <li>Last updated: {{ job.updated_at }}</li>
    {% if request.user.is_superuser %}
      <li>
        <a href="{% url "admin:payments_job_change" job.pk %}">Admin edit Job #{{ job.pk }}</a>
      </li>
    {% endif %}
  </ul>
{% endblock layout-content %}
