{% extends "layout.html" %}
{% block title %}
  Internships
{% endblock title %}
{% block layout-content %}
  <p>
    The following lists categories of tasks and the number
    of available, claimed, and completed tasks in each category.
  </p>
  {% if worker %}
    <p>
      You can update your <a href="{% url "worker-update" %}">worker profile</a>
      if your payment details have changed.
    </p>
  {% else %}
    <div class="alert alert-secondary">
      <p>
        You have no work profile yet.
        You need to <a href="{% url "worker-update" %}">create one</a>
        before you can work on any tasks.
      </p>
    </div>
  {% endif %}
  <hr />
  <h2>GitHub issues</h2>
  <p>
    Technical programming tasks are tracked on
    <a href="https://github.com/vEnhance/otis-web/issues">GitHub issues tracker</a> instead,
    and spade bounties are listed there.
  </p>
  <p>Here are a few random open issues.</p>
  <div id="github-issues-list"></div>
  <script type="text/javascript">
    const create_label_url = (label) => {
        let url = new URL('https://github.com/vEnhance/otis-web/issues');
        url.searchParams.set('q', `is:issue is:open label:"${label.name}"`);
        return url;
    };

    // https://stackoverflow.com/a/26608674/4826845
    $(document).ready(async function() {
        let result = await fetch(
            "https://api.github.com/repos/vEnhance/otis-web/issues?state=open");
        let allIssues = await result.json();

        allIssues = allIssues.filter(issue => !issue.pull_request);
        console.log(allIssues);
        allIssues.sort(() => 0.5 - Math.random()); // random order
        const sliceOfIssues = allIssues.slice(0, 5);

        // ... only in JavaScript does .sort() assume strings huh
        sliceOfIssues.sort((issue1, issue2) => issue1.number - issue2.number);
        sliceOfIssues.slice(0, 5).forEach(issue => {
            console.log(issue);
            let issue_url = `https://github.com/vEnhance/otis-web/issues/${issue.number}`;
            let item = `<p>`;
            item += `<strong><a href="${issue_url}">#${issue.number}</a></strong>. `;
            item += `${issue.title}`;
            item += issue.labels.map(label => `<a href="${create_label_url(label)}"><sup style="color:#${label.color};">${label.name}</sup></a>`).join(' ');
            item += `</p>`;
            $("#github-issues-list").append(item);
        });
    });
  </script>
  {% for jobfolder in jobfolders %}
    <hr />
    {% if jobfolder.archived %}
      <p>
        <b>{{ jobfolder.name }}</b>
        <span class="text-muted">(archived)</span>
      </p>
    {% else %}
      <h2>{{ jobfolder.name }}</h2>
    {% endif %}
    <p class="fst-italic">
      <a href="{{ jobfolder.get_absolute_url }}">
        <b>{{ jobfolder.num_open }}</b> open,
        <b>{{ jobfolder.num_claimed }}</b> claimed,
        <b>{{ jobfolder.num_done }}</b> finished.
      </a>
    </p>
    {% if not jobfolder.archived %}
      {% include "payments/show_jobfolder_info.html" %}
    {% endif %}
  {% endfor %}
{% endblock layout-content %}
