{% extends "layout.html" %}
{% block title %}
  Internships
{% endblock title %}
{% block layout-content %}
  <p>
    The following lists categories of tasks and the number
    of available, claimed, and completed tasks in each category.
  </p>
  {% if worker %}
    <p>
      You can update your <a href="{% url "worker-update" %}">worker profile</a>
      if your payment details have changed.
    </p>
  {% else %}
    <div class="alert alert-secondary">
      <p>
        You have no work profile yet.
        You need to <a href="{% url "worker-update" %}">create one</a>
        before you can work on any tasks.
      </p>
    </div>
  {% endif %}
  <hr />
  <h2>GitHub issues</h2>
  <p>
    Technical programming tasks are tracked on
    <a href="https://github.com/vEnhance/otis-web/issues">GitHub issues tracker</a> instead,
    and spade bounties are listed there.
  </p>
  <p>Here are a few random open issues.</p>
  <div id="github-issues-list"></div>
  <script type="text/javascript">
    // https://stackoverflow.com/a/26608674/4826845
    $(document).ready(function() {
        $.getJSON(
            "https://api.github.com/repos/vEnhance/otis-web/issues?state=open",
            function(allIssues) {
                console.log(allIssues);
                allIssues.sort(() => 0.5 - Math.random()); // random order
                const sliceOfIssues = allIssues.slice(0, 5);
                // ... only in JavaScript does .sort() assume strings huh
                sliceOfIssues.sort((issue1, issue2) => issue1.number - issue2.number);
                $.each(sliceOfIssues, function(i, issue) {
                    if (i >= 5) return;
                    console.log(issue);
                    const issue_url = `https://github.com/vEnhance/otis-web/issues/${issue.number}`;
                    let item = '<p>';
                    item += `<strong><a href="${issue_url}">#${issue.number}</a></strong>.`;
                    item += ' ';
                    item += issue.title;
                    $.each(issue.labels, function(j, label) {
                        const label_url =
                            'https://github.com/vEnhance/otis-web/issues?q=is%3Aissue+is%3Aopen+' +
                            `label%3A"${label.name.replaceAll(" ", "+")}"`;
                        item += ' ';
                        item += `<a href='${label_url}'>`;
                        item += `<sup style="color:#${label.color};">`;
                        item += label.name;
                        item += '</sup>';
                        item += '</a>';
                    });
                    item += '</p>';
                    console.log(item);
                    $("#github-issues-list").append(item);
                });
            });
    });
  </script>
  {% for jobfolder in jobfolders %}
    <hr />
    <h2>{{ jobfolder.name }}</h2>
    <p class="fst-italic">
      <a href="{{ jobfolder.get_absolute_url }}">
        <b>{{ jobfolder.num_open }}</b> open,
        <b>{{ jobfolder.num_claimed }}</b> claimed,
        <b>{{ jobfolder.num_done }}</b> finished.
      </a>
    </p>
    <p>{{ jobfolder.description_rendered|safe }}</p>
    {% if request.user.is_superuser %}
      <p>
        <a href="{% url "admin:payments_jobfolder_change" jobfolder.pk %}">Edit folder {{ jobfolder.pk }}</a>
      </p>
    {% endif %}
  {% endfor %}
{% endblock layout-content %}
