{% extends "layout.html" %}
{% block title %}
  Edit work profile
{% endblock title %}
{% load humanize %}
{% block layout-content %}
  <p>
    You are updating the work details for
    <strong>{{ request.user.username }}</strong>.
  </p>
  <div class="alert alert-primary">
    <h3 class="alert-heading">All fields are optional</h3>
    <p>
      You only need to fill in a field if it matters for you;
      for example, you should leave "PayPal username" blank
      unless you actually want to be paid via PayPal.
    </p>
  </div>
  <div class="alert alert-secondary">
    <h3 class="alert-heading">Payment methods</h3>
    <p>
      In order to receive payment for helping with OTIS-WEB tasks,
      you need to have at least one of the below payment methods on file.
      Alternatively, you can opt to have the balance deducted from your invoice
      (assuming, of course, you have not already paid in full).
    </p>
    <p>
      If you wish to work on a task even without receiving payment,
      select "pro bono" as the desired payment method after completing the
      task.
    </p>
  </div>
  <hr />
  {% include "generic_form.html" %}
{% endblock layout-content %}
