{% extends "layout.html" %}
{% block title %}
  Edit work profile
{% endblock title %}
{% load humanize %}
{% block layout-content %}
  <p>
    You are updating the work details for
    <strong>{{ request.user.username }}</strong>.
  </p>
  <div class="alert alert-primary">
    <h3 class="alert-heading">All fields are optional</h3>
    <p>
      You only need to fill in a field if it matters for you;
      for example, you should leave "Zelle username" blank
      unless you actually want to be paid via Zelle.
    </p>
  </div>
  <div class="alert alert-secondary">
    <h3 class="alert-heading">Payment methods</h3>
    <p>
      In order to receive payment for helping with OTIS-WEB tasks,
      you need to have at least one of the below payment methods on file.
      If you're in the United States, and happen to have access to Bank of
      America, then Zelle is probably the easiest to set up.
      Alternatively, you can opt to have the balance deducted from your invoice
      (assuming, of course, you have not already paid in full).
    </p>
    <p>
      If you wish to work on a task even without receiving payment,
      select "pro bono" as the desired payment method after completing the
      task.
    </p>
  </div>
  <hr />
  {% include "generic_form.html" %}
  <hr />
  <div class="alert alert-warning">
    <h3 class="alert-heading">Warning for non-USA payments</h3>
    <p>
      If you are not from the United States and want payment,
      then before accepting any tasks, please make sure that EITHER
      <ul>
        <li>
          at least one of the payment methods here actually works for you
          (this will vary by country), or
        </li>
        <li>
          you have some other workaround, like a relative in the United States
          who can receive the payment for you.
        </li>
      </ul>
    </p>
    <p>
      If you cannot provide a valid and working payment method,
      then you won't be able to receive any payment.
    </p>
  </div>
{% endblock layout-content %}
