{% extends "layout.html" %}
{% block title %}
  Work profile for {{ worker.user.username }}
{% endblock title %}
{% block layout-content %}
  <p>This is the work profile for {{ worker.user.get_full_name }}.</p>
  <table class="table">
    <tr>
      <th>Google</th>
      <td>
        <code>{{ worker.gmail_address|default:"None specified" }}</code>
      </td>
    </tr>
    <tr>
      <th>Paypal</th>
      <td>
        <code>{{ worker.paypal_username|default:"None specified" }}</code>
      </td>
    </tr>
    <tr>
      <th>Venmo</th>
      <td>
        <code>{{ worker.venmo_handle|default:"None specified" }}</code>
      </td>
    </tr>
    <tr>
      <th>Zelle</th>
      <td>
        <code>{{ worker.zelle_info|default:"None specified" }}</code>
      </td>
    </tr>
  </table>
  <p>{{ worker.notes|linebreaks }}</p>
  <p class="text-center">
    <a href="{% url "worker-update" %}" class="btn btn-primary">Edit this</a>
  </p>
{% endblock layout-content %}
