<!DOCTYPE html>
{% load static %}
{% load hijack_tags %}
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} &bullet; OTIS-WEB </title>
<link rel="stylesheet" type="text/css"
	href="{% static 'hijack/hijack-styles.css' %}" />
<link href="{% static 'hijack/hijack-styles.css' %}" rel="stylesheet">
<link href="//web.evanchen.cc/css/simple-53544.css" rel="stylesheet">
<link href="{% static 'css/django.css' %}" rel="stylesheet">
<link href="{% static 'css/otis.css' %}" rel="stylesheet">


{# favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="//web.evanchen.cc/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="//web.evanchen.cc/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="//web.evanchen.cc/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="//web.evanchen.cc/icons/manifest.json">
<link rel="mask-icon" href="//web.evanchen.cc/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="//web.evanchen.cc/icons/favicon.ico">
<meta name="msapplication-config" content="//web.evanchen.cc/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
{% block css %}
{% endblock %}
</head>

<body>
{% hijack_notification %}
{% if debug %}
<div id="debug-warning" class="alert" role="alert">
	Site currently in <b style="color:red;">DEBUG</b> mode.
	Make your mistakes here!  Cheers, Evan
</div>
<style type="text/css">
body {
	background-color: #888;
}
</style>
{% endif %}
<div id="navigation_box">&copy; Evan Chen. Internal use only.</div>
<div id="header"><h1>OTIS-WEB</h1></div>
<div id="content">
	{% block base-content %}
	{% endblock %}
	<div id="logo">
	<img src="{% static 'img/otis-logo-v2018.svg' %}" />
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
