<!DOCTYPE html>
{% load otis_extras %}
{% load static %}
{% load hijack %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="OTIS-WEB Internal Django Website" />
    <meta name="keywords" content="otis" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
      {% endblock title %}
      • OTIS-WEB
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"
            type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static "k.js" %}"></script>
    {% if request.user|getconfig:"use_twemoji" %}
      <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js"
              crossorigin="anonymous"></script>
      <style>
          img.emoji {
              height: 1em;
              width: 1em;
              margin: 0 .05em 0 .1em;
              vertical-align: -0.1em;
          }
      </style>
    {% endif %}
    {% include "headers/base_style.html" %}
    {% include "headers/favicon.html" %}
    {% include "headers/mathjax.html" %}
    <link href="{% static 'css/django.css' %}" rel="stylesheet" />
    <link href="{% static 'css/otis.css' %}" rel="stylesheet" />
    {% block css %}
    {% endblock css %}
  </head>
  <body>
    {% if request.user.is_hijacked %}
      {% include "hijack/notification.html" %}
    {% endif %}
    {% if debug %}
      <div id="debug-warning" class="alert" role="alert">
        Site currently in <b style="color:blue;">DEBUG</b> mode.
        Make your mistakes here! Cheers, Evan
      </div>
      <style type="text/css">
          body {
              background-color: #caa;
          }
      </style>
    {% endif %}
    {% block base-content %}
    {% endblock base-content %}
    {% block scripts %}
    {% endblock scripts %}
    {% if request.user|getconfig:"use_twemoji" %}
      <script type="text/javascript">
          twemoji.parse(document.body, {
              base: 'https://cdn.jsdelivr.net/gh/twitter/twemoji@latest/assets/'
          });
      </script>
    {% endif %}
  </body>
</html>
