<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
{% csrf_token %}

{% if form.non_field_errors %}
<ul class="form_error_messages">
	{% for err in form.non_field_errors %}
	<li class="form_error_message">{{ err }}</li>
	{% endfor %}
</ul>
{% endif %}


<table class="table">
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
	<tr {% if field.errors %} class="field_error"{% endif %}>
		<th class="label-tag"> {{ field.label_tag }} </th>
		<td class="field-tag">
			{{ field }}
			{% if field.help_text %}
			<span class="helptext">{{ field.help_text|safe }}</span>
			{% endif %}
			{% if field.errors %}
				<ul class="errorlist">
				{% for err in field.errors %}
					{{ err }}
				{% endfor %}
				</ul>
			{% endif %}
		</td>
	</tr>
{% endfor %}
	<tr>
		<td></td>
		<td><input type="submit" {% if submit_name %}value="{{ submit_name }}"{% endif %}></td>
	</tr>
</table>
</form>

