{% load crispy_forms_tags %}

<form action="{{ request.path }}" method="post" enctype="multipart/form-data" class="form">
{% csrf_token %}

{% if form.non_field_errors %}
<div class="alert alert-error">
	{% for err in form.non_field_errors %}
	<p>{{ err }}</p>
	{% endfor %}
</div>
{% endif %}

	<table class="table form-table">
		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
		<tr><td>{{ field|as_crispy_field }}</td></tr>
		{% endfor %}

		<tr><td>
			<button type="submit" class="btn btn-success">
			{{ submit_name|default:"Submit" }}
			</button>
		</td></tr>
	</table>
</form>
