{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block base-content %}
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div id="header">
          <a href="{% url "top" %}">
            <h1 id="sitetitle">⛵'S-WEB</h1>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7 offset-5 col-md-5 offset-md-7">
        <div id="email_box">
          {% if request.user.is_authenticated %}
            👋, <b>{{ request.user }}</b>.
            <a class="text-danger" title="Logout" href="{% url "account_logout" %}">(logout)</a>
          {% else %}
            Not logged in.
          {% endif %}
        </div>
      </div>
    </div>
    <div id="content" class="row">
      <div class="{% block main-class %}col-12 col-md-9{% endblock main-class %}">
        <div id="main">
          {% block main-content %}
            <div class="entry">
              <h1 id="pagetitle">
                {% block title %}
                  {{ title }}
                {% endblock title %}
              </h1>
              <div class="entrywrap">
                {% bootstrap_messages %}
                {% block layout-content %}
                  {{ content }}
                {% endblock layout-content %}
              </div>
            </div>
            <div class="row">
              <span class="col-8 text-start">
                <a class="text-muted" href="https://github.com/vEnhance/otis-web/issues">Report issue or feature request</a>
              </span>
              <span class="col-4 text-end">
                <img class="text-end"
                     width="100px"
                     src="{% static 'img/otis-logo-v2022.svg' %}"/>
              </span>
            </div>
          {% endblock main-content %}
        </div>
      </div>
      <div class="{% block side-class %}col-7 col-md-3{% endblock side-class %}">
        <div id="side">{% include "sidebar.html" %}</div>
      </div>
    </div>
  </div>
{% endblock base-content %}
