{% if request.user.is_authenticated %}
<p>Logged in as <b>{{ request.user }}</b>.
<a href="{% url "auth_logout" %}">(logout)</a>
</p>
{% else %}
<p>Not logged in. <a href="{% url "auth_login" %}">(login)</a></p>
{% endif %}

{% if student %}
<h2><a href="{% url "dashboard" student.id %}">{{ student }}</a></h2>
{% endif %}

<ul>
{% if student.user.username == request.user.username %}
<li><a href="{% url "past" %}">Past semesters</a></li>
{% else %}
<li><a href="{% url "index" %}">Change student</a></li>
{% endif %}

{% if request.user.is_authenticated %}
<li><a href="{% url "auth_password_change" %}">Change password</a></li>
{% endif %}
{% if request.user.is_staff %}
<li><a href="{% url "admin:index" %}">Admin Site</a></li>
{% endif %}
</ul>
