{% extends "layout.html" %}
{% block title %}
  Unit grid (admin)
{% endblock title %}
{% load otis_extras %}
{% load humanize %}
{% block layout-content %}
  <p>For your downloading pleasure.</p>
  <table id="units" class="table table-striped otis-sortable">
    <thead>
      <tr class="table-info">
        <th>#</th>
        <th>Code</th>
        <th>Unit name</th>
        <th>Slug</th>
        <th data-sort="none">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for unit in unit_list %}
        <tr class="subject{{ unit.group.subject }}">
          <td class="number">{{ unit.position }}</td>
          <td class="font-monospace">{{ unit.code }}</td>
          <td>{{ unit.group.name }}</td>
          <td class="font-monospace">{{ unit.group.slug }}</td>
          <td class="emojis">
            <a class="emoji-link"
               style="font-size: 80%"
               title="Download PDF"
               href="{% view_problems unit %}">💾</a>
            <a class="emoji-link"
               title="Download LaTeX template"
               href="{% view_tex unit %}">📋</a>
            <a class="emoji-link"
               title="Download solutions"
               href="{% view_solutions unit %}">🗝️</a>
            <a class="emoji-link"
               style="text-shadow: 1px black"
               title="Add suggestion"
               href="{% url "suggest-new" unit.pk %}">💡</a>
            <a class="emoji-link" title="Fandom" href="{{ unit.group.fandom_url }}">🎮</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock layout-content %}
