{% extends "layout.html" %}
{% block title %}
  Art gallery
{% endblock title %}
{% block main-class %}
  col-12
{% endblock main-class %}
{% block side-class %}
  col-7 col-md-3
{% endblock side-class %}
{% block layout-content %}
  <p>
    <a href="/">Back to home</a>.
  </p>
  {% for unitgroup in unitgroups %}
    {% if forloop.counter0|divisibleby:"3" %}<div class="row mb-4">{% endif %}
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url "wiki-unitgroup" unitgroup.pk %}">{{ unitgroup.name }}</a>
            </h4>
            <a href="{{ unitgroup.artwork.url }}" target="_blank">
              <img src="{{ unitgroup.artwork_thumb_md.url }}"
                   class="artwork"
                   alt="Artwork for {{ unitgroup.name }}" />
            </a>
          </div>
          <div class="card-footer fst-italic">{{ unitgroup.artist_name }}</div>
        </div>
      </div>
      {# and end the loop... #}
      {% if forloop.last or forloop.counter|divisibleby:"3" %}</div>{% endif %}
  {% endfor %}
{% endblock layout-content %}
