{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Set New Password
{% endblock title %}
{% block layout-content %}
  {% if validlink %}
    <p>Please enter your new password below.</p>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Set Password</button>
    </form>
  {% else %}
    <div class="alert alert-danger">
      <p>
        This password reset link is invalid or has expired.
        Please contact an administrator to get a new link.
      </p>
    </div>
  {% endif %}
{% endblock layout-content %}
