{% extends "layout.html" %}
{% block title %}
  One-line unit list
{% endblock title %}
{% load otis_extras %}
{% load humanize %}
{% block layout-content %}
  <p>One-line list of all units in logical (OTIS) order.</p>
  <table id="units" class="table table-striped otis-sortable">
    <thead>
      <tr class="table-info">
        <th>#</th>
        <th>Code</th>
        <th>Unit name</th>
        <th>Slug</th>
        <th data-sort="none">Act</th>
      </tr>
    </thead>
    <tbody>
      {% for unit in unit_list %}
        <tr class="subject{{ unit.group.subject }}">
          <td class="number">{{ unit.position }}</td>
          <td class="font-monospace">{{ unit.code }}</td>
          <td>{{ unit.group.name }}</td>
          <td class="font-monospace">{{ unit.group.slug }}</td>
          <td class="emojis">
            <a class="emoji-link"
               style="text-shadow: 1px black"
               title="Add suggestion"
               href="{% url "suggest-new" unit.pk %}">💡</a>
            <a class="emoji-link" title="Fandom" href="{{ unit.group.fandom_url }}">🎮</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock layout-content %}
