{% extends "layout.html" %}
{% load otis_extras %}
{% block title %}
  Catalog
{% endblock title %}
{% block layout-content %}
  <p>This list is sorted by olympiad category, then alphabetically by name.</p>
  <p>
    Each topic has one or more units which is designated
    by a three-letter code.
  </p>
  <ul>
    <li>
      The first letter of the code represents the difficulty.
      B is the easiest (problems range from sub-IMO level to IMO2),
      D is medium (problems span IMO range),
      Z is harder (problems span IMO2 - IMO3).
      There is some grey room in this department.
    </li>
    <li>The second letter repeats the olympiad category.</li>
    <li>
      The third letter is a version identifier (either W, X, or Y).
      Many topics have multiple versions so they can be repeated in different years.
    </li>
  </ul>
  <p>
    This page was printed on {% now "r" %}.
    You can also see the
    <a href="{% url "catalog-public" %}">public versions of the unit catalog</a>,
    which is prettier but less informative.
  </p>
  <hr />
  {% regroup object_list by get_subject_display as grouped_unit_list %}
  {% for subject, item_list in grouped_unit_list %}
    <h2>{{ subject }}</h2>
    <div class="list-group">
      {% for unitgroup in item_list %}
        <div class="list-group-item container">
          <div class="row">
            <div class="col-3">
              {% if unitgroup.artwork_thumb_sm %}
                <a href="{% url "wiki-unitgroup" unitgroup.pk %}">
                  <img width="100%" src="{{ unitgroup.artwork_thumb_sm.url }}" />
                </a>
              {% endif %}
            </div>
            <div class="col-9">
              <b class="text-info">
                <a href="{% url "wiki-unitgroup" unitgroup.pk %}">{{ unitgroup.name }}</a>
              </b>
              {% if unitgroup.has_pset %}
                <b class="text-success">
                  (✓)
                </b>
              {% endif %}
              <span class="text-dark">— {{ unitgroup.get_subject_short_display }}:
                {% if unit_dict and unitgroup.has_pset %}
                  {% for unit in unit_dict|dictitem:unitgroup.pk %}
                    {% if unit.has_pset %}
                      <b class="text-primary">{{ unit.code }}</b>{% if not forloop.last %},{% endif %}
                    {% else %}
                      {{ unit.code }}{% if not forloop.last %},{% endif %}
                    {% endif %}
                  {% endfor %}
                {% else%}
                  {% for unit in unitgroup.unit_set.all %}
                    {{ unit.code }}{% if not forloop.last %},{% endif %}
                  {% endfor %}
                {% endif %}
              </span>
              {% if unitgroup.artist_name %}
                <p class="fst-italic fw-lighter text-success">Art contributed by {{ unitgroup.artist_name }}.</p>
              {% endif %}
              <p class="text-secondary">{{ unitgroup.description }}</p>
              <p class="text-primary">
                Completed by {{ unitgroup.num_psets }}
                student{{ unitgroup.num_psets|pluralize }}.
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock layout-content %}
