{% extends 'layout.html' %}
{% block title %}Catalog Synopsis{% endblock %}

{% block layout-content %}
<p>This list is sorted by olympiad category, then alphabetically by name.</p>
<p>Each topic has one or more units which is designated
by a three-letter code.
The first letter of the code represents the difficulty,
the second letter repeats the olympiad category,
and the third letter is a version identifier.
Many topics have multiple versions so they can be repeated in different years.
</p>

{% regroup object_list by get_subject_display as grouped_unit_list %}

{% for subject, item_list in grouped_unit_list %}
<h2>{{ subject }}</h2>
	{% for unitgroup in item_list %}
	<p><b>{{ unitgroup.name }}</b>
	[{{ unitgroup.get_subject_display }},
	{% for unit in unitgroup.unit_set.all %} {{ unit.code }}{% endfor %}].
	<br />
	{{ unitgroup.description }}</p>
	{% endfor %}
<hr />
{% endfor %}
{% endblock %}
