{% extends "layout.html" %}
{% block title %}
  Catalog
{% endblock title %}
{% block layout-content %}
  <p>This list is sorted by olympiad category, then alphabetically by name.</p>
  <p>
    Each topic has one or more units which is designated
    by a three-letter code.
  </p>
  <ul>
    <li>
      The first letter of the code represents the difficulty.
      B is the easiest (problems range from sub-IMO level to IMO2),
      D is medium (problems span IMO range),
      Z is harder (problems span IMO2 - IMO3).
      There is some grey room in this department.
    </li>
    <li>The second letter repeats the olympiad category.</li>
    <li>
      The third letter is a version identifier (either W, X, or Y).
      Many topics have multiple versions so they can be repeated in different years.
    </li>
  </ul>
  <p>
    This page was printed on {% now "r" %}.
    You can also see the
    <a href="{% url "catalog-public" %}">public versions of the unit catalog</a>,
    which is prettier but less informative.
  </p>
  <hr />
  {% regroup units by group as unitgroups_g_list %}
  {% regroup unitgroups_g_list by grouper.get_subject_display as subject_g_list %}
  {% for subject, groups_g_list in subject_g_list %}
    <h2>{{ subject }}</h2>
    <div class="list-group">
      {% for unitgroup, units in groups_g_list %}
        <div class="list-group-item container">
          <div class="row">
            <div class="col-3">
              {% if unitgroup.artwork_thumb_sm %}
                <a href="{% url "wiki-unitgroup" unitgroup.pk %}">
                  <img width="100%" src="{{ unitgroup.artwork_thumb_sm.url }}" />
                </a>
              {% endif %}
            </div>
            <div class="col-9">
              <h4>
                {% if units.0.has_pset_for_any_unit %}
                  <a href="{% url "wiki-unitgroup" unitgroup.pk %}"><span class="text-success">{{ unit.code }}{{ unitgroup.name }}</span></a>
                {% else %}
                  <a href="{% url "wiki-unitgroup" unitgroup.pk %}">{{ unitgroup.name }}</a>
                {% endif %}
              </h4>
              <div>
                {{ unitgroup.get_subject_short_display }}:
                {% for unit in units %}
                  {% if unit.has_pset %}
                    <span class="text-success">{{ unit.code }}<sup>✓</sup></span>
                  {% elif unit.user_unlocked %}
                    <span class="text-primary">{{ unit.code }}<sup>⏲</sup></span>
                  {% elif unit.user_taking %}
                    <span class="text-secondary">{{ unit.code }}<sup>⧖</sup></span>
                  {% else %}
                    <b class="text-dark">{{ unit.code }}</b>
                  {% endif %}
                {% endfor %}
              </div>
              {% if unitgroup.artist_name %}
                <p class="fst-italic fw-lighter text-success">Art contributed by {{ unitgroup.artist_name }}.</p>
              {% endif %}
              <p class="text-secondary">{{ unitgroup.description }}</p>
              <p class="text-primary">
                {{ unit }}
                Completed by {{ units.0.num_psets_in_group }}
                student{{ units.0.num_psets_in_group|pluralize }}.
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock layout-content %}
