{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Update settings
{% endblock title %}
{% block layout-content %}
  <form action="{{ target|default:request.path }}"
        method="post"
        enctype="multipart/form-data"
        class="form">
    {% csrf_token %}
    {% include "generic_form_errors.html" %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    <div class="section">
      <h1>Email settings</h1>
      {% for field in email_fields %}{{ field|as_crispy_field }}{% endfor %}
      <button type="submit" class="btn btn-success">Update settings</button>
      <div class="alert alert-primary my-2">
        <h3 class="alert-heading">Warning</h3>
        If you mark any emails from OTIS as spam (even accidentally),
        then Postmark will permanently block all future OTIS emails to you.
        Please only sign up for updates you want.
      </div>
    </div>
    <hr />
    <div class="section">
      <h1>Display settings</h1>
      {% for field in display_fields %}{{ field|as_crispy_field }}{% endfor %}
      <button type="submit" class="btn btn-success">Update settings</button>
    </div>
    <hr />
    <div class="section">
      <h1>Advanced settings</h1>
      {% for field in advanced_fields %}{{ field|as_crispy_field }}{% endfor %}
      <button type="submit" class="btn btn-success">Update settings</button>
    </div>
  {% endblock layout-content %}
