{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ quiz }}{% endblock %}

{% block layout-content %}
<p>
	Welcome to <b>{{ quiz }}</b>!
	{% if not finished and not quiz.overdue %}
		<p>Submit on or before end-of-day {{ quiz.due_date }} server time (US).</p>
	{% endif %}
</p>

<h2>Download problems</h2>
<a href=" {{quiz.pdf_url}}">Download problems file</a>

<hr />

{% if finished %}
	<h2>Your answers</h2>
	{{ form|crispy }}
{% elif not quiz.overdue %}
	<h2>Submit answers</h2>
	<p>Enter your responses below. Each answer is an integer.</p>
	<p>You should enforce a time limit yourself; the website will not do so.</p>
	{% include "generic-form.html" %}
{% else %}
	<p>You did not attempt this quiz before the deadline of {{ quiz.due_date }}.</p>
{% endif %}

{% if quiz.overdue or finished %}
<hr />
<h2>Solutions</h2>

<div class="list-group">
	<a href="{{ quiz.url1 }}" class="list-group-item list-group-item-action">Solution to {{ quiz }}1</a>
	<a href="{{ quiz.url2 }}" class="list-group-item list-group-item-action">Solution to {{ quiz }}2</a>
	<a href="{{ quiz.url3 }}" class="list-group-item list-group-item-action">Solution to {{ quiz }}3</a>
	<a href="{{ quiz.url4 }}" class="list-group-item list-group-item-action">Solution to {{ quiz }}4</a>
	<a href="{{ quiz.url5 }}" class="list-group-item list-group-item-action">Solution to {{ quiz }}5</a>
</div>

{% endif %}


{% endblock %}
