{% extends "layout.html" %}
{% block title %}
  OTIS Mock AIME
{% endblock title %}
{% block layout-content %}
  <p class="fst-italic">Satisfactory. Keep cooking.</p>
  <p>
    Welcome to the <strong>OTIS Mock AIME <s>Kitchen</s> Lab</strong>!
  </p>
  <h2>Actions</h2>
  <div class="mb-3">
    <a href="{% url "oime-proposal-list" %}" class="btn btn-primary">View problems</a>
    <a href="{% url "oime-proposal-create" %}" class="btn btn-success">Write a problem</a>
    <a href="{% url "oime-setup" %}" class="btn btn-outline-secondary ms-2">Change name</a>
  </div>
  <hr />
  <h1>What to Expect / Instructions</h1>
  <h2>Writing problems</h2>
  <p>Use "Write a problem" above!</p>
  <p>
    <strong>Note that the database rolls over from year to year</strong>.
    Because OTIS has such a large community of students,
    problems submitted to OTIS should no longer be considered secure.
    If you think you might want to submit a problem to a different
    competition later in life where problem security is at all relevant,
    you should not submit it here.
  </p>
  <p>
    You are asked to select a difficulty tier for your problems.
    This tier the amount of time that testsolvers get to spend on it.
    <strong>You can't change difficulty after submission!</strong>
  </p>
  <ul>
    <li>
      <strong>🔥 × 1:</strong> AIME 1-3, solvers get 10 minutes
    </li>
    <li>
      <strong>🔥 × 2:</strong> AIME 4-6, solvers get 15 minutes
    </li>
    <li>
      <strong>🔥 × 3:</strong> AIME 7-9, solvers get 20 minutes
    </li>
    <li>
      <strong>🔥 × 4:</strong> AIME 10-12, solvers get 25 minutes
    </li>
    <li>
      <strong>🔥 × 5:</strong> AIME 13-15, solvers get 30 minutes
    </li>
  </ul>
  <h2>Solving problems</h2>
  <p>
    You can play in two modes, <b>ranked mode</b> and <b>casual mode</b>.
  </p>
  <ul>
    <li>
      In <b>ranked mode</b>, you're committing to trying the problems seriously,
      meaning that we'll use the statistics from ranked mode to evaluate difficulty.
      We use ranked data when writing acknowledgments for testsolvers in the published pacukeut.
      When you try problems, we'll record the number of attempts and time taken.
      Please try your best on every problem you open.
    </li>
    <li>
      In <b>casual mode</b>, you can browse and try whatever problems you like.
      There's an answer checker, but it doesn't store anything
      and there's no timers or locks.
    </li>
  </ul>
  <p>
    You can switch from ranked to casual at any time.
    If you try to switch from casual to ranked, we'll allow it too,
    but any problems that were published before you switched
    are no longer eligible for you to try in ranked mode.
  </p>
  <p>
    After you solve or give up on a proposal, you can read spoilers and comment
    on the thread for the problem. You can also upvote the problem using the heart
    icon to indicate that you like it.
  </p>
  <h2>How Evan picks the 15 problems</h2>
  <p>For now, final selection of problems and placements is done by Evan.</p>
  <p>The selection of problems are based on the following criteria.</p>
  <ul>
    <li>
      <strong>Popularity</strong>: as evidenced by comments, upvotes,
      and Evan's own personal taste.
    </li>
    <li>
      <strong>Solution write-up</strong>: if the solution needs a lot of
      editing to be presentable (or worse, is just a sketch with no details),
      then the problem is less likely to be chosen.
    </li>
    <li>
      <strong>Solve rate</strong>: problems with too few correct testsolves
      are less likely to be chosen.
      We want problems that OTIS students can actually get right.
    </li>
  </ul>
  <p>
    Note that problem proposals submitted earlier gain an advantage
    because there is more time for people to upvote it
    and more opportunities for it to be testsolved.
    Thus, submitting problems well before the deadline is advised.
  </p>
{% endblock layout-content %}
