{% extends "layout.html" %}
{% block title %}
  {% if is_edit %}
    OIME Settings
  {% else %}
    OIME Setup
  {% endif %}
{% endblock title %}
{% block layout-content %}
  <h2>
    {% if is_edit %}
      OIME Settings
    {% else %}
      Welcome to OIME
    {% endif %}
  </h2>
  <p>
    Please decide how you'd like to be called.
    When we write acknowledgments for OIME, we'll use this name.
  </p>
  <p>
    <strong>This name is public.</strong>
    It's attached to all your testsolving sessions and submitted problems authors.
  </p>
  <hr />
  {% include "otisweb/components/generic_form.html" with submit_name=is_edit|yesno:"Save Changes,Get Started" %}
{% endblock layout-content %}
