{% extends "layout.html" %}
{% block title %}
  OTIS Mock AIME
{% endblock title %}
{% block layout-content %}
  <h2>Setup instructions</h2>
  <p>
    If you've never used Probase before, you should first register
    your Google Account by going to the URL
    <div class="text-center">
      <a href="https://www.probase.app/api/auth/signin?callbackUrl=%2F"
         target="_blank"
         rel="noopener"
         class="btn btn-primary">https://www.probase.app/api/auth/signin?callbackUrl=%2F</a>
    </div>
    and following the setup instructions (click "Sign in with Google").
  </p>
  <h2>Keep cooking</h2>
  <ul id="tube-list" {% if is_new %}class="d-none"{% endif %}>
    {% for tube in tube_list %}
      <li>
        <a href="{{ tube.get_absolute_url }}"><b>{{ tube }}</b></a>
        {{ tube.description|linebreaks }}
        {% if tube.accepting_signups %}
          <a href="{% url "tube-join" tube.pk %}" target="_blank" rel="noopener">(Join)</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <h2>Instructions</h2>
  <p>After joining above, you should be able to submit problems and testsolve proposals.</p>
  <h3>Proposing</h3>
  <ul>
    <li>Use "Add Problem" once you're in the Probase collection.</li>
    <li>
      Please make sure to provide a full solution and triple-check your answer
      for accuracy to avoid frustration for the testsolvers.
    </li>
    <li>
      Please use a <strong>descriptive title</strong> that doesn't
      spoil the problem but gives an idea for what the problem is about.
    </li>
  </ul>
  <h3>Solving</h3>
  <p>
    There are five tiers of difficulty, and testsolvers get an amount of
    time per problem when testsolving it based on the tier:
  </p>
  <ul>
    <li>AIME 1-3: Solvers get 10 minutes</li>
    <li>AIME 4-6: Solvers get 15 minutes</li>
    <li>AIME 7-9: Solvers get 20 minutes</li>
    <li>AIME 10-12: Solvers get 25 minutes</li>
    <li>AIME 13-15: Solvers get 30 minutes</li>
  </ul>
  <p>
    After you solve or give up on a proposal, you can read spoilers and comment
    on the thread for the problem. You can also upvote the problem using the heart
    icon to indicate that you like it.
  </p>
  <h2>Thanks</h2>
  <p>
    Thanks to Howard Halim for writing the Probase code.
    The source code for Probase can be found on
    <a href="https://github.com/howard36/probase">Howard's GitHub</a>.
    Please open bug reports or feature requests on that issue tracker.
  </p>
{% endblock layout-content %}
