{% extends "layout.html" %}
{% block title %}
  Market {{ market.slug }}
{% endblock title %}
{% block layout-content %}
  <p>
    <a href="{% url 'index' %}">Back to top</a>
    &nbsp;
    {% if request.user.is_superuser %}
      <a href="{% url 'market-results' market.slug %}"
         class="btn btn-outline-warning"
         role="button">Admin view</a>
    {% endif %}
  </p>
  {% include "markets/include_market_prompt.html" %}
  <hr />
  {% include "generic_form.html" %}
  <hr />
  {% include "markets/include_market_alpha.html" %}
{% endblock layout-content %}
