{% extends "layout.html" %}
{% load humanize %}
{% block title %}
  Estimation markets
{% endblock title %}
{% block layout-content %}
  {% if past %}
    <p>Below are results from the estimation markets in past years.</p>
  {% else %}
    <p>
      Estimation markets are a side minigame that
      offers spades for correctly guessing hidden values.
      If you're new to this kind of game, look up
      <a href="https://duckduckgo.com/?q=fermi+estimation">Fermi estimation</a>.
    </p>
  {% endif %}
  {% if request.user.is_superuser %}
    <p class="text-center">
      <a href="{% url "market-new" %}"
         title="New market"
         class="btn btn-outline-primary">Create new market</a>
    </p>
    <hr />
  {% endif %}
  <table class="table table-striped">
    <tr class="table-dark">
      <th>Market</th>
      <th>Ending date</th>
    </tr>
    {% for market in markets %}
      <tr class="{% if market.is_upcoming %}table-primary{% elif not market.has_started %}table-warning{% elif not market.has_ended %}table-success{% endif %}">
        {% if market.is_upcoming and not request.user.is_staff %}
          <td>Starts {{ market.start_date }}</td>
        {% else %}
          <td>
            <a href="{{ market.get_absolute_url }}">{{ market.title }}</a>
          </td>
        {% endif %}
        <td>{{ market.end_date }}</td>
      </tr>
    {% endfor %}
  </table>
  <p>
    <a href="{% url "market-spades" %}">Show your results from all previous markets</a>
  </p>
  {% if past %}
    <a href="{% url "market-list" %}">Show markets from this year</a>
  {% else %}
    <a href="{% url "market-list-past" %}">Show markets from past years</a>
  {% endif %}
  <hr />
  {% include "markets/components/market_rules.html" %}
{% endblock layout-content %}
