{% extends 'layout.html' %}
{% load humanize %}
{% load static %}
{% block title %}Achievements{% endblock %}
{% block layout-content %}

<h1>Current level</h1>
<p>You have reached <b>Level {{ level_number }}</b>,
granting you the title of <b>{{ level_name }}</b>.</p>
<p>Your level is defined as the sum of the four statistics below.
Each statistic has value $\lfloor \sqrt{n} \rfloor$
where $n$ is the number of points amassed towards that statistic.</p>


<div class="accordion" id="accordion">
	{% include "dashboard/meters/clubs.html" with meter=meters.clubs %}
	{% include "dashboard/meters/hearts.html" with meter=meters.hearts %}
</div>

<p>You gain {{ meters.spades.unit }} by scoring points on
<a href="https://web.evanchen.cc/usemo.html">USEMO</a> and OTIS quizzes.</p>

<p>You gain {{ meters.diamonds.unit }} by finding hidden achievement codes.</p>

{% endblock %}
