{% extends "layout.html" %}
{% load humanize %}
{% block title %}
  Announcements
{% endblock title %}
{% block layout-content %}
  {% if request.user.is_superuser %}
    <p>
      <a class="btn btn-primary"
         href="{% url "admin:dashboard_announcement_add" %}">Add announcement</a>
    </p>
    <hr />
  {% endif %}
  <ul>
    {% for announcement in announcements %}
      <li>
        <span class="fst-italic">{{ announcement.created_at|naturaltime }}</span> —
        <a href="{{ announcement.get_absolute_url }}">{{ announcement.subject }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock layout-content %}
