{% load static %}
{% load qr_code %}
{% block content %}
  <div id="cert">
    <div style="text-align:center;">
      <p>
        <img width="300px" src="{% static 'img/otis-logo-v2022.svg' %}" />
      </p>
      <h2>Certificate of achievement</h2>
      <p>
        This certificate indicates that the student
        <h1 id="name">{{ student.name }}</h1>
        participated in the {{ years }} of OTIS,
        spending a self-reported {{ hearts }} hours on a plethora of problems
        (not counting side quests).
        In total, they completed {{ unit_count }} units (curated problem collections).
      </p>
      <p>
        Therefore, the OTIS game master
        awards a letter grade of <strong>{{ letter_grade }}</strong>,
        and moreover hereby confers the title of
        <h2>{{ level_name }} (Level {{ level_number }})</h2>
        in recognition of {{ student.first_name }}'s
        dedication and tireless efforts to become a better problem solver.
      </p>
      <div style="float:left;">{% qr_from_text target_url size="S" %}</div>
      <div style="text-align:center;">
        <img height="150px" src="{% static 'img/sig-evan-transp-4a.png' %}" />
        <br />
        <div style="margin:9px;">
          <em>Evan Chen</em>, director of OTIS
        </div>
      </div>
      <hr />
      <div style="text-align:left; font-size:12pt;">
        <p>
          To verify this certificate digitally,
          scan the QR code above or use the URL below:
        </p>
        <tt>
          <a href="{% url "certify" student.pk checksum %}">{{ request.get_host }}{{ request.path }}</a>
        </tt>
        <p>
          This certificate (ID {{ student.pk|stringformat:"07d" }})
          was produced on {% now "r" %}.
        </p>
      </div>
    </div>
  </div>
  <style>
    #cert {
        font-size: 14pt;
        margin: 30px 30px 30px 30px;
        padding: 30px 30px 30px 30px;
        width: 7.5in;
        height: 9.5in;
        border: 3px solid #aa0000;
        background-color: rgb(254, 255, 238);
    }

    #name {
        color: #aa0000;
    }

    strong {
        color: #aa0000;
    }
  </style>
{% endblock content %}
