{% extends 'layout.html' %}
{% block title %}Achievements Listing{% endblock %}

{% block layout-content %}
<div class="list-group">
	{% for achievement in achievement_list %}
	<div class="list-group-item container" {% if achievement.obtained %} style="background-color: #ddffdd;" {% else %} style="background-color: #ffddff;" {% endif %}>
		<div class="d-flex justify-content-between">
			<span style="color: #9c1421;">
				{% if achievement.num_found > 0 %}
				{{ achievement.diamonds }}♦️
				{% else %}
				???
				{% endif %}
				{% if request.user.is_staff or achievement.obtained %}
				{{ achievement.name }}
				{% endif %}
			</span>
		</div>
		{% if achievement.num_found > 0 or achievement.always_show_image %}
		<span {% if not achievement.obtained and not request.user.is_staff %} style="filter: grayscale(100%) opacity(40%);" {% endif %}>
			{% if achievement.image %}
			<img width="64px" style="float: right;" src="{{ achievement.image.url }}" />
			{% else %}
			<div width="64px" style="float: right;">No image</div>
			{% endif %}
		</span>
		{% if achievement.num_found > 0 %}
		<p>Found by
			{% if request.user.is_staff %}
			<a href="{% url "found-listing" achievement.pk %}">
				<b>{{ achievement.num_found }} user{{ achievement.num_found|pluralize }}</b>.
			</a>
			{% else %}
			<b>{{ achievement.num_found }} user{{ achievement.num_found|pluralize }}</b>.
			{% endif %}
		</p>
		{% else %}
		<p>Nobody has found this one yet!</p>
		{% endif %}
		{% else %}
		<span style="float: right; font-size:64px;">❓</span>
		<p>Nobody has found this one yet!</p>
		{% endif %}
		{% if request.user.is_staff or achievement.obtained %}
		<p><i>{{ achievement.description }}</i></p>
		{% else %}
		<p class="text-muted">You have not found this achievement yet.</p>
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endblock %}
