{% extends 'layout.html' %}
{% block title %}Downloads{% endblock %}
{% block layout-content %}
  <p>Here are the downloads available for this year:</p>
  <ul>
    {% for file in object_list %}
      <li>
        <p>
          <b><a href="{{ file.content.url }}">{{ file }}</a></b>
          {% if file.description %}&mdash; {{ file.description }}{% endif %}
          <br />
          <small>Uploaded at {{ file.created_at|date:"r" }}.
            {% if request.user.is_superuser %}
              <a href="{% url "admin:dashboard_semesterdownloadfile_change" file.id %}">(edit)</a>
            {% endif %}
          </small>
        </p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
