{% extends 'layout.html' %}
{% load static %}
{% load otis_extras %}

{% block layout-content %}
<p>This is <i>Idle-Warn</i>,
	where you can find a list of students
	who have yet to submit the first problem set,
	or have not submitted a problem set for a while.
	Be gentle! Don't be the bad guy.</p>

<table class="table">
	<thead class="table-dark">
		<tr>
			<th>Lv</th>
			<th>Name</th>
			<th colspan="2">Latest PSet Date</th>
			<th>Format</th>
			<th>Units</th>
		</tr>
	</thead>

	<tbody>
		{% for student in students %}
		<tr>
			<td>{{ student|level }}</td>
			<td><a href="{% url "portal" student.id %}">
					{{ student.name }}</a></td>
			{% if student.latest_pset %}
			<td>{{ student.latest_pset|date:"Y-m-d" }}</td>
			<td>{{ student.latest_pset|date:"H:i" }}</td>
			{% else %}
			<td colspan="2"><i>None</i></td>
			{% endif%}
			<td>{{ student.get_track }}</td>
			<td>{{ student.num_psets|default_if_none:0 }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<p>This list was generated {% now "r" %}.</p>
{% endblock %}