{% extends 'layout.html' %}
{% load static %}

{% block layout-content %}
<p>This is <i>Idle-Warn</i>,
where you can find a list of students
who have yet to submit the first problem set,
or have not submitted a problem set for a while.
Be gentle! Don't be the bad guy.</p>

<table>
<tr>
	<th>#</th>
	<th>Name</th>
	<th colspan="2">Latest PSet Date</th>
	<th>Format</th>
	<th>Score</th>
</tr>

{% for student in students %}
<tr>
	<td>{{ forloop.counter }}</td>
	<td><a href="{% url "portal" student.id %}">
			{{ student.name }}</a></td>
	{% if student.latest_pset %}
		<td>{{ student.latest_pset|date:"Y-m-d" }}</td>
		<td>{{ student.latest_pset|date:"H:i" }}</td>
	{% else %}
		<td colspan="2"><i>None</i></td>
	{% endif%}
	<td>{{ student.get_track }}</td>
	<td>{{ student.num_units_done }} / {{ student.curriculum_length }}</td>
</tr>
{% endfor %}
</table>

<p>This list was generated {% now "r" %}.</p>
{% endblock %}
