{% load otis_extras %}

{% if curriculum %}

<p>
<button id="hide-completed-units">Toggle completed</button>
<button id="hide-locked-units">Toggle locked</button>
</p>
<script>
$("#hide-completed-units").click(function() {
	$(".unit-completed").toggle();
});
$("#hide-locked-units").click(function() {
	$(".unit-locked").toggle();
});
</script>

<table class="table curriculum">
{% for row in curriculum %}
<tr class="subject{{ row.unit.group.subject }}{% if row.is_complete %} unit-completed{% endif %}{% if not row.is_visible %} unit-locked{% endif %}">
	<td class="number">
	{{ row.number }}
	{% if row.is_complete and row.is_current%}
		⏳
	{% elif row.is_current %}
		▶️
	{% elif row.is_complete %}
		✅
	{% else %}
		❓
	{% endif %}
	</td>

	<td class="code">{{ row.unit.position }} {{ row.unit.code }}</td>

	{# Handout/suggest #}
	<td {% if not row.is_current %}class="active"{% endif %}>
		{{ row.unit.group.name }}
	</td>
	<td class="emojis">
		{% if row.is_visible %}
			<a class="emoji-link" style="font-size: 80%"
				href="{% view_problems row.unit %}">💾</a>
			<a class="emoji-link"
				href="{% view_tex row.unit %}">📋</a>
			<a class="emoji-link"
				href="{% url "suggest-new" student.id row.unit.id %}">➕</a>
		{% endif %}
		{% if row.is_visible %}
			<a class="emoji-link"
				href="{% url "uploads" student.id row.unit.id %}">
				📂 {{ row.num_uploads }}
			</a>
		{% endif %}
		{% if row.sols_label %}
			<a class="emoji-link"
				href="{% view_solutions row.unit %}">
				{{ row.sols_label }}
			</a>
		{% endif %}
	</td>
</tr>
{% endfor %}
</table>
{% else %}
<i>No curriculum materials yet! Please check back later.</i>

{% endif %}
