{% load otis_extras %}

{% if curriculum %}
<table class="table curriculum">
{% for row in curriculum %}
<tr class="subject{{ row.unit.group.subject }}">
	<th style="text-align: right;">{{ row.number }}</th>
	<td style="text-align: center;">
	{% if row.is_complete and row.is_current%}
		&check;&starf;
	{% elif row.is_current %}
		&star;
	{% elif row.is_complete %}
		&check;
	{% endif %}
	</td>

	{# Handout #}
	<td style="text-align: right; font-size: 70%;">
		<tt>{{ row.unit.position }} {{ row.unit.code }}</tt></td>
	{% if row.is_visible %}
		<td><a href="{% view_problems row.unit %}"
			   {% if not row.is_complete %}class="active"{% endif %}>
			{{ row.unit.group.name }}
			</a></td>
	{% else %}
		<td>{{ row.unit.group.name }}</td>
	{% endif %}

	{# File uploads #}
	{% if row.is_visible or row.num_uploads > 0 %}
		<td><a href="{% url "uploads" student.id row.unit.id %}">
			Files ({{ row.num_uploads }})</a></td>
	{% else %}
		<td>&mdash;</td>
	{% endif %}

	{# Solutions #}
	{% if row.sols_label %}
		<td><a href="{% view_solutions row.unit %}">{{ row.sols_label }}</a></td>
	{% else %}
		<td>&mdash;</td>
	{% endif %}
</tr>
{% endfor %}
</table>

{% else %}
<i>No curriculum materials yet! Please check back later.</i>

{% endif %}
