{% extends 'layout.html' %}
{% block layout-content %}

{% if omnsicient %}
<p>Viewing {{ student.name }} in teacher mode.</p>
{% else %}
<p>Hi {{ student.name }}, welcome back to {{ student.semester.name }}.
You have completed {{ student.current_unit_index }} units.</p>
{% endif %}

<h2>Curriculum Materials</h2>
<p>The current unit is marked with a &star;.
Completed units are marked with &check;.</p>
{% include "dashboard/list_curriculum.html" %}

<ul>
	<li>Link to <a href="{% url "uploads" student.id 0 %}">miscellaneous uploads</a>.</li>
	{% if omniscient %}
	<li> <a href="{% url "advance" student.id %}">Advance Student</a> (teacher)</li>
	{% endif %}
	{% if user.is_staff %}
	<li><a href="{% url "curredit" student.id %}">Edit this curriculum</a> (admin)</li>
	{% endif %}
</ul>

<hr />

<h2>Mock Olympiad</h2>
Submit these to <a href="http://www.gradescope.com">GradeScope</a>.

<table class="table">
{% for oly in olympiads %}
<tr>
	<th>{{ forloop.counter }}</th>
	<td>{{ oly }}</td>
	<td>{% if oly.jmo_url %}<a href="{{oly.jmo_url}}">JMO</a>{% endif %}</td>
	<td>{% if oly.usamo_url %}<a href="{{oly.usamo_url}}">USAMO</a>{% endif %}</td>
	<td>{% if oly.soln_url %}<a href="{{oly.soln_url}}">Solutions</a>{% endif %}</td>
	<td>Due {{ oly.due_date|date:"DATE_FORMAT" }}</td>
</tr>
{% endfor %}
</table>
<hr />

<h2>Practice HMMT</h2>
Submit these to <a href="http://www.gradescope.com">GradeScope</a>.
<table class="table">
{% for assn in assignments %}
<tr>
	<th>{{ forloop.counter }}</th>
	<td>{{ assn }}</td>
	<td>Due {{ assn.due_date|date:"DATE_FORMAT" }}</td>
</tr>
{% endfor %}
</table>
<hr />

{% endblock %}
