{% extends 'layout.html' %}
{% load static %}
{% load staticfiles %}

{% block layout-content %}

{% if omnsicient %}
<p>Viewing {{ student.name }} in teacher mode.</p>
{% else %}
<p>Hi {{ student.name }}, welcome back to {{ student.semester.name }}.
You have completed {{ student.current_unit_index }} units.</p>
{% endif %}

<h2>Curriculum Materials</h2>
<p>The current unit is marked with a &star;.
Completed units are marked with &check;.</p>
{% include "dashboard/list_curriculum.html" %}

<ul>
	<li>Link to <a href="http://web.evanchen.cc/private/otis-syllabus.pdf">syllabus</a>,
		<a href="http://web.evanchen.cc/private/parent-info.pdf">parent information</a>.</li>
	<li>Link to <a href="{% url "uploads" student.id 0 %}">miscellaneous uploads</a></li>
	{% if omniscient %}
	<li> <a href="{% url "advance" student.id %}">Advance Student</a> (teacher)</li>
	{% endif %}
	{% if user.is_staff %}
	<li><a href="{% url "curredit" student.id %}">Edit this curriculum</a> (admin)</li>
	{% endif %}
</ul>

<hr />

<h2>Mock Olympiads</h2>
<p><a href="{% static "answersheets/long.pdf" %}">Link to <b>olympiad answer sheets</b>.</a></p>
<table class="table">
{% for oly in olympiads %}
<tr>
	{# Status symbol for olympiads is more complex #}
	{% if oly.overdue %}
	<td>&check;</td>
	{% elif oly.current %}
	<td>&star;</td>
	{% else %}
	<td></td>
	{% endif %}

	<td>{{ oly.family }} {{ oly.number }}</td>
	{% if oly.started %}
	<td>{% if oly.jmo_url %}<a href="{{oly.jmo_url}}">JMO</a>{% endif %}</td>
	<td>{% if oly.usamo_url %}<a href="{{oly.usamo_url}}">USAMO</a>{% endif %}</td>
	<td>{% if oly.soln_url %}<a href="{{oly.soln_url}}">Solutions</a>{% endif %}</td>
	{% else  %}
	<td>&ndash;</td> <td>&ndash;</td> <td>&ndash;</td>
	{% endif %}

	{% if oly.overdue %}
	<td>Finished {{ oly.due_date|date:"DATE_FORMAT" }}</td>
	{% elif oly.started %}
	<td>Due {{ oly.due_date|date:"DATE_FORMAT" }}</td>
	{% else %}
	<td>{{ oly.start_date|date:"DATE_FORMAT" }} &ndash; {{ oly.due_date|date:"DATE_FORMAT" }}</td>
	{% endif %}
</tr>
{% endfor %}
</table>
<p>Submit these to <a href="http://www.gradescope.com">GradeScope</a>,
unless otherwise specified.
See the syllabus for full instructions.</p>


<hr />

<h2>Practice HMMT</h2>
<p><a href="{% static "answersheets/short.pdf" %}">Link to <b>short-answer forms</b>.</a></p>

<table class="table">
{% for assn in assignments %}
<tr>
	<th>{{ forloop.counter }}</th>

	{# Status symbol #}
	{% if assn.overdue %}
	<td>&check;</td>
	{% elif assn.current %}
	<td>&star;</td>
	{% else %}
	<td></td>
	{% endif %}

	<td>{{ assn }}</td>

	{% if assn.overdue %}
	<td>Finished {{ assn.due_date|date:"DATE_FORMAT" }}</td>
	{% elif assn.started %}
	<td>Due {{ assn.due_date|date:"DATE_FORMAT" }}</td>
	{% else %}
	<td>{{ assn.start_date|date:"DATE_FORMAT" }} &ndash; {{ assn.due_date|date:"DATE_FORMAT" }}</td>
	{% endif %}
</tr>
{% endfor %}
</table>

<p>Submit these to <a href="http://www.gradescope.com">GradeScope</a>,
unless otherwise specified.
See the syllabus for full instructions.</p>
{% endblock %}
