{% extends 'layout.html' %}
{% block title %}Suggestions to resolve{% endblock %}
{% block layout-content %}


{% for form in forms %}
<h3>{{ form.instance.source }} &mdash; {{ form.instance.description }}</h3>
<ul>
	<li>Suggested by
		<a href="{{ form.instance.student.get_absolute_url }}">{{ form.instance.student.name }}</a>
		for {{ form.instance.unit }}</li>
	<li><a href="{% url "admin:dashboard_problemsuggestion_change" form.instance.id %}">
			Edit in Django admin</a></li>
	<li>Timestamp: {{ form.instance.created_at|date:"DATETIME_FORMAT" }}</li>
	{% if not form.instance.acknowledge %}
	<li><i>Anonymous submission</i></li>
	{% endif %}
	{% if form.instance.comments %}
	<li><b>Comment:</b> {{ form.instance.comments }}</li>
	{% endif %}
</ul>
<div class="alert alert-primary">
	{% if form.instance.weight %}
	<b>[{{form.instance.weight}}]</b>
	{% endif %}
	{{ form.instance.statement }}
</div>

<form action="{% url "resolve-suggest" form.instance.id %}" method="post">
	{% csrf_token %}
	<table class="table">
		<td>
			<button type="button" id="copy{{ form.instance.id }}" class="btn btn-primary">Copy</button><br />
			<button type="submit" class="btn btn-success">Resolve</button>
		</td>
		<td>
			{{ form.reason }}
		</td>
	</table>
</form>

<textarea style="display:none;" id="data{{form.instance.id}}">{{ form.instance.statement }}

---

{% if form.instance.acknowledge %}\emph{This problem and solution were suggested by {{ form.instance.student.name }}.}

{% endif %}{{ form.instance.solution }}
</textarea>

<script type="text/javascript">
	$(document).ready(function() {
		$("#copy{{form.instance.id}}").click(function() {
			var e = $("#data{{form.instance.id}}");
			e.css('display', 'block');
			e.select();
			document.execCommand("copy");
			e.css('display', 'none');
			$(this).html("Copied!");
		});
	});
</script>


<div class="alert alert-secondary">
	<b>Solution.</b> {{ form.instance.solution }}
</div>
{% if form.instance.comment %}
<div class="alert alert-dark">
	{{ form.instance.comment }}
</div>
{% endif %}
<hr />
{% endfor %}


{% endblock %}