{% extends 'layout.html' %}
{% load static %}
{% load staticfiles %}

{% block layout-content %}

{% if omniscient %}
	<p>This is the dashboard for {{ student.name }},
	for <b>{{ semester.name }}</b>
	(their track is <b>{{ student.get_track_display }}</b>).
	{% if student.assistant %}
		The assistant instructor is <b>{{ student.assistant.name }}</b>.
	{% endif %}
	</p>
	<p>So far they completed <b>{{ student.current_unit_index }} of
		{{ student.curriculum_length }} units</b>.</p>
{% else %}
	<p>Hi {{ student.name }}, welcome back to <b>{{ semester.name }}</b>.
	You have completed {{ student.current_unit_index }} of
	{{ student.curriculum_length }} units.</p>
	{% if student.assistant %}
		<p>Your assistant instructor is <b>{{ student.assistant.name }}</b>.</p>
	{% endif %}
{% endif %}


<h2>Curriculum Materials</h2>
{% include "dashboard/list_curriculum.html" %}
<p>Completed units are marked with &check;.
This occurs automatically once a problem set is submitted.</p>
<p>The current unit is marked with a &star;.
This counter needs to be advanced manually by staff.
While waiting, you can see two units ahead of the current unit
(in addition to those that were skipped ahead to).</p>
<hr />

<h2>Launchpad (places to go)</h2>
<table class="table">
<tr>
<td valign="top" width="50%">
	<h3>General info</h3>
	<ul>
	<li><a href="http://web.evanchen.cc/upload/otis-syllabus.pdf">Syllabus</a></li>
	<li><a href="http://web.evanchen.cc/private/parent-info.pdf">Parent info</a></li>
	<li><a href="{% url "synopsis" %}">Class descriptions</a></li>
	</ul>
</td>
<td valign="top" width="50%">
	<h3>Site controls</h3>
	<ul>
		<li><a href="{% url "uploads" student.id 0 %}">Miscellaneous uploads</a></li>
		<li><a href="{% url "currshow" student.id %}">Class selection</a></li>
		{% if semester.show_invoices %}
		<li><a href="{% url "invoice" student.id %}">Invoice</a></li>
		{% endif %}
		{% if omniscient %}
		<li> <a href="{% url "advance" student.id %}">Advance student</a> (instructor)</li>
		{% endif %}
	</ul>
</td>
</tr>
<tr>
<td valign="top">
	<h3>Downloads</h3>
	<ul>
		<li> <a href="https://www.dropbox.com/s/vx2e7hm4n5dfj8x/long.pdf?dl=0">
			Olympiad answer sheets</a></li>
		<li><a href="https://www.dropbox.com/s/j2r3gzhuljnqaih/short.pdf?dl=0">
			Short-answer (quiz) forms</a></li>
		<li><a href="https://www.dropbox.com/s/rs21apzqpm4b0qq/psychology.pdf?dl=0">
			Psychology</a>  (test-taking strategies)</li>
	</ul>
</td>
<td valign="top">
	<h3>External sites</h3>
	<ul>
		<li><a href="https://www.zoom.us/j/{{ semester.zoom_room_id }}">Zoom classroom</a>
		</li>

		<li><a href="https://www.gradescope.com">GradeScope</a>
		{% if semester.gradescope_key %}
		<br><i>Entry key</i>: <b>{{ semester.gradescope_key }}</b>
		{% endif %}
		</li>

		{% if semester.facebook_url %}
		<li><a href="{{ semester.facebook_url }}">Facebook group</a></li>
		{% endif %}

		{% if semester.active %}
		<li>
		<a href="{{ student.calendar_url }}" target="_blank">OTIS calendar (GCal)</a>
		</li>
		{% endif %}
	</ul>
</td>
</tr>
</table>


<hr />

{% if semester.active %}
<h2>Mock Olympiads (Tests)</h2>
{% include "dashboard/list_exam.html" with exams=tests %}

<p><a href="https://www.dropbox.com/s/vx2e7hm4n5dfj8x/long.pdf?dl=0">
Link to olympiad answer sheets.</a>
Submit these to <a href="http://www.gradescope.com" target="_blank">GradeScope</a>,
unless otherwise specified.
See the syllabus for full instructions.</p>

<p>Solutions are available immediately here so that you can
read them right after completing a mock olympiad.
Obviously, don't open the solutions until you've submitted!
Before taking your first mock olympiad, I recommend reading the
<a href="https://www.dropbox.com/s/rs21apzqpm4b0qq/psychology.pdf?dl=0">handout</a>
on olympiad strategy.</p>

<h2>Quizzes</h2>
{% include "dashboard/list_exam.html" with exams=quizzes %}
<p><a href="https://www.dropbox.com/s/j2r3gzhuljnqaih/short.pdf?dl=0">Link to short-answer forms.</a>
Submit these to <a href="http://www.gradescope.com" target="_blank">GradeScope</a>,
unless otherwise specified.
See the syllabus for full instructions.</p>
{% else %}

<p>This page from {{ semester }} is now archived.
Thanks for playing.</p>

{% endif %}

{% if student.meets_evan and semester.active %}
<hr />

<h2>Calendar</h2>
<p>Here is the list of upcoming video calls.
<a href="{{ student.calendar_url }}" target="_blank">Link to <b>full-screen calendar</b></a>
(opens in new window).
Be sure to check that the time zones display correctly!
</p>

<iframe src="{{ student.calendar_url }}" style="border-width:0" width="520" height="600" frameborder="0" scrolling="no"></iframe>
{% endif %}

{% endblock %}
