{% extends 'layout.html' %}
{% load static %}

{% block layout-content %}

{% if not student.payment_status|divisibleby:"4" %}
<div class="alert
	{% if student.payment_status == 1 or student.payment_status == 5 %}
		alert-info
	{% elif student.payment_status == 2 or student.payment_status == 6 %}
		alert-warning
	{% elif student.payment_status == 3 or student.payment_status == 7 %}
		alert-danger
	{% endif %}
	">
	<h1 class="alert-heading">
		{% if student.payment_status == 1 or student.payment_status == 5 %}
		Payment reminder
		{% elif student.payment_status == 2 or student.payment_status == 3 %}
		Payment due
		{% else %}
		Payment overdue
		{% endif %}
	</h1>
	{% if student.payment_status == 1 %}
		As a quick reminder, the payment deadline
		{{ semester.first_payment_deadline|date:"Y-m-d" }}
		is coming soon.
	{% elif student.payment_status == 2 %}
		The payment deadline
		{{ semester.first_payment_deadline|date:"Y-m-d" }}
		has passed, but no payment was received.
	{% elif student.payment_status == 3 %}
		More than a week since the deadline
		{{ semester.first_payment_deadline|date:"Y-m-d" }}
		has passed, but no payment is recorded.
	{% elif student.payment_status == 5 %}
		As a quick reminder, the deadline
		{{ semester.most_payment_deadline|date:"Y-m-d" }}
		for full payment is coming soon.
	{% elif student.payment_status == 6 %}
		The payment deadline
		{{ semester.most_payment_deadline|date:"Y-m-d" }}
		has passed, but your payment is incomplete!
	{% elif student.payment_status == 7 %}
		More than a week since the deadline
		{{ semester.most_payment_deadline|date:"Y-m-d" }}
		has passed, but your payment is incomplete.
	{% endif %}
	<a href="{% url "invoice" student.id %}" class="alert-link">Link to invoice.</a>
</div>
{% endif %}

{% if student.newborn %}
	<p>Hello, {{ student.name }}!
	Welcome to OTIS.
	You are participating in {{ semester.name }}.</p>
	<p>Let's get you set up by picking your units!</p>
	<h1>Getting Started &mdash; Setup Instructions</h1>
	<p>Follow the three steps below to get everything working.</p>
	<ol>
		<li>Read the <a href="{% static "info/unit-guide.pdf" %}">unit selection guide</a>
			to give yourself ideas on which units you want to work on.
		</li>
		<li>Read the <a href="{% url "synopsis" %}">catalog</a>
			for the list of all possible units.</a>
		<li>Use the
			<a href="{% url "currshow" student.id %}">selection form</a>
			to input your initial choices for which units you want to do.
			For full-year students,
			I suggest to pick 15-20 units you are most interested in.
			(If you're joining halfway through, start with 7-10 units.)
			You can save this form multiple times;
			the intermediate results will be shown below.

			<a href="{% url "currshow" student.id %}" class="text-white btn btn-success"/>
				Open selection form
			</a>
		</li>
		<li>Once you are happy with your selection, you may
			finalize your choices.
			<form action="{% url "finalize" student.id %}" method="post">
				{% csrf_token %}
				<input type="submit"
							 class="btn btn-warning" value="Finalize" />
			</form>
			<i>Warning:</i> once you click this link,
			your decision is complete and you cannot directly
			make further changes.
			However, the <b>unit inquiry</b> system (linked below) becomes enabled,
			and you can make requests for changes there.
		</li>
	</ol>
	<hr />
{% elif not student.semester.uses_legacy_pset_system %}
	<h1>Level {{ level_number }} &mdash;
		<a href="{% url "stats" student.id %}">🏅{{ level_name }}</a></h1>

	<div class="container">
		<div class="row">
			{% include "dashboard/meters/small.html" with meter=meters.clubs %}
			{% include "dashboard/meters/small.html" with meter=meters.hearts %}
			{% include "dashboard/meters/small.html" with meter=meters.spades %}
			{% include "dashboard/meters/small.html" with meter=meters.diamonds %}
		</div>
	</div>

	<div class="text-center">
		<a href="{% url "stats" student.id %}" style="margin: 0 auto; width: 120px;"
			class="btn btn-primary text-white" role="button">View stats</a>
		&nbsp;
		<a href="{% url "submit-pset" student.id %}" style="margin: 0 auto; width: 120px;"
			class="btn btn-success text-white" role="button">Submit unit</a>
	</div>
{% endif %}

{% if emails %}
<h2>Recent announcements</h2>
<ul>
{% for email in emails %}
	<li>
		📧<a href="{{email.url}}">{{email.title}}</a><br />
		{{email.timestamp}}<br />
		<span class="text-muted">{{ email.preview_text }}</span>
	</li>
{% endfor %}
</ul>
{% endif %}

<hr />

<h2>Your units</h2>
{% include "dashboard/list_curriculum.html" %}
<p>
After submitting a problem set, the unit is marked ⏳;
after instructor review, it becomes ✅.
(You can access solutions in the meantime.)
Units to work on are marked ▶️.
</p>
<hr />

<h2>Launchpad (places to go)</h2>
<table class="table">
<tr>
<td valign="top" width="50%">
	<h3>Academic</h3>
	<ul>
	<li><b><a href="{% url "inquiry" student.id %}">Unit inquiries</a>
			(request changes to units)</b></li>
	<li><b><a href="{% url "arch-index" %}">ARCH</a>
			(for hints)</b></li>
	{# <li><a href="{% url "uploads" student.id 0 %}">Miscellaneous uploads</a></li> #}
	<li><a href="{% url "currshow" student.id %}">Class selection</a></li>
	<li><a href="{% url "synopsis" %}">Unit catalog</a></li>
	{% if omniscient %}
	<li> <a href="{% url "advance" student.id %}">Advance student</a> (instructor)</li>
	{% endif %}
	<li><a href="{% url "suggest-list" student.id %}">
			Show suggestions</a></li>
	<li><a href="{% url "downloads" student.id %}">Semester downloads
			({{ num_sem_download }})</a></li>
	</ul>
</td>
<td valign="top" width="50%">
	<h3>Logistics</h3>
	<ul>
	{% if semester.show_invoices %}
	<li><a href="{% url "invoice" student.id %}">Invoice</a></li>
	{% endif %}
	{% if semester.active and student.meets_evan %}
	<li>
	<a href="{{ semester.calendar_url_meets_evan }}" target="_blank">
		OTIS calendar (meetings)</a>
	</li>
	{% endif %}
	{% if semester.active %}
	<li>
	<a href="{{ semester.calendar_url_no_meets_evan }}" target="_blank">
		OTIS calendar (no meetings)</a>
	</li>
	{% endif %}
	<li><a href="https://web.evanchen.cc/upload/otis-syllabus.pdf">Syllabus</a></li>
	<li><a href="{% static "info/parent-info.pdf" %}">Payment info</a></li>
	</ul>
</td>
</tr>
<tr>
<td valign="top">
	<h3>Files</h3>
	<ul>
		<li><a href="{% static "info/blank.pdf" %}">
			Olympiad answer sheets</a></li>
		<li><a href="{% static "info/psychology.pdf" %}">
			Psychology</a>  (test-taking strategies)</li>
		<li><a href="{% static "info/unit-guide.pdf" %}">
			Unit selection guide</a></li>
		<li><a href="{% static "info/mock-imo.pdf" %}">
			Extra mock IMO's (shortlist)</a></li>
	</ul>
</td>
<td valign="top">
	<h3>External sites</h3>
	<ul>
		{% if student.track == "A" or student.track == "B" %}
		<li><a href="{% url "classroom" %}">1:1 meeting link</a>
		(otis.evanchen.cc/core/classroom)
		</li>
		{% endif %}

		<li><a href="https://www.gradescope.com">GradeScope</a>
		{% if semester.gradescope_key %}
		(entry key: {{ semester.gradescope_key }})
		{% endif %}
		</li>

		{% if semester.social_url %}
		<li><a href="{{ semester.social_url }}">OTIS Discord</a></li>
		{% endif %}
	</ul>
</td>
</tr>
</table>


<hr />

{% if semester.active %}
<h2>Mock olympiads (tests)</h2>
{% include "dashboard/list_exam.html" with exams=tests %}

<p><a href="{% static "info/blank.pdf" %}">
Link to olympiad answer sheets.</a>
Submit these to <a href="https://www.gradescope.com" target="_blank">GradeScope</a>,
unless otherwise specified.
See the syllabus for full instructions.</p>

<p>Solutions are available immediately here so that you can
read them right after completing a mock olympiad.
Obviously, don't open the solutions until you've submitted!
Before taking your first mock olympiad, I recommend reading the
<a href="{% static "info/psychology.pdf" %}">handout on olympiad strategy.</a></p>

<h2>Quizzes</h2>
{% include "dashboard/list_exam.html" with exams=quizzes %}

{% else %}
<p>This page from {{ semester }} is now archived.
Thanks for playing.</p>

{% endif %}

{% if semester.active %}
<hr />
<h2>Calendar</h2>
<p> Be sure to check that the time zones display correctly!</p>
<p>You can also open these in a new window:</p>
<ul>
	{% if student.meets_evan %}
	<li>
	<a href="{{ semester.calendar_url_meets_evan }}" target="_blank">
		OTIS calendar (meetings)</a>
	</li>
	{% endif %}
	<li>
	<a href="{{ semester.calendar_url_no_meets_evan }}" target="_blank">
		OTIS calendar (no meetings)</a>
	</li>
</ul>
<iframe src="{{ student.calendar_url }}" style="border-width:0" width="520" height="600" frameborder="0" scrolling="no"></iframe>
{% endif %}

{% endblock %}
