{% extends "layout.html" %}
{% load otis_extras %}
{% block layout-content %}
  {% if request.user.is_staff %}
    {% include "dashboard/components/portal_staff_info.html" %}
  {% endif %}
  {% include "dashboard/components/portal_alerts.html" %}
  {% if student.newborn and student.semester.active %}
    {% include "dashboard/components/portal_newborn.html" %}
  {% else %}
    {% include "dashboard/components/portal_greeting.html" %}
  {% endif %}
  {% include "dashboard/components/portal_buttons.html" %}
  {% if num_news > 0 and not student.newborn %}
    {% include "dashboard/components/portal_news.html" %}
  {% endif %}
  <hr />
  {% include "dashboard/components/portal_history.html" %}
  <h2>Your units</h2>
  {% if request.user|getconfig:"show_portal_instructions" %}
    {% include "dashboard/components/portal_instructions.html" %}
  {% endif %}
  {% include "dashboard/components/curriculum.html" %}
  {% include "dashboard/components/portal_links.html" %}
  <hr />
  {% if semester.active and student.enabled %}
    {% include "dashboard/components/portal_exams.html" %}
  {% elif not semester.active %}
    <p>This page from {{ semester }} is now archived. Thanks for playing.</p>
  {% endif %}
  {% if semester.active and student.enabled %}
    {% include "dashboard/components/portal_calendar.html" %}
  {% endif %}
{% endblock layout-content %}
{% block scripts %}
  {% include "dashboard/components/portal_scripts.html" %}
{% endblock scripts %}
