{% extends 'layout.html' %}
{% block title %}Submission for {{ pset.upload.unit }}{% endblock %}
{% block layout-content %}

{% if pset.approved %}
<div class="alert alert-success">
	This unit submission was approved.
	If you haven't read the solutions yet,
	you can <a href="{% url "resubmit-pset" pset.pk %}">resubmit this problem set</a>
	if you find time do more problems.
</div>
{% else %}
<div class="alert alert-primary">
	This unit submission is pending approval from your instructor.
	<a href="{% url "resubmit-pset" pset.pk %}">Edit your submission</a>
	if you wish to make changes.
</div>
{% endif %}

<h2>Details</h2>
<ul>
	<li>Unit: <a href="{% url "view-problems" pset.unit.pk %}">{{ pset.unit }}</a>
		<ul>
			<li><a href="{% url "view-solutions" pset.unit.pk %}">Solutions</a></li>
		</ul>
	</li>
	<li>Submitted: {{ pset.upload.created_at }}</li>
	<ul>
		{% if pset.clubs is not None %}
		<li>Clubs: {{ pset.clubs }}♣</li>
		{% endif %}
		{% if pset.hours is not None %}
		<li>Hours: {{ pset.hours }}♥</li>
		{% endif %}
	</ul>
	{% if pset.feedback %}
	<li>Your comments: <div>
			<code>{{ pset.feedback }}</code>
		</div>
	</li>
	{% endif %}
	{% if pset.special_notes %}
	<li>Your special notes: <div>
			<code>{{ pset.special_notes }}</code>
		</div>
	</li>
	{% endif %}
</ul>

<p><a href="{{ pset.upload.url }}">Download your submission.</a></p>
<iframe width="100%" height="200px" src="{{pset.upload.url}}"></iframe>
{% endblock %}
