{% extends 'layout.html' %}
{% block title %}Submission for {{ pset.upload.unit }}{% endblock %}
{% block layout-content %}

{% if pset.rejected %}
<div class="alert alert-warning">
	This unit submission was rejected.
	You should <a href="{% url "resubmit-pset" pset.pk %}">resubmit it</a>.
</div>
{% elif pset.approved %}
<div class="alert alert-success">
	This unit submission was approved.
	If you haven't read the solutions yet,
	you can <a href="{% url "resubmit-pset" pset.pk %}">resubmit this problem set</a>
	if you find time do more problems.
</div>
{% else %}
<div class="alert alert-primary">
	This unit submission is pending approval from your instructor.
	<a href="{% url "resubmit-pset" pset.pk %}">Edit your submission</a>
	if you wish to make changes.
</div>
{% endif %}

<h2>Details</h2>
<table class="table">
	<tr>
		<th>{{ pset.unit }}</th>
		<td>
			<a href="{% url "view-problems" pset.unit.pk %}">Problems</a>
			|
			<a href="{% url "view-solutions" pset.unit.pk %}">Solutions</a>
		</td>
	</tr>
	<tr>
		<th>Timestamp</th>
		<td>Submitted: {{ pset.upload.created_at }}</td>
	</tr>
	<td>{{ pset.clubs }}♣</td>
	<td>{{ pset.hours }}♥</td>
</table>

{% if pset.feedback %}
<h3>Your comments</h3>
{{ pset.feedback|linebreaks }}
{% endif %}

{% if pset.special_notes %}
<h3>Notes</h3>
{{ pset.special_notes|linebreaks }}
{% endif %}

<p><a href="{{ pset.upload.url }}">Download your submission.</a></p>
<iframe width="100%" height="200px" src="{{pset.upload.url}}"></iframe>
{% endblock %}
