{% extends "layout.html" %}
{% load tz %}
{% block title %}
  Problem set submission queue
{% endblock title %}
{% block layout-content %}
  {% load otis_extras %}
  <p>Here are all the problem sets that haven't been checked yet.</p>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th class="text-end">#</th>
        <th>Unit</th>
        <th>Timestamp (UTC)</th>
        <th class="text-end">PK</th>
      </tr>
    </thead>
    <tbody>
      {% for pset in object_list %}
        <tr {% if pset.student.user == request.user %}class="table-warning fw-bold"{% endif %}>
          <td class="text-end">{{ forloop.counter }}.</td>
          <td>
            {% if pset.student.user == request.user or request.user.is_staff %}
              <a href="{{ pset.get_absolute_url }}">{{ pset.unit.group.name }}<sup>{{ pset.unit.code }}</sup></a>
            {% else %}
              {% if pset.unit.group.hidden %}
                Redacted<sup>❓</sup>
              {% else %}
                {{ pset.unit.group.name }}<sup>{{ pset.unit.code }}</sup>
              {% endif %}
            {% endif %}
          </td>
          <td>{{ pset.upload.created_at|timezone:"UTC" }}</td>
          <td class="text-end">
            {% if request.user.is_staff %}
              <a href="{% url "admin:dashboard_pset_change" pset.pk %}">{{ pset.pk }}</a>
            {% else %}
              {{ pset.pk }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock layout-content %}
