{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block layout-content %}
{% if inquiry_nag > 0 %}
<p style="color:red;"><i>Note:</i>:
There are <a href="{% url "list-inquiry" %}">
	<b>{{ inquiry_nag }} unit inquiries</b></a>
which haven't been answered yet.</p>
{% else %}
<p>Thankfully, there are <b>0 inquiries</b> to process now.</p>
{% endif %}

<p>There are {{ items|length }} problem sets
from the last {{ num_hours }} hours
which apparently haven't been completely processed yet.
They are listed below.
</p>

<table class="table">
{% for item in items %}
<tr>
	<th>#{{ forloop.counter }}</th>
	<td>
	<a href="{{item.file.url}}"><tt>{{ item.filename }}</tt></a>
	</td>
	<td><a href="{% url 'advance' item.student.id %}">&#x2694;
		<i>{{ item.student.name }}</i></a></td>
	<td style="font-size:90%;">{{ item.file.unit }}</td>
</tr>
<tr>
	<td></td>
	<td style="font-size:80%;">{{ item.file.created_at|naturaltime }}</td>
	<td>{% if item.student.assistant %}<b>(+ {{item.student.assistant.shortname}})</b>{% endif %}</td>
	<td>{{ item.num_done }} of {{ item.num_psets }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
