{% extends 'layout.html' %}
{% load static %}
{% load staticfiles %}

{% block layout-content %}

<p>The most recent {{ items|length }}
problem set submissions are listed below.</p>

{% for item in items %}
<h3>#{{ forloop.counter }}.
	{{ item.file.unit }} &mdash;
	<a href="{% url "portal" item.student.id %}">{{ item.student.name }}</a>
</h3>
<ul>
	<li>{% include "dashboard/show_file.html" with file=item.file %}</li>
</ul>

<p>
	<i><a href="{% url "advance" item.student.id %}">
	&rArr; Advance
	{{ item.student.name }}
	</a>
	&ndash;
	{{ item.student.get_track }}
	</i>
</p>

{% include "dashboard/list_curriculum.html" with student=item.student curriculum=item.rows %}

<hr />
{% endfor %}

{% endblock %}
