{% extends 'layout.html' %}
{% load humanize %}
{% block layout-content %}

<p><a href="{{ pset.get_absolute_url }}">Return to problem set view</a></p>

<div class="alert alert-primary">
	{% if pset.approved or pset.resubmitted %}
	You are about to <em>resubmit</em> for the unit {{ pset.unit }}.
	(You might do this, for example, if you solve more problems later on.)
	This will overwrite your previous submission,
	and add it back to the queue of problem sets requiring a check-off.
	{% else %}
	This problem set hasn't been checked off yet,
	so you can use this page to update your submission before
	Evan or a different instructor gets to it.
	{% endif %}
</div>

{% include "generic_form.html" %}

{% endblock %}
