{% extends 'layout.html' %}
{% block layout-content %}
{% load otis_extras %}

{% if students|length > 0 %} {# if >0 student to list #}
<p>Here are the participants to which you have access.</p>

<table class="table">
<thead class="table-dark">
<tr>
	<th>#</th>
	<th>Name</th>
	{% if stulist_show_semester %}
	<th>Year</th>
	{% else %}
	<th>Level</th>
	{% endif %}
	<th>Track</th>
	<th>Progress</th>
</tr>
</thead>
<tbody>
{% for student in students %}
<tr> {# begin table row for this student #}
	<td>{{ forloop.counter }}</td>
	<td><a href="{% url "portal" student.id %}">
			{{ student.name }}</a></td>

	{% if stulist_show_semester %}
	<td>{{ student.semester }}</td>
	{% else %}
	<td>Level {{ student|level }}</td>
	{% endif %}

	<td>{{ student.get_track }}</td>
	<td>{% if student.legit %}
		{{ student.num_psets|default:0 }}
		/ {{ student.curriculum_length }}
		{% endif %}</td>
</tr> {# end table row for this student #}
{% endfor %}
</tbody>
</table>

<p>This list was generated {% now "r" %}.
Have a nice day.</p>

{% else %} {# if no students at all #}
<p><i>But nobody came.</i></p>
<hr />
<p>There isn't anything here yet.</p>
	{% if request.user.is_staff %}
	<p>You're a staff member, so if you're expecting to see something, contact Evan.</p>

	{% elif submitted_registration %}
	<p>You just recently registered,
	so you'll need to wait for it to be approved and activated.
	Contact me if you think this is an error.</p>

	{% else %}
	<p>To register for this year,
		<a href="{% url "register" %}">submit the decision form</a>.</p>
	{% endif %}
{% endif %}

{% if past %}
	<p>This page includes past years of OTIS too.</p>
{% else %}
	<p>You can view <a href="{% url "past" %}">🕗 past semesters</a>
	if you participated in OTIS before.</p>
{% endif %}
{% endblock %}
