{% extends 'layout.html' %}
{% block layout-content %}
{% if students|length > 0 %}
	<p>Here are the students to which you have access.</p>
	<table>
	{% for student in students %}
	<tr><td>{{ forloop.counter }}</td>
		<td><a href="{% url "dashboard" student.id %}">{{ student.name }}</a></td>
		<td>{{ student.semester }}</td>
		<td>{% if student.assistant %}{{ student.assistant }}{% endif %}</td>
		<td>{{ student.current_unit_index }} / {{ student.curriculum_length }}</td>
	</tr>
	{% endfor %}
	</table>
{% else %}
	<p><i>But nobody came.</i></p>
{% endif %}

{% if show_past_link %}
<p>For past semesters, <a href="{% url "past" %}">see here</a>.</p>
{% endif %}
{% endblock %}
