{% extends 'layout.html' %}
{% load humanize %}
{% block title %}Problem Sets{% endblock %}
{% block layout-content %}

<p><a href="{% url "portal" student.id %}">
		⬅️ Back to portal</a></p>
<div class="alert alert-info">
	If you have problems to suggest for this unit,
	please use the <a href="{% url "suggest-new" student.id %}">problem suggestion form</a>.
</div>

{% if pending_psets %}
<h2>Pending submissions</h2>
<div class="list-group">
	{% for pset in pending_psets %}
	<a href="{{pset.get_absolute_url}}" class="list-group-item list-group-item-action">
		{{ pset.unit }}, submitted {{ pset.upload.created_at|naturaltime }}
	</a>
	{% endfor %}
</div>
<hr />
{% endif %}

<h2>Submit new problem set</h2>

{% include "generic-form.html" %}

<hr />

<h2>Approved submissions</h2>
{% if approved_psets %}
<table class="table">
	{% for pset in approved_psets %}
	<tr>
		<td>{{pset.clubs}}♣</td>
		<td><a href="{{pset.get_absolute_url}}">{{ pset.unit }}</td>
		<td>{{ pset.upload.created_at|naturaltime }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>You haven't submitted any problem sets yet this year.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(() => {
		$("select").chosen();
	});
</script>
{% endblock %}
