{% extends 'layout.html' %}
{% block title %}{% if unit %}Uploads for {{ unit }}{% else %}Miscellaneous Uploads{% endif %}{% endblock %}
{% block layout-content %}
{% if unit %}
<p>These are the uploaded files for the unit <b>{{ unit }}</b>.</p>
{% else %}
<p>These are the <b>miscellaneous</b> uploaded files
(not attached to any particular unit).</p>
{% endif %}

{% if files|length > 0 %}
<ol>
{% for file in files %}
<li>
	<p><b><a href="{{ file.content.url }}">{{ file }}</a></b>
	{% if file.description %} &mdash; {{file.description}}{% endif %}
	<br />
	<small>Uploaded by <i>{{ file.owner }}</i> at {{ file.created_at|date }}.
	{% if file.owner.username == request.user.username %}
	<a href="{% url "editfile" file.id%}">(edit)</a>
	<a href="{% url "delfile" file.id%}">(delete)</a></small>
	{% endif %}
	</p>
</li>
{% endfor %}
</ol>
{% else %}
<p><i>Nothing here yet!</i></p>
{% endif %}

<h2>Upload</h2>
To upload files to this unit (or any other), use the following form.
{% include "generic-form.html" with submit_name="Upload" %}

<h2>Other Uploads</h2>
<p>Use the links below to access other materials.</p>
{% include "dashboard/list_curriculum.html" with omniscient=False %}
<ul>
<li><a href="{% url "uploads" student.id 0 %}">Link to miscellaneous uploads</a></li>
<li><a href="{% url "dashboard" student.id %}">Back to dashboard</a></li>
</ul>

{% endblock %}
