{% extends 'layout.html' %}
{% block title %}{% if unit %}Uploads for {{ unit }}{% else %}Hidden Uploads{% endif %}{% endblock %}
{% block layout-content %}
<p>These are all your files associated with unit <strong>{{ unit }}</strong>,
	such as problem set submissions and lecture note transcripts.</p>

{% if files|length > 0 %}
<ol>
	{% for file in files %}
	<li>{% include "dashboard/show_file.html" %}</li>
	{% endfor %}
</ol>
{% else %}
<p><i>Nothing here yet!</i></p>
{% endif %}

<h2>Manual upload (mostly for staff use)</h2>
To manually upload a new file related to this unit, use the following form.
{% include "generic-form.html" with submit_name="Upload" %}

<div class="alert alert-warning">
	<p>
		Students should NOT submit problem sets through this form.
		Use the <a href="{% url  "submit-pset" student.id %}">submit unit</a> form instead.
	</p>
</div>

<ul>
	<li><a href="{% url "portal" student.id %}">Back to portal</a></li>
</ul>

{% endblock %}
