{% extends "layout.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
  All yearbook entries
{% endblock title %}
{% block css %}
  <link href="{% static 'yearbook/yearbook.css' %}" rel="stylesheet" />
{% endblock css %}
{% block layout-content %}
  <p>
    All <b>{{ paginator.count }}</b> {{ paginator.count|pluralize:"entry,entries" }} in the yearbook,
    in alphabetical order.
    <a href="{% url "yearbook-index" %}">Back to index</a>
  </p>
  {% include "yearbook/components/entry_list.html" with empty_message="Nobody has signed the yearbook yet. Be the first!" %}
  {% if page_obj.has_other_pages %}
    {% bootstrap_pagination page_obj justify_content="center" %}
  {% endif %}
  <hr />
  <p>
    <a href="{% url "yearbook-index" %}">Back to the yearbook</a>
  </p>
{% endblock layout-content %}
