{% extends "layout.html" %}
{% block title %}
  Leave the yearbook
{% endblock title %}
{% block layout-content %}
  <div class="alert alert-danger">
    <p>
      This deletes your yearbook entry, including your avatar and everything you
      wrote on your personal page. You can sign the yearbook again later, but you
      will have to fill it all in again.
    </p>
  </div>
  <form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <p>Are you sure you want to leave the yearbook?</p>
    <button type="submit" class="btn btn-danger">Delete my entry</button>
    &nbsp;
    <a href="{{ entry.get_absolute_url }}" class="btn btn-outline-secondary">Never mind</a>
  </form>
{% endblock layout-content %}
