<div style="position: relative;
            padding: 5px 9px;
            height : 64px"
     class="col-md-6 col-12">
    <div style="font-size:32px; position: absolute; top: -6px; left: -8px;">
        <a class="emoji-link"
           href="/dash/stats/{{ student.id }}/#heading{{ meter.name }}">{{ meter.emoji }}</a>
    </div>
    <div class="progress" style="height: 24px;">
        <div class="progress-bar"
             style="width: {{ meter.percent }}%;
                    background-color: {{ meter.color }};
                    text-align: right;
                    padding-right: 2%">
            <span class="d-md-none d-lg-inline">{{ meter.total }}{{ meter.unit }}</span>
        </div>
    </div>
    <div style="position: relative;">
        <span class="meter-name" style="color: {{ meter.color }};">
            <big style="font-weight: 900;">{{ meter.level }}</big>
            {{ meter.name }}
        </span>
        <span style="position:absolute; right: 0; text-align: right;">
            <span class="text-muted d-md-none d-lg-inline">/ {{ meter.thresh }}{{ meter.unit }}</span>
            <span class="d-none d-md-block d-lg-none" style="color: {{ meter.color }};">
                {{ meter.total }} / {{ meter.thresh }}{{ meter.unit }}
            </span>
        </span>
    </div>
</div>
{% comment %}
vim: ft=htmldjango
{% endcomment %}
