{% extends 'layout.html' %}
{% block title %}Create Hint{% endblock %}
{% block layout-content %}
{% include "generic_form.html" %}
<hr />
<p>All edits are tracked by timestamp and username,
	so if for some reason you need to rewind some edits,
	please contact a staff member for assistance.</p>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#id_problem").chosen({
			placeholder_text: "...",
			width: "90%",
			search_contains: true,
		});
	});
</script>
{% endblock %}
