{% extends "layout.html" %}
{% block title %}
  Create Hint
{% endblock title %}
{% block layout-content %}
  <p class="text-muted">
    Back to <a href="{{ problem.get_absolute_url }}">{{ problem.puid }}</a>.
  </p>
  <hr />
  <div class="alert alert-info">
    <h2 class="alert-heading">Advice for writing hints</h2>
    <p>
      Hints should get solvers un-stuck.
      If someone isn't done after reading all the hints on ARCH, we've failed.
      So, try to be pretty generous, rather than subtle.
    </p>
    <p>
      In particular, <strong>prefer explicit instructions over vague pointers</strong>.
      Taking entire paragraphs from the solution is not only OK,
      but much better than cryptic one-sentence puzzles. Examples:
    </p>
    <ul>
      <li>
        <p>
          <strong>Very bad</strong>:
          "what technique is useful for sum-sets?".
        </p>
        <p>This is closer to an additional puzzle than a hint.</p>
      </li>
      <li>
        <p>
          <strong>Bad</strong>: "use generating functions".
        </p>
        <p>
          This at least mentions the correct technique, but says nothing
          about how to set it up or why it's relevant.
        </p>
      </li>
      <li>
        <p>
          <strong>Better</strong>: "Construct a generating function $F(X)$
          such that the coefficients of $F(X)^2$ match the left-hand sum".
        </p>
        <p>
          This is an explicit instruction. The solver is unambiguously told
          what the exact next step should be.
        </p>
      </li>
    </ul>
  </div>
  {% include "generic_form.html" %}
  <hr />
  <p>
    All edits are tracked by timestamp and username,
    so if for some reason you need to rewind some edits,
    please contact a staff member for assistance.
  </p>
{% endblock layout-content %}
{% block css %}
  <style type="text/css">
    #content_render {
        color: blue;
        font-family: sans-serif;
    }

    #id_content {
        font-size: 10pt;
    }
  </style>
{% endblock css %}
{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
        $("#id_problem").chosen({
            placeholder_text: "...",
            width: "90%",
            search_contains: true,
        });

        parent = $("#id_content").parent().get(0)
        d = document.createElement('div');
        $(d).attr('id', 'content_render')
            .html('')
            .appendTo(parent);

        function checkLineLength(s) {
            return !s.split("\n").some(e => e.length > 100); // amol stronk
        }

        $("#id_content").on("input", (e) => {
            render_content(true);
        });

        function render_content(enabled) {
            const s = $("#id_content").val();
            if (!enabled) return;
            $("#content_render").text(s);
            console.log(s);
            MathJax.typeset([document.querySelector("#content_render")]);
        }

        $("#id_content").blur(render_content(true));
    });
  </script>
{% endblock scripts %}
