{% extends 'layout.html' %}
{% load static %}
{% block title %}ARCH hints for {{ problem }}{% endblock %}

{% block layout-content %}

<h1>{{ problem.get_source }}</h1>
<h2>{{ problem.description }}</h2>
<hr />

{% if hint_list %}
<p>The following hints are available for this problem.</p>
{% for hint in hint_list %}
<a href="{% url "hint_detail" hint.id %}">
<div class="alert alert-primary">
<h2>Hint {{hint.number}}%</h2>
{% if hint.keywords %}<i>Keywords</i>: {{ hint.keywords }}{% endif %}
</div></a>
<hr />
{% endfor %}
{% else %}
<p><i>There aren't any hints here yet.
If you've solved this problem,
please help future students by
<a href="{% url "hint_create" problem.id %}">adding a hint</a></i>.</p>
</i>
<hr />
{% endif %}

<ul>
	<li><a href="{% url "hint_create" problem.id %}">Add hint</a></li>
	<li><a href="{% url "problem_update" problem.id %}">Edit problem</a></li>
	<li><a href="{% url "problem_delete" problem.id %}">Delete problem</a></li>
	<li><a href="{% url "problem_list" problem.group.id %}">Back to {{ problem.group }}</a></li>
</ul>

{% endblock %}
