{% extends "layout.html" %}
{% load static %}
{% block title %}
  ARCH hints for {{ problem }}
{% endblock title %}
{% block layout-content %}
  <p>
    <a href="{% url "arch-index" %}">⬅️ Back to ARCH index</a>
  </p>
  <hr />
  {% spaceless %}
    <h1>{{ problem }}</h1>
  {% endspaceless %}
  {% if statement %}<div class="alert-secondary alert">{{ statement|safe }}</div>{% endif %}
  {% if problem.hyperlink %}
    <p class="text-center">
      <a class="btn btn-secondary" href="{{ problem.hyperlink }}">
        <tt>🌏 {{ problem.hyperlink|truncatechars:"40" }}</tt>
      </a>
    </p>
  {% endif %}
  <hr />
  {% if hint_list %}
    <p>The following hints are available for this problem.</p>
    {% for hint in hint_list %}
      <a href="{% url "hint-detail" hint.puid hint.number %}">
        <div class="alert alert-primary">
          <h2>Hint {{ hint.number }}%</h2>
          {% if hint.keywords %}<i>Keywords</i>: {{ hint.keywords }}{% endif %}
        </div>
      </a>
    {% endfor %}
    <p>
      Some of the hints may be pretty oblique
      or not apply to you.
      Remember, you can always ask the OTIS Discord
      or <a href="mailto:evan@evanchen.cc">email Evan (evan@evanchen.cc)</a>
      for more personalized help!
    </p>
  {% else %}
    <p>
      There aren't any hints here yet.
      You'd probably have better luck asking on Discord.
      Or, you can also <a href="mailto:evan@evanchen.cc">email Evan</a>.
    </p>
    <p>
      If you've solved this, please help future students by
      <a href="{% url "hint-create" problem.puid %}">adding a hint</a>.
    </p>
  {% endif %}
  <div class="text-center">
    <a href="https://discord.com/channels/740366393022742618/1019651152385679491"
       class="btn btn-primary">💬 #math-discuss</a>
    <a href="{% url "hint-create" problem.puid %}" class="btn btn-success">🆕 Add hint</a>
    {% if request.user.is_staff %}
      <a href="{% url "admin:arch_problem_change" problem.pk %}"
         class="btn btn-dark">✏️ Edit</a>
    {% else %}
      <a href="{% url "problem-update" problem.puid %}" class="btn btn-dark">✏️ Edit</a>
    {% endif %}
  </div>
  <hr />
  <div class="text-center">
    <a href="{% url "view-solution" problem.puid %}" class="btn btn-info">📜 Solution (TeX)</a>
    <a href="{% url "vote-create" problem.puid %}" class="btn btn-secondary">🗳 Rate</a>
  </div>
{% endblock layout-content %}
