{% extends "layout.html" %}
{% load static %}
{% load otis_extras %}
{% block title %}
  Hint {{ hint.number }}% for {{ hint.problem }}
{% endblock title %}
{% block layout-content %}
  <p>Here is your hint:</p>
  <div class="alert alert-info">{{ hint.content|parbreaks }}</div>
  <ul>
    <li>
      <a href="{{ hint.problem.get_absolute_url }}">
      Back to <b>{{ hint.problem }}</b></a>
    </li>
  </ul>
  <hr />
  <ul>
    <li>
      <a href=" {% url "hint-create" hint.puid %}">Add another hint</a>
    </li>
    <li>
      <a href="{% url "hint-update" hint.puid hint.number %}">Update hint</a>
    </li>
    <li>
      <a href="{% url "hint-delete" hint.puid hint.number %}">Delete hint</a>
    </li>
  </ul>
{% endblock layout-content %}
{% block scripts %}
  <script type="text/javascript">
      document.addEventListener('keydown', function(event) {
          if (event.key === 'Escape' || event.key === 'Esc') {
              window.parent.location.href = document.referrer;
          }
      });
  </script>
{% endblock scripts %}
