{% extends "layout.html" %}
{% block title %}
  Arch
{% endblock title %}
{% block layout-content %}
  Welcome to <strong>ARCH</strong>,
  the Automated Repository of Canned Hints.
  We hope you enjoy your visit.
  <hr />
  <div class="container row">
    <div class="col-6">
      <h2>Find problem</h2>
      <div id="arch_puid_chosen_form" class="mathjax_ignore">
        {% include "generic_form.html" with form=lookup_form target=lookup_url submit_name="Lookup" btn_class="btn-primary" %}
      </div>
      <div id="arch_puid_mobile_form">
        <p>
          <input id="arch_puid_mobile_input" />
        </p>
        <p>
          <button id="arch_puid_mobile_submit" class="btn btn-primary">Go</button>
        </p>
      </div>
    </div>
    <div class="col-6">
      <h2>New problem</h2>
      {% include "generic_form.html" with submit_name="Create" %}
    </div>
  </div>
  <hr />
  <h2>Statistics</h2>
  <p>
    As of {% now "D, d M Y" %}, ARCH has
    <ul>
      <li>{{ num_problems }} problems written</li>
      <li>{{ num_hints }} hints written</li>
    </ul>
    Add more hints to make ARCH more useful to other students!
  </p>
  <hr />
  <h2>Discord integration</h2>
  <ul>
    <li>
      In any channel, type <code>/grab 20IMO6</code>
      to pull the problem statement and a link to the ARCH entry.
      This works with any problem identifier.
    </li>
    <li>
      If you're not in a thread, you can omit the <code>/grab</code>
      and this will still work.
    </li>
    <li>
      Use <code>/active</code> to display the currently discussed problem.
    </li>
    <li>
      To add a hint for the currently discussed problem,
      just use <code>/hint [type content]</code>.
      Evil Chin will output a link to the newly created hint,
      where you can (if you choose) change the number and keywords.
      (By default, Evil Chin selects the smallest unused multiple of 10 for the number.)
    </li>
  </ul>
{% endblock layout-content %}
{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
        // https://github.com/harvesthq/chosen/pull/1388
        const is_supported_browser = (function() {
            return false;
            if (/iP(od|hone)/i.test(window.navigator.userAgent)) {
                return false;
            }
            if (/\ Android\ /i.test(window.navigator.userAgent)) {
                return /Mobile/i.test(window.navigator.userAgent);
            }
            return true;
        })();
        const jumpToARCHPage = function(e) {
            const s = $("#arch_puid_mobile_input").val().toUpperCase().replace(/[^0-9A-Z]/gi, '');
            console.log(s);
            if (s !== "") {
                window.location.assign("/arch/" + s);
            }
        }

        if (is_supported_browser) {
            $("#id_problem").chosen({
                placeholder_text: "...",
                width: "90%",
                search_contains: true,
            });
            $("#arch_puid_mobile_form").remove();
        } else {
            $("#arch_puid_chosen_form").remove();
            $("#arch_puid_mobile_input").bind('blur', jumpToARCHPage);
            $("#arch_puid_mobile_submit").bind('click', jumpToARCHPage);
        }
        $("#id_puid").bind('keyup', function(e) {
            const s = $("#id_puid").val().toUpperCase().replace(/[^0-9A-Z]/gi, '');
            $("#id_puid").val(s);
        });
    });
  </script>
{% endblock scripts %}
