{% extends 'layout.html' %}
{% load static %}
{% block title %}ARCH listing for {{ group }}{% endblock %}

{% block layout-content %}

{% if problem_list %}
<p>Hints have been written for the following problems:</p>
{% for problem in problem_list %}
<div class="alert alert-success">
<h2><a href="{% url "hint_list" problem.id %}">
		{{problem.source|default:"(no source)"}}
	</a></h2>
	{{ problem.description }}
</div>
{% endfor %}
{% else %}
<p><i>There aren't any problems with hints here yet.
Want to <a href="{% url "problem_create" group.id %}">add some</a>?</i></p>
{% endif %}
<hr />
<ul>
	<li><a href="{% url "problem_create" group.id %}">Add problem</a></li>
</ul>

{% endblock %}
