{% extends 'layout.html' %}
{% load static %}
{% block title %}ARCH listing for {{ group }}{% endblock %}

{% block layout-content %}
<p>Welcome to OTIS-ARCH, the Automated Repository of Canned Hints.
This page provides a growing database of pre-written hints
to help you get unstuck on problems.</p>

{% if problem_list %}
<p>Hints have been written for the following problems:</p>
{% for problem in problem_list %}
<div class="alert alert-success">
<p>
	<b>
	<a href="{% url "hint_list" problem.id %}">
		{{problem.source|default:"(no source)"}}
	</a>
	</b> &mdash;
	{{ problem.num_hints }}
	hints.
	<a href="{% url "problem_update" problem.id %}">(edit)</a>
	<a href="{% url "problem_delete" problem.id %}">(delete)</a>
</p>
	<p>{{ problem.description }}</p>
</div>
{% endfor %}
{% else %}
<p><i>There aren't any problems with hints here yet.
Want to <a href="{% url "problem_create" group.id %}">add some</a>?</i></p>
{% endif %}
<hr />
<ul>
	<li><a href="{% url "problem_create" group.id %}">Add problem</a></li>
	<li><a href="{% url "index" %}">Back to index</a></li>
</ul>

{% endblock %}
