{% extends "layout.html" %}
{% load static %}
{% block title %}
  Vote for {{ problem }}
{% endblock title %}
{% block layout-content %}
  <p>
    <a href="{% url "hint-list" problem.puid %}">⬅️ Back to {{ problem }}</a>
  </p>
  <hr />
  {% spaceless %}
    <h1>{{ problem }}</h1>
  {% endspaceless %}
  {% if statement %}<div class="alert-secondary alert">{{ statement|safe }}</div>{% endif %}
  {% if problem.hyperlink %}
    <p class="text-center">
      <a class="btn btn-secondary" href="{{ problem.hyperlink }}">
        <tt>🌏 {{ problem.hyperlink|truncatechars:"40" }}</tt>
      </a>
    </p>
  {% endif %}
  <hr />
  <h2>Voting form</h2>
  {% if num_existing_votes %}
    <p>
      On a scale of 0 to 10,
      this problem has been rated by
      {{ num_existing_votes }} student{{ num_existing_votes|pluralize }}
      as <strong>{{ problem.niceness }}</strong>.
    </p>
    <p>
      {% if existing_vote %}
        You've already done so as well, but can change your rating below.
        (You previously rated as {{ existing_vote.niceness }}.)
      {% else %}
        You too can rate the problem below.
      {% endif %}
    </p>
  {% else %}
    <p>This problem has not been rated yet! Be the first to vote:</p>
  {% endif %}
  {% include "otisweb/components/generic_form.html" with submit_name="Vote" %}
{% endblock layout-content %}
